<div class="row">
  <div class="col-md-4">
    <label>Nome</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-md-4">
    <label>Unidade</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-md-4">
    <label>Quantidade</label>
    <input class="form-control" type="text" />
  </div>

  <div class="col-md-4">
    <label>Preço UN</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-md-4">
    <label>Total cusco</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-md-4">
    <label>Preço Venda Un</label>
    <input class="form-control" type="text" />
  </div>

  <div class="col-md-4">
    <label>Cliente</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-md-4">
    <label>Entidade a facturar</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-md-4">
    <label>Oportunidade de Negócio</label>
    <input class="form-control" type="text" />
  </div>

  <div class="col-md-12">
    <label>Descrição</label>
    <angular-editor
      [config]="editorConfig"
      style="width: 100%"
      class="editor"
    ></angular-editor>
  </div>
  &nbsp;

  <div id="btn" class="col-md-12">
    <div></div>
    <div>
      <button class="cancelar">Cancelar</button>
      &nbsp;
      <button class="registrar">Guardar</button>
    </div>
  </div>
  &nbsp;
</div>
