<section class="section">
  <div class="porpna-title">
    <h1>
      <i class="bi bi-gear-fill"></i
      ><span class="mx-2">Outras configurações do sistema</span>
    </h1>
  </div>
  <div class="col-lg-12 p-0">
    <div class="card recent-sales overflow-auto">
      <div class="card-body">
        <div class="row">
          <porpna-listar-altura
            class="col-lg-6 col-md-6 col-ms-12"
          ></porpna-listar-altura>
          <porpna-listar-idade
            class="col-lg-6 col-md-6 col-ms-12"
          ></porpna-listar-idade>
        </div>
      </div>
    </div>
  </div>
</section>
