<div class="content">
  <sigpq-header></sigpq-header>
  <div class="header-ficha mt-1">
    <div class="row" style="align-items: center">
      <div
        class="col-xl-8 col-lg-8 col-md-8 col-sm-12 d-flex justify-content-start align-items-start"
      >
        <div class="mais-info d-flex justify-content-center align-items">
          <h4 class="text-white">
            <b>Listagem dos efectivos para propostas de promoção/graduação</b>
          </h4>
        </div>
      </div>
    </div>
    <div class="row my-6">
      <div
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-end align-item-center"
      >
        <div
          class="d-flex justify-content-end align-items-center"
          *ngIf="this.getTemAgentesSelecionados"
        >
          <a
            href="javascript:void(0)"
            data-toggle="modal"
            data-target="#modalRegistarProvimento"
            class="btn-piips btn-piips-secondary border py-2 m-0"
          >
            <i class="fa fa-plus-circle"></i>
            {{
              this.getMaisAgentesSelecionados
                ? "Propor os selecionados"
                : "Propor o selecionado"
            }}
          </a>
          <a
            href="javascript:void(0)"
            data-toggle="modal"
            data-target="#modalVerSelecionados"
            class="btn-piips btn-piips-secondary border py-2 m-0"
          >
            <i class="fa fa-eye"></i>
            {{
              this.getMaisAgentesSelecionados
                ? "Ver todos selecionados"
                : "Ver todo selecionado"
            }}
          </a>
        </div>
        <div class="d-flex justify-content-end align-items-start">
          <button
            class="btn-piips btn-piips-secondary m-0 py-2 border"
            data-toggle="collapse"
            href="#pesquisa-avancada"
            role="button"
            aria-expanded="false"
            aria-controls="pesquisa-avancada"
            style="cursor: pointer"
          >
            <i class="fa fa-search mx-2"></i>Pesquisa avançada
          </button>
          <!-- <a href="javascript:void(0)" href="javascript:void(0)" data-toggle="modal" data-target="#"
                        class="btn-piips btn-piips-secondary border m-0 py-2 px-4"><i class="fa fa-list-alt"></i>
                        Exportar</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <fieldset class="w-100 p-1">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 my-2">
            <aside class="row" style="align-items: center; row-gap: 0.4rem">
              <div class="col-xl-1 col-lg-1 col-md-4 col-sm-12">
                <select
                  class="form-control w-100"
                  (change)="filtrarPagina('perPage', $event)"
                >
                  <option *ngFor="let item of [5, 10, 20, 50]" [value]="item">
                    {{ item }}
                  </option>
                </select>
              </div>

              <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <input
                  class="form-control w-100"
                  type="text"
                  [ngModel]="filtro.search"
                  (ngModelChange)="filtrarPagina('search', $event)"
                  placeholder="Pesquisar nome completo, nip, nas, ..."
                />
              </div>
              <div
                class="col-xl-2 col-lg-2 col-md-12 col-sm-12 d-flex justify-content-end align-item-center"
              >
                <button
                  type="button"
                  (click)="this.recarregarPagina()"
                  class="btn-piips btn-piips-secondary m-0 py-2 w-100"
                  type="submit"
                >
                  <i
                    style="font-size: 14px"
                    class="fa fa-refresh fa-spin fa-3x fa-fw"
                  ></i>
                  <b>Recarregar</b>
                </button>
              </div>
            </aside>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <aside class="row collapse" id="pesquisa-avancada">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                <label for=""><b>Acto</b></label>
                <ng-select2
                  [data]="this.actoProgressaos"
                  [options]="this.options"
                  [ngModel]="this.filtro.sigpq_acto_progressao_id"
                  name="sigpq_acto_progressao_id"
                  (valueChanged)="filtrarPagina('tipoActo', $event)"
                >
                </ng-select2>
              </div>

              <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                <label for=""><b>Tipo de Vínculo</b></label>
                <ng-select2
                  [data]="this.tipoVinculos"
                  [options]="this.options"
                  [ngModel]="this.filtro.tipoVinculoId"
                  name="tipoVinculoId"
                  (valueChanged)="filtrarPagina('tipoVinculoId', $event)"
                >
                </ng-select2>
              </div> -->
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                <label for=""><b>Classe/Carreira</b></label
                ><br />
                <ng-select2
                  [data]="this.patenteClasses"
                  [ngModel]="this.filtro.patenteClasse"
                  name="patenteClasse"
                  (valueChanged)="filtrarPagina('patenteClasse', $event)"
                  [options]="this.options"
                >
                </ng-select2>
              </div>

              <div
                class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4"
                *ngIf="this.mostrarCarreira"
              >
                <label for=""><b>Posto/Categoria</b></label
                ><br />
                <ng-select2
                  [data]="this.patentes"
                  [options]="this.options"
                  [ngModel]="this.filtro.patenteId"
                  name="patenteId"
                  (valueChanged)="filtrarPagina('patenteId', $event)"
                >
                </ng-select2>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                <label for=""><b>Gênero</b></label>
                <ng-select2
                  [options]="options"
                  [ngModel]="this.filtro.genero"
                  name="genero"
                  (valueChanged)="filtrarPagina('genero', $event)"
                  [data]="this.generos"
                >
                </ng-select2>
              </div>
              <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                                <label for=""><b>Situação Laboral <span class="text-danger"></span></b></label>
                                <ng-select2 [options]="options" (valueChanged)="this.filtrarPagina('situacaoId',$event)"
                                    [data]="this.situacaoEstados">
                                </ng-select2>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6  col-sm-12 mb-4">
                                <label for=""><b>{{this.tituloSituacao}} <span
                                            class="text-danger">&nbsp;</span></b></label>
                                <ng-select2 [options]="options" (valueChanged)="this.filtrarPagina('estadoId',$event)"
                                    [data]="this.estado">
                                </ng-select2>
                            </div> -->

              <div
                class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4"
                *ngIf="this.getAuth?.user?.aceder_todos_agentes"
              >
                <label for=""><b>Tipo de Órgão</b></label>
                <ng-select2
                  [options]="options"
                  [data]="this.tipoEstruturaOrganicas"
                  (valueChanged)="selecionarOrgaoOuComandoProvincial($event)"
                >
                </ng-select2>
              </div>

              <div
                class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4"
                *ngIf="this.getAuth?.user?.aceder_todos_agentes"
              >
                <label for=""><b>Direcção/Comando </b></label>
                <ng-select2
                  [options]="options"
                  (valueChanged)="filtrarPagina('orgaoId', $event)"
                  [data]="this.orgaos"
                  [ngModel]="this.filtro.orgaoId"
                  name="orgaoId"
                >
                </ng-select2>
              </div>
              <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <br>
                                <div class="d-flex align-items-center" style="gap: .4rem;">
                                    <label for="semTempo" class="d-flex align-item-center"
                                        style="color: var(--bg-color);"><b>
                                            <input (change)="filtrarPagina('vencida', $event)" type="checkbox"
                                                id="semTempo">
                                            &nbsp;Diuturnidade vencida
                                        </b></label>

                                    <label for="emTempo" class="d-flex align-item-center"
                                        style="color: var(--bg-color);"><b>
                                            <input (change)="filtrarPagina('naoVencida', $event)" type="checkbox"
                                                id="emTempo">
                                            &nbsp;Diuturnidade não vencida
                                        </b></label>

                                </div>
                            </div> -->
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                <label for=""><b>Faixa Etária (De-Até)</b></label>
                <div class="d-flex">
                  <input
                    [min]="this.idadeMenos"
                    type="number"
                    [ngModel]="this.filtro.idadeMenos"
                    class="form-control"
                    (change)="filtrarPagina('idadeMenos', $event)"
                  />

                  <input
                    [min]="
                      this.filtro.idadeMenos != 'null'
                        ? this.filtro.idadeMenos
                        : this.idadeMenos
                    "
                    type="number"
                    [ngModel]="this.filtro.idadeMais"
                    class="form-control"
                    (change)="filtrarPagina('idadeMais', $event)"
                  />
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                <label for=""><b>Tempo de Serviço (De-Até)</b></label>
                <div class="d-flex">
                  <input
                    type="number"
                    class="form-control"
                    [ngModel]="this.filtro.anoMenos"
                    [min]="0"
                    (change)="filtrarPagina('anoMenos', $event)"
                  />

                  <input
                    type="number"
                    class="form-control"
                    [ngModel]="this.filtro.anoMais"
                    [min]="
                      this.filtro.anoMenos != 'null' ? this.filtro.anoMenos : 0
                    "
                    (change)="filtrarPagina('anoMais', $event)"
                  />
                </div>
              </div>
            </aside>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="table-responsive">
        <table
          class="table table-border table-striped custom-table datatable mb-0"
        >
          <thead>
            <tr>
              <th><input
                type="checkbox"
                [checked]="estaTudoPreenchido"
                (change)="selecionarTodosEfectivos($event)"
              /></th>
              <th>ID</th>
              <th>Nome</th>
              <th>NIP</th>
              <th>Posto</th>
              <th>NAS</th>
              <th>Acto</th>
              <th>Ano de Promocão</th>
              <th>Diuturnidade</th>
              <th>Colocação</th>
              <th>Data de Registo</th>
              <th class="text-right">Operação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="this.isLoading">
              <td colspan="12">
                <aside *ngIf="this.isLoading">
                  <loading-page [texto]="'lista de agentes'"></loading-page>
                </aside>
              </td>
            </tr>
            <tr
              *ngFor="
                let item of this.emTempos
                  | paginate
                    : {
                        id: 'idEmTempo',
                        itemsPerPage: this.pagination.per_page,
                        currentPage: this.pagination.current_page,
                        totalItems: this.pagination.total
                      };
                index as i
              "
            >
              <!-- <td>
                <input
                  type="checkbox"
                  (change)="selecionarAgenteParaMobilidade(item)"
                  [checked]="validarSelecionado(item)"
                />
              </td> -->
              <td>
                <input type="checkbox" [checked]="isSelecionado(item)"
                (change)="toggleExportarFuncionario($event, item,this.totalBase + i)" />
              </td>
              <td>{{ this.totalBase + i }}</td>
              <td>
                <a
                  routerLink="/"
                  ariaCurrentWhenActive="page"
                  [routerLink]="['/piips/sigpg/perfil/', item.id, 'provimento']"
                >
                  {{ item.nome_completo }} {{ item.apelido }}
                </a>
              </td>
              <td class="text-start">
                <ng-container
                  *ngIf="
                    item.nip && this.utilsHelper.temQuadro(item?.quadro);
                    else elseTemplate
                  "
                >
                  {{ item.quadro }} {{ item.nip }}
                </ng-container>
                <ng-template #elseTemplate> S/N </ng-template>
              </td>
              <td>{{ item.patente_nome ?? "S/N" }}</td>
              <td>{{ item.numero_agente ?? "S/N" }}</td>
              <!-- <td> <span class="custom-badge status-orange">Pronto</span> </td> -->
              <td class="text-start">{{ item.acto ?? "S/N" }}</td>
              <td class="text-start">{{ item.ano_acto }}</td>

              <ng-container *ngIf="item?.cor; else semCor">
                <td>
                  <span
                    [style.backgroundColor]="item?.cor"
                    class="px-4 py-2"
                  ></span></td
              ></ng-container>
              <ng-template #semCor>
                <td>{{ item.acto_duracao ?? "S/N" }}</td>
              </ng-template>
              <td [title]="item?.orgao">{{ item?.orgao_sigla }}</td>
              <td>{{ item.created_at }}</td>

              <td class="text-right">
                <div class="dropdown dropdown-action position-static">
                  <a
                    href="#"
                    class="action-icon dropdown-toggle"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    ><i class="fa fa-ellipsis-v"></i
                  ></a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="javascript:void()"
                      data-toggle="modal"
                      data-target="#modalRegistarProvimento"
                      (click)="selecionarEsteAgenteParaMobilidade(item,this.totalBase + i)"
                    *ngIf="!isSelecionado(item)">
                      <i class="fa fa-refresh m-r-5"></i>
                      Propor</a
                    >
                    <a
                      *ngIf="item?.cor && this.authService.isAdmin"
                      class="dropdown-item"
                      href="javascript:void()"
                      data-toggle="modal"
                      data-target="#modalEiminarExcepto"
                      (click)="this.setPessoaId(item?.id)"
                    >
                      <i class="fa fa-trash m-r-5"></i>
                      Remover da listar</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6">
          Mostrando de {{ this.pagination.current_page }} á
          {{ this.pagination.per_page }} de {{ this.pagination.total }} Registo
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <pagination-controls
              id="idEmTempo"
              (pageChange)="this.filtrarPagina('page', $event)"
              [directionLinks]="true"
              [autoHide]="true"
              previousLabel="Anterior"
              nextLabel="Próximo"
              [maxSize]="4"
              [responsive]="true"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-sigpq-promover-modal
  *ngIf="this.getTemAgentesSelecionados"
  [emTempos]="this.agentesSelecionados"
  (eventRegistarPromocaoModel)="this.recarregarPagina(); limparVariaveis()"
></app-sigpq-promover-modal>
<!-- <app-sigpq-provimento-promocao-em-tempo-registar-ou-editar-modal
    [emTempo]="this.emTempo"></app-sigpq-provimento-promocao-em-tempo-registar-ou-editar-modal> -->

<app-ver-selecionados
  [agentesSelecionados]="agentesSelecionados"
></app-ver-selecionados>

<app-remover-agente-excepto
  [pessoaId]="this.pessoaId"
  (onEliminar)="this.recarregarPagina(); this.setPessoaId(null)"
></app-remover-agente-excepto>
