<!-- Modal -->
<div class="modal fade" id="zonaCizentaModal" tabindex="-1" aria-labelledby="zonaCizentaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="zonaCizentaModalLabel">Zonas Cinzentas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <div id="zonamap" class="map-container"></div>
      </div>
    </div>
  </div>
</div>
