<div class="title-content">
    <h1>
      <img
        style="width: 90px; height: 90px"
        src="../../../../../../assets/sigef/dashboard/iconepc.gif"
        alt=""
      /><span style="font-size: 30px">SIGM</span>
      <h1 style="font-size: 20px; color: #000">
        Sistema Integrado de Gestao de Manutençao
      </h1>
    </h1>
  </div>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-4">
        <div id="my_cards" class="card">
          <div style="padding-top: 0" class="card-header">
            <div
              class="row align-items-center"
              style="background-color: var(--bg-color); border-radius: 3px"
            >
              <div class="col">
                <div
                  class="row"
                  style="
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 30px;
                  "
                >
                  <h3 class="title" style="padding-left: 5px">
                    Obras em construçao
                  </h3>
                  <div class="c-icon">
                    <i
                      style="padding-top: 18px; padding-left: 15px;;"
                      class="fa fa-home fa-3x"
                    ></i>
                  </div>
                </div>
                <h1 style="padding-left: 30px; color: white">10</h1>
              </div>
            </div>
          </div>
          <div style="border-radius: 2px; background-color: white; height: 40px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 10px;
              "
            >
              <span style="color: green">+ 98 43%</span
              ><span style="padding-left: 10px">Desde a ultima vez</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div id="my_cards" class="card">
          <div style="padding-top: 0" class="card-header">
            <div
              class="row align-items-center"
              style="background-color: var(--bg-color); border-radius: 3px"
            >
              <div class="col">
                <div
                  class="row"
                  style="
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 30px;
                  "
                >
                  <h3 class="title" style="padding-left: 5px">
                    Obras paradas
                  </h3>
                  <div class="c-icon">
                    <i
                      style="padding-top: 18px; padding-left: 15px"
                      class="fa fa-book fa-3x"
                    ></i>
                  </div>
                </div>
                <h1 style="padding-left: 30px; color: white">10</h1>
              </div>
            </div>
          </div>
          <div style="border-radius: 2px; background-color: white; height: 40px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 10px;
              "
            >
              <span style="color: green">+ 98 43%</span
              ><span style="padding-left: 10px">Desde a ultima vez</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div id="my_cards" class="card">
          <div style="padding-top: 0" class="card-header">
            <div
              class="row align-items-center"
              style="background-color: var(--bg-color); border-radius: 3px"
            >
              <div class="col">
                <div
                  class="row"
                  style="
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 30px;
                  "
                >
                  <h3 class="title" style="padding-left: 5px">
                    Total de Comunidades
                  </h3>
                  <div class="c-icon">
                    <i
                      style="padding-top: 18px; padding-left: 15px"
                      class="fa fa-users fa-3x"
                    ></i>
                  </div>
                </div>
                <h1 style="padding-left: 30px; color: white">10</h1>
              </div>
            </div>
          </div>
          <div style="border-radius: 2px; background-color: white; height: 40px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 10px;
              "
            >
              <span style="color: green">+ 98 43%</span
              ><span style="padding-left: 10px">Desde a ultima vez</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="my_cards" class="card">
          <div style="padding-top: 0" class="card-header">
            <div
              class="row align-items-center"
              style="background-color: var(--bg-color); border-radius: 3px"
            >
              <div class="col">
                <div
                  class="row"
                  style="
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 30px;
                  "
                >
                  <h3 class="title" style="padding-left: 5px">
                    Total de Ocorrencias
                  </h3>
                  <div class="c-icon">
                    <i
                      style="padding-top: 18px; padding-left: 15px"
                      class="fa fa-phone fa-3x"
                    ></i>
                  </div>
                </div>
                <h1 style="padding-left: 30px; color: white">10</h1>
              </div>
            </div>
          </div>
          <div style="border-radius: 2px; background-color: white; height: 40px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 10px;
              "
            >
              <span style="color: green">+ 98 43%</span
              ><span style="padding-left: 10px">Desde a ultima vez</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div id="my_cards" class="card">
          <div style="padding-top: 0" class="card-header">
            <div
              class="row align-items-center"
              style="background-color: var(--bg-color); border-radius: 3px"
            >
              <div class="col">
                <div
                  class="row"
                  style="
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 30px;
                  "
                >
                  <h3 class="title" style="padding-left: 5px">
                    Total de denúncias
                  </h3>
                  <div class="c-icon">
                    <i
                      style="padding-top: 18px; padding-left: 15px"
                      class="fa fa-phone fa-3x"
                    ></i>
                  </div>
                </div>
                <h1 style="padding-left: 30px; color: white">10</h1>
              </div>
            </div>
          </div>
          <div style="border-radius: 2px; background-color: white; height: 40px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 10px;
              "
            >
              <span style="color: green">+ 98 43%</span
              ><span style="padding-left: 10px">Desde a ultima vez</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div id="my_cards" class="card">
          <div style="padding-top: 0" class="card-header">
            <div
              class="row align-items-center"
              style="background-color: var(--bg-color); border-radius: 3px"
            >
              <div class="col">
                <div
                  class="row"
                  style="
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 30px;
                  "
                >
                  <h3 class="title" style="padding-left: 5px">
                    Total de denúncias
                  </h3>
                  <div class="c-icon">
                    <i
                      style="padding-top: 18px; padding-left: 15px"
                      class="fa fa-phone fa-3x"
                    ></i>
                  </div>
                </div>
                <h1 style="padding-left: 30px; color: white">10</h1>
              </div>
            </div>
          </div>
          <div style="border-radius: 2px; background-color: white; height: 40px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 10px;
              "
            >
              <span style="color: green">+ 98 43%</span
              ><span style="padding-left: 10px">Desde a ultima vez</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  