<div class="row" [style]="{ rowGap: '1.4rem' }">
  <porpna-card
    class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
    title="Candidatos"
    total="0"
    actual="0"
    icon="bi bi-people"
    link="/"
  ></porpna-card>
  <porpna-card
    class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
    title="Sociedade cívil"
    total="0"
    actual="0"
    icon="bi bi-people"
    link="/"
  ></porpna-card>
  <porpna-card
    class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
    title="Ex militares"
    total="0"
    actual="0"
    icon="bi bi-people"
    link="/"
  ></porpna-card>
  <porpna-card
    class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
    title="Gênero"
    total="0"
    actual="0"
    icon="bi bi-people"
    link="/"
  ></porpna-card>
  <!-- <porpna-card
    class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
    title="Mensagens"
    total="0"
    actual="0"
    icon="bi bi-people"
    link="/"
  ></porpna-card>
  <porpna-card
    class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
    title="Mensagens"
    total="0"
    actual="0"
    icon="bi bi-people"
    link="/"
  ></porpna-card>
  <porpna-card
    class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
    title="Mensagens"
    total="0"
    actual="0"
    icon="bi bi-people"
    link="/"
  ></porpna-card>
  <porpna-card
    class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
    title="Mensagens"
    total="0"
    actual="0"
    icon="bi bi-people"
    link="/"
  ></porpna-card> -->
</div>
