<div id="sidebar-menu" class="sidebar-menu">
  <ul>
    <li>
      <a
        routerLink="/"
        ariaCurrentWhenActive="page"
        [routerLink]="['/piips/sigio/dashboard']"
      >
        <img
          style="width: 40px; margin-left: -10px"
          src="..\assets\dashboard\sidebarIcons\dashboard.png"
          alt=""
        />
        <span>Painel de Controlo </span>
      </a>
    </li>

    <li class="submenu">
      <a
        routerLink="/"
        ariaCurrentWhenActive="page"
        [routerLink]="['/piips/sigio/processos/listar']"
        href="#"
      >
        <i>
          <img
            style="width: 40px; margin-left: -10px"
            src="assets//sigio/sidebar/processo.png"
            alt="" /></i
        ><span></span>
        <span><span></span>Processo</span>
      </a>
    </li>

    <li class="submenu">
      <a
        routerLink="/"
        ariaCurrentWhenActive="page"
        [routerLink]="['/piips/sigio/equipamentos/listar']"
        href="#"
      >
        <i
          ><img
            style="width: 40px; margin-left: -10px"
            src="assets//sigio/sidebar/equipamentos.png"
            alt="" /></i
        ><span></span>
        <span><span></span>Equipamentos</span>
      </a>
    </li>

    <li class="submenu">
      <a
      routerLink="/"
        ariaCurrentWhenActive="page"
        [routerLink]="['/piips/sigio/execucao/listar']"
        href="#" 
      >
        <i
          ><img
            style="width: 40px; margin-left: -10px"
            src="assets//sigio/sidebar/execucao.png"
            alt="" /></i
        ><span></span>
        <span><span></span>Execução</span>
      </a>
    </li>

    <li>
      <a routerLink="/" ariaCurrentWhenActive="page">
        <i style="width: 30px" class="bi bi-folder-symlink-fill"></i>
        <span>Ficheiros de Apoio</span>
      </a>
    </li>

    <li class="submenu">
      <a href="#">
        <img
          style="width: 30px"
          src="..\assets\dashboard\sidebarIcons\configurations.png"
          alt=""
        />
        <span>Configurações</span><span class="menu-arrow"></span>
      </a>
      <ul style="display: none; background-color: #002d54; color: white">
        <li>
          <a routerLink="/" ariaCurrentWhenActive="page">
            <i class="#">
              <img
                style="width: 10px"
                src="assets/img/circulo-white.png"
                alt=""
              />
            </i>
            <span><b>Perfil</b></span>
          </a>
        </li>
        <li>
          <a routerLink="/" ariaCurrentWhenActive="page">
            <i class="#">
              <img
                style="width: 10px"
                src="assets/img/circulo-white.png"
                alt=""
              />
            </i>
            <span><b>Utilizadores</b></span>
          </a>
        </li>
        <li>
          <a routerLink="/" ariaCurrentWhenActive="page">
            <i class="#">
              <img
                style="width: 10px"
                src="assets/img/circulo-white.png"
                alt=""
              />
            </i>
            <span><b> Posto </b></span>
          </a>
        </li>
        <li>
          <a routerLink="/" ariaCurrentWhenActive="page">
            <i class="#">
              <img
                style="width: 10px"
                src="assets/img/circulo-white.png"
                alt=""
              />
            </i>
            <span><b> Marca </b></span>
          </a>
        </li>
        <li>
          <a routerLink="/" ariaCurrentWhenActive="page">
            <i class="#">
              <img
                style="width: 10px"
                src="assets/img/circulo-white.png"
                alt=""
              />
            </i>
            <span><b> Modelo </b></span>
          </a>
        </li>

        <li>
          <a routerLink="/" ariaCurrentWhenActive="page">
            <i class="#">
              <img
                style="width: 10px"
                src="assets/img/circulo-white.png"
                alt=""
              />
            </i>
            <span><b> Peças </b></span>
          </a>
        </li>
        <li>
          <a routerLink="/" ariaCurrentWhenActive="page">
            <i class="#">
              <img
                style="width: 10px"
                src="assets/img/circulo-white.png"
                alt=""
              />
            </i>
            <span><b>Tipos de Combustivel </b></span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
