
<div class="wrapper-pdf" id="wrapper-pdf" *ngIf="this.podeImprimir">
  <div class="card">
    <div class="card-header">
      <div class="header-pdf">
        <div class="insigina">
          <img src="../../../../../../../assets/img/insignia.png" alt="Insignia de Angola">
        </div>
        <div class="header-angola">
          <span class="text-header">
            REPÚBLICA DE ANGOLA
          </span>
          <span class="text-header">
            MINISTÉRIO DO INTERIOR
          </span>
          <span class="text-header">
            POLÍCIA NACIONAL DE ANGOLA
          </span>
          <span class="text-header">
            DIRECÇÃO DE PESSOAL E Quadros
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="text-body" [innerHTML]="this.conteudo">
        <!-- <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque doloremque autem corrupti commodi molestias perferendis pariatur, dicta sunt consectetur dolores perspiciatis veritatis corporis doloribus saepe beatae quod eum magni esse.
        </p>
        <h1>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt possimus quasi optio cum neque et, porro expedita, similique, officia eum accusantium fugiat rerum sunt aliquid dolorum perferendis! Eius, ad quibusdam.

          <strong>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor illo repellendus nam quidem alias veniam aperiam animi at! Necessitatibus repellendus doloremque veritatis sequi quam labore incidunt laboriosam quis aliquid sunt?
          </strong>
        </h1>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores repellat, sequi illo eius magnam doloribus earum dicta accusamus molestiae sint, ipsa saepe iste neque, reiciendis maiores. Fugiat, unde aliquam.
        </span>
        <strong>

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam vero vel quam quia ea quis in provident minus, maxime, alias, tenetur maiores sapiente nesciunt necessitatibus reprehenderit! Nulla, aut numquam.
        </strong>
        <i>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde asperiores fuga odit ea veritatis fugit. Officiis itaque amet neque mollitia inventore praesentium, dolorum expedita quo! Ratione hic soluta expedita est?
        </i> -->
      </div>
    </div>
    <div class="card-footer">

      <div class="d-flex flex-column font-diferente">
        <p class="only-p">Elab: Josefina Manuel Tiago</p>
        <div class="another-text">
          <p>Av. 4 de Fevereiro</p>
          <p>Marginal Edifício Sede-R/C</p>
          <p>Telef: 222 33 34 44</p>
          <p>Email: dpq.cgpna@pn.gov.ao</p>
          <p>Facebook: Policia Nacional de Angola</p>
        </div>
      </div>
      <div class="simbolos font-diferente d-flex align-items-center">
        <div class="rpa">
          <img src="../../../../../../../assets/img/rpa_.png" alt="">
        </div>
        <div class="pna">
          <span class="pna-site">
            pna.gov.ao
          </span>
          <span class="pna-name">
            Policia Nacional de Angola
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


