@charset "utf-8";
/* reset */
*{

    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    /* border: 0; */
    outline: 0;
}
a {text-decoration: none;}

.segundo-quant {
    display: flex;
    input, ng-select {
        width: calc(100% - 160px); height: 46px; border: 1px solid #ccc; border-radius: 6px 0px 0px 6px; border-right: 0; box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    select {
        width: 160px; height: 46px; border-radius: 0px 6px 6px 0px; background-color: #f9f9f9; border-left: 0; color: #041b4e; font-weight: 500; padding-left: 20px; border: 1px solid #ccc; box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
    button img:hover {transform: scale(1.2); transition: all 0.5s ease-in-out;}
}

label {font-size: 1rem; font-weight: 600;}
.icone-alerta {color: #dc3545;}
.validation-error {
    p{
        color: #dc3545; margin-top: 0.4em;
        border-left: 3px solid #dc3545;
        padding-left: 0.2em;
    }
}
input:focus, textarea:focus, select:focus, ng-select2:focus { outline: 1px solid #041b4e;}

/** estilização para os inputs sem o button */
.alone {
    width: 100%; height: 40px; border: 1px solid #ccc; border-radius: 4px;
}

.pedido-container{
    animation: vem 1s ease-in-out forwards;
    transition: all 1s ease-in-out;
}

@keyframes vem {
    0% {transform: translateX(+10px);}
    25% {transform: translateX(-10px);}
    50% {transform: translateX(5px);}
    75% {transform: translateX(-5px);}
    100% {transform: translateX(0);}
}

.sombra {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius:6px!important;
}

.produtos {
    .img-produto {
        width: 50px;
        height: 50px;
        position: relative;
        margin-right: 8px;
        background-color: #F8F8F9;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        
        img {
            border-radius: 4px;
            width: 100%;
            height: 50px;
        }
    }

    .img-produto-label {
        width: 50px;
        height: 50px;
        position: relative;
        margin-right: 8px;
        background-color: inherit;
        border-radius: 4px;
        /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
    }
    
    .nome-produto{
        width: 280px;
    }
    .quantidade{
        width: 200px;  
    }
}

@media screen and (min-width: 601px) {
    
}
@media screen and (min-width: 1024px) {
    .produtos {
        .img-produto {
            height: 46px;
            img {
                height: 46px;
            }
        }
        .nome-produto{
            width: 400px;
        }
        .quantidade{
            width: 300px;  
        }
    }
}
@media screen and (min-width: 1152px) {
    .produtos {
        .nome-produto{
            width: 200px;
        }
        .quantidade{
            width: 244px;  
        }
    }
}
@media screen and (min-width: 1280px) {
    .produtos {
        .nome-produto{
            width: 260px;
        }
        .quantidade{
            width: 278px;  
        }
    }
}
@media screen and (min-width: 1408px) {
    .produtos {
        .nome-produto{
            width: 290px;
        }
        .quantidade{
            width: 340px;  
        }
    }
}
@media screen and (min-width: 1536px) {
    .produtos {
        .nome-produto{
            width: 350px;
        }
        .quantidade{
            width: 370px;  
        }
    }
}
@media screen and (min-width: 1696px) {
    .produtos {
        .nome-produto{
            width: 450px;
        }
        .quantidade{
            width: 375px;  
        }
    }
}
@media screen and (min-width: 1920px) {
    .produtos {
        .nome-produto{
            width: 470px;
        }
        .quantidade{
            width: 450px;  
        }
    }
}
@media screen and (min-width: 2304px) {
    .produtos {
        .nome-produto{
            width: 700px;
        }
        .quantidade{
            width: 500px;  
        }
    }
}