<p>secretaria-expedientes works!</p> 
<table border="1" cellpadding="5">
    <thead>
      <tr>
        <th>ID</th>
        <th>Denunciante</th>
        <th>Status</th>
        <th>NUP</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expediente of expedientes">
        <td>{{ expediente.id }}</td>
        <td>
            <ng-container *ngFor="let item of expediente.testemunhas || []">
              <div>{{ item.nome | slice: 0:10 }}</div>
              <div>{{ item.tel | slice: 0:13 }}..</div>
            </ng-container>
        </td>
        <td>{{ expediente.status }}</td>
        <td>{{ expediente.nup || '-' }}</td>
        <td> 
          <button (click)="despachar(expediente.id, expediente)" *ngIf="expediente.status === 'Registrado'">Despachar</button>
          <button (click)="distribuirChefia(expediente.id)" *ngIf="expediente.status === 'Recebido OPCS'">Distribuir Chefia</button>
         <button (click)="distribuirDepartamento(expediente.id)" *ngIf="expediente.status === 'Distribuído à Chefia'">Distribuir Departamento</button>
         <button (click)="iniciarInstrucao(expediente.id)" *ngIf="expediente.status === 'Distribuído ao Departamento'">Iniciar Instrução</button>
         <button (click)="concluir(expediente.id)" *ngIf="expediente.status === 'Em Instrução'">Concluir</button>
          
        </td>
      </tr>
    </tbody>
  </table>