<main id="main_" class="main_">
  <div class="pagetitle mb-4">
    <h1>
      <i class="bi bi-graph-up"></i><span class="mx-2">Painel Controlo</span>
    </h1>
  </div>

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card info-card sales-card">
              <a routerLink="/piips/pa/reclamation">
                <div class="card-body">
                  <h5 class="card-title">Reclamação</h5>
                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center mr-2"
                    >
                      <i class="bi bi-envelope-fill"></i>
                    </div>
                    <div class="ps-3 text-light">
                      <h6
                        class="fs-5 text-light"
                        [style]="{ color: 'white!important' }"
                      >
                        {{ this.reclamacoes?.length }}
                      </h6>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card info-card sales-card">
              <a routerLink="/piips/pa/meios-atribuido">
                <div class="card-body">
                  <h5 class="card-title">Meios Atribuidos</h5>
                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center mr-2"
                    >
                      <i class="bi bi-box2-fill"></i>
                    </div>
                    <div class="ps-3 text-light">
                      <h6
                        class="fs-5 text-light"
                        [style]="{ color: 'white!important' }"
                      >
                        {{ this.meios?.length }}
                      </h6>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card info-card sales-card">
              <a routerLink="/piips/pa/arquivo">
                <div class="card-body">
                  <h5 class="card-title">Arquivos</h5>
                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center mr-2"
                    >
                      <i class="bi bi-stickies-fill"></i>
                    </div>
                    <div class="ps-3 text-light">
                      <h6
                        class="fs-5 text-light"
                        [style]="{ color: 'white!important' }"
                      >
                        {{ arquivos?.length }}
                      </h6>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card info-card sales-card">
              <a routerLink="/piips/pa/solicitacao/listar">
                <div class="card-body">
                  <h5 class="card-title">Solicitação</h5>
                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center mr-2"
                    >
                      <i class="bi bi-receipt"></i>
                    </div>
                    <div class="ps-3 text-light">
                      <h6
                        class="fs-5 text-light"
                        [style]="{ color: 'white!important' }"
                      >
                        {{ this.solicitacaoes?.length }}
                      </h6>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card info-card sales-card">
              <a routerLink="/piips/pa/push">
                <div class="card-body">
                  <h5 class="card-title">Notificações</h5>

                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center mr-2"
                    >
                      <i class="bi bi-bell-fill"></i>
                    </div>
                    <div class="ps-3 text-light">
                      <h6
                        class="fs-5 text-light"
                        [style]="{ color: 'white!important' }"
                      >
                        0
                      </h6>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card info-card sales-card">
              <a routerLink="/piips/pa/work/new">
                <div class="card-body">
                  <h5 class="card-title">Escala de trabalho recebidos</h5>

                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center mr-2"
                    >
                      <i class="bi bi-puzzle-fill"></i>
                    </div>
                    <div class="ps-3 text-light">
                      <h6
                        class="fs-5 text-light"
                        [style]="{ color: 'white!important' }"
                      >
                        {{ this.escalaTrabalho?.length }}
                      </h6>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12">
        <div class="card-">
          <apx-chart
            [series]="chartOptions?.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div>
      </div> -->
    </div>
  </section>
</main>
