<sigpj-registar-ou-editar-utilizador [utilizador]="this.utilizador"
    (eventoRegistarOuEditarUtilizadorModel)="buscarUtilizadores()">
</sigpj-registar-ou-editar-utilizador>


<main id="main_" class="main_">
    <div class="pagetitle mb-4">
        <div class="infor-top">
            <h4>PIIPS <i style="margin-left: 15px; margin-right: 15px;" class="bi bi-chevron-right" aria-hidden="true"></i></h4>
            <h4>SIGPJ <i style="margin-left: 15px; margin-right: 15px;" class="bi bi-chevron-right" aria-hidden="true"></i></h4>
            <h4>UTILIZADORES <i style="margin-left: 15px; margin-right: 15px;" class="bi bi-chevron-right" aria-hidden="true"></i></h4>
      <!--       <h4><b> <a style="color: rgb(38, 38, 38);" [routerLink]="['/piips/sigev2/piqueteo/ocorrencias']">OCORRÊNCIAS</a> <i style="margin-left: 15px; margin-right: 15px;" class="bi bi-chevron-right" aria-hidden="true"></i></b></h4> -->
            <h4>LISTAR</h4>
        </div>
      
           <!-- Fim Guia de rotas -->
      
          <div class="org d-flex">
            <div class="img-top">
                <i class="bi bi-person-check"></i>
            </div>
            <div>
                <h3 class="titulo-top">Listagem dos Utilizadores </h3>
                <h5 class="titulo-bt">Listagem dos Utilizadores Registados no Sistema | <b>SIGPJ</b> - Sistema Integrado de Gestão de Processos Jurídicos</h5>
            </div> 
          </div>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <select class="form-control mr-sm-1" (change)="filtrarPagina('perPage',$event)">
                            <option *ngFor="let item of [5,10,20,50]" [value]="item">{{item}}</option>
                        </select>
                        <input class="form-control mr-sm-1" type="text" [ngModel]="filtro.search"
                            (ngModelChange)="filtrarPagina('search',$event)" placeholder="Pesquisa ...">
                        <button (click)="this.recarregarPagina()" id="btpe1"
                            class="btn btn-outline-success my-2 my-sm-0" type="submit">
                            <i style="font-size: 14px;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                            <b>Recarregar</b>
                        </button>
                        <a href="javascript:void(0)" id="book" data-toggle="modal" data-target="#modalRegistarUtilizador"
                            class="btn btn btn-primary btn-rounded float-right"><i class="bi bi-plus-circle"></i> Registar</a>

                    </form>
                </nav>
                <table class="table text-center table-border table-striped custom-table datatable mb-0">
                    <thead class="text-center">
                        <tr>
                            <th>ID</th>
                            <th>Nome completo</th>
                            <th>Nome de Usuário</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>Data de Registado </th>
                            <th>Ultima actualização</th>
                            <th class="text-center">Operação</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of this.utilizadores
                              | paginate
                                : {
                                    itemsPerPage: this.pagination.per_page,
                                    currentPage: this.pagination.current_page,
                                    totalItems: this.pagination.total
                                  };
                            index as i
                          ">
                            <td>000{{item.id}}/DAJ</td>
                            <td>{{item.nome_completo}}</td>
                            <td>{{item.username}}</td>
                            <td>{{item.email}}</td>
                            <td>
                                <ng-container *ngIf="item.estado; else elseTemplate">
                                    <span class="custom-badge status-green">Activo</span>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <span class="custom-badge status-red">Inactivo</span>
                                </ng-template>
                            </td>
                            <td>{{item.createdAt}}</td>
                            <td>{{item.updatedAt}}</td>

                            <td class="text-right">

                                <nav class="header-nav_ flex-fill d-flex">
                                    <ul class="d-flex align-items-center">
                                        <li class="nav-item dropdown">

                                            <a class="nav-link nav-profile d-flex align-items-center" href="#"
                                                data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center text-dark"
                                                    [routerLink]="['/piips/sigpj/admin/utilizador/detalhes/listagem/', item.id]">
                                                        <i class="bi bi-person-square"></i>
                                                        <span>Visualizar</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>

                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center text-dark"
                                                        [routerLink]="['/piips/sigpj/admin/utilizador/permission/', item.id]">
                                                        <i class="bi bi-list-ul"></i>
                                                        <span>Permissões</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>

                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center text-dark pointer"
                                                        data-toggle="modal" data-target="#modalRegistarUtilizador"
                                                        (click)="this.setUtilizador(item)">
                                                        <i class="fa fa-pencil"></i>
                                                        <span>Editar</span>
                                                    </a>
                                                </li>


                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>


                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center text-dark pointer"
                                                        (click)="eliminarUtilizador(item)" data-toggle="modal"
                                                        data-target="#delete_perfil">
                                                        <i class="fa fa-trash-o"></i>
                                                        <span>Eliminar</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>

                                    </ul>
                                </nav>


                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            Mostrando de {{ this.pagination.current_page }} á
                            {{ this.pagination.per_page }} de {{ this.pagination.total }} Registo
                        </div>
                        <div class="col-sm-6">
                            <div class="float-right">
                                <pagination-controls id="funcionarioEspecial"
                                    (pageChange)="this.filtrarPagina('page', $event)" [directionLinks]="true"
                                    [autoHide]="true" previousLabel="Anterior" nextLabel="Próximo" [maxSize]="4"
                                    [responsive]="true"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<div class="modal fade" id="delete_perfil" aria-labelledby="delete_perfil" aria-hidden="true">
    <div class="modal-dialog" role="document" style="overflow-y: hidden;min-width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    <i class="fa fa-user"></i>
                    Eliminar Perfil
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="content">
                <div class="modal-body">
                    <div class="row">

                        <div class="form-group col-md-12">
                            <label class="text-danger">Deseja eliminar realmente este usuário?<span class="text-danger">
                                    *</span></label>
                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger btn-square" (click)="onDelete()">
                        <span class="fa fa-check"></span> Sim
                    </button>

                    <button id="bookreset" class="btn btn-primary btn-square" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <a style="text-decoration: none;color: white;">
                            <i class="fa fa-refresh"></i> Não</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>