<div class="content">

    <sigpq-header></sigpq-header>
    <div class="header-ficha mt-1">
        <div class="row" style="align-items: center;">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 d-flex justify-content-start align-items-start">
                <div class="mais-info d-flex justify-content-center align-items">
                    <h4 class="text-white"><b>Listagem dos Postos Policias</b></h4>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-end align-items-start">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#modalRegistar"
                    class="btn-piips btn-piips-secondary border m-0 py-2 px-4"><i class="fa fa-plus-circle"></i>
                    Registar</a>
            </div>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-xl-12 col-lg-12 col-md-col-12 col-sm-12 my-2">
            <form class="row" style="align-items: center; row-gap: .4rem;">
                <div class="col-xl-1 col-lg-1 col-md-4 col-sm-12">
                    <select class="form-control" style="width: 100%!important; padding: .8rem auto;"
                        (change)="filtrarPagina('perPage',$event)">
                        <option *ngFor="let item of [5,10,20,50]" [value]="item">{{item}}</option>
                    </select>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                    <input class="form-control w-100" type="text" [ngModel]="this.filtro.search"
                        (ngModelChange)="filtrarPagina('search',$event)" placeholder="Pesquisa ...">
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 d-flex justify-content-end align-items-center">
                    <button (click)="this.recarregarPagina()" class="btn-piips btn-piips-secondary m-0" type="submit">
                        <i style="font-size: 14px;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                        <b>Recarregar</b>
                    </button>
                </div>
            </form>

        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 my-2 mb-4">
            <aside class="row" style="row-gap: .8rem;">

                <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <label><b>Tipo de Entidade</b></label><br>
                    <ng-select2 [options]="options" [data]="this.entidades"
                        (valueChanged)="filtrarPagina('entidade',$event)" [ngModel]="this.filtro.entidade"
                        name="entidade">
                    </ng-select2>
                </div> -->


                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <label><b>Estrutura orgânica</b></label>
                    <ng-select2 [options]="options" [data]="this.tipoEstruturaOrganicas"
                        (valueChanged)="filtrarPagina('tipoOrgao',$event);" [ngModel]="this.filtro.tipoOrgao"
                        name="tipoOrgao">
                    </ng-select2>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <label><b>Direcções / Comandos</b></label>
                    <ng-select2 [options]="options" (valueChanged)="filtrarPagina('orgaoId',$event)"
                        [data]="this.direcaoOuOrgao" [ngModel]="this.filtro.orgaoId" name="orgaoId">
                    </ng-select2>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <label><b>Departamento  / Unidade</b></label>
                    <ng-select2 [options]="options" (valueChanged)="filtrarPagina('departamentoId',$event)"
                        [data]="this.departamentos" [ngModel]="this.filtro.departamentoId" name="departamentoId">
                    </ng-select2>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <label><b>Esquadras / Subnidade</b></label>
                    <ng-select2 [options]="options" (valueChanged)="filtrarPagina('seccaoId',$event)"
                        [data]="this.seccoes" [ngModel]="this.filtro.seccaoId" name="seccaoId">
                    </ng-select2>
                </div>

            </aside>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-border table-striped custom-table datatable mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Posto Policial</th>
                            <th>Sigla</th>
                            <th>Esquarda / Subunidade</th>
                            <th>Direção / Comando Provincial</th>
                            <!-- <th>NIF</th> -->
                            <!-- <th>Estado</th> -->
                            <th>Comando Municipal </th>
                            <!-- <th>Site</th> -->
                            <!-- <th>Tipo de Entidade</th> -->
                            <th>Data de Registado </th>
                            <th>Data de actualização</th>
                            <th class="text-center">Operação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of this.pessoaFisicas | paginate: { itemsPerPage: this.pagination.per_page, currentPage: this.pagination.current_page,totalItems: this.pagination.total}; index as i">
                            <td>{{i+1}}</td>
                            <td>{{item.nome_completo ?? 'S/N'}}</td>
                            <td>{{item.sigla ?? 'S/N'}}</td>
                            <!-- <td [title]="item?.orgao ?? '' ">{{item.orgao_sigla ?? 'S/N'}}</td> -->
                            <td class="text-center" [title]="item?.seccao ?? '' ">{{item.seccao_sigla ?? 'S/N'}}</td>
                            <td class="text-center" [title]="item?.departamento ?? '' ">{{item.departamento_sigla ??
                                'S/N'}}</td>

                            <!-- <td>
                                <ng-container *ngIf="item.activo; else elseTemplate">
                                    <span class="custom-badge status-green">Activo</span>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <span class="custom-badge status-red">Inactivo</span>
                                </ng-template>
                            </td> -->
                            <td class="text-center" [title]="item?.orgao ?? '' ">{{item.orgao_sigla ?? 'S/N'}}</td>
                            <!-- <td>{{item.site || 'Sem informação'}}</td> -->
                            <!-- <td>{{item.tipo_pessoajuridica_nome}}</td> -->
                            <td>{{item.createdAt}}</td>
                            <td>{{item.updatedAt}}</td>
                            <td class="text-center">
                                <div class="dropdown dropdown-action position-static">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-eye m-r-5"></i>
                                        Visualizar</a> -->
                                        <a (click)="setItem(item)" class="dropdown-item" href="javascript:void(0)"
                                            data-target="#modalRegistar" data-toggle="modal"><i
                                                class="fa fa-pencil m-r-5"></i>
                                            Editar</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal"
                                            data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Apagar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    Mostrando de {{ this.pagination.current_page }} á
                    {{ this.pagination.per_page }} de {{ this.pagination.total }} Registo
                </div>
                <div class="col-sm-6">
                    <div class="float-right">
                        <pagination-controls (pageChange)="this.changePage('page', $event)" previousLabel="Anterior"
                            nextLabel="Próximo"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<sigpq-registar-ou-editar-modal (eventRegistarOuEditModel)="this.buscarPostoPolicial()"
    [seccao]="this.seccao"></sigpq-registar-ou-editar-modal>