@charset "utf-8";
/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section-pna-container-nmg{
    width: 100%;
    height: 100vh;
    padding-bottom: 24px;
    /* background-color: red; */

    .banner-nmg {
        /* background-color: yellow; */
        /* background-image: url('../../../../../../../../assets/assets_sigvest/img/pna1.png'); */
        background-color: rgb(32, 91, 133);
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 70vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            color: white;
        }

        p{
            color: white;
            font-size: 1rem;
        }

        div {
            margin-top: 8px;            
            i {
                color: white;
                font-size: 4rem;
                display: inline-block;
                animation: abanar 2s ease-in-out infinite;
                transition: all .5 linear;
            }
        }

    }
    
    .cards-nmg {
        background-color: rgb(32, 91, 133);
        padding: 20px 10px 10px 30px;
    }
    
    .tabela-nmg{
        padding: 20px 30px 10px 30px;
        table {
            box-shadow: 0 5px 10px rgba(0,0,0,000.3);
        }
        thead > tr > th {background-color: #041b4e; color: white;}
        thead > tr > th:first-child {border-radius: 8px 0 0 0;}
        thead > tr > th:last-child {border-radius: 0 8px 0 0;}
        thead > caption {
            text-align: center;
            width: 100%;
            font-size: 1.3rem;
        }
    }
}

@keyframes abanar {
    from {
        transform: translateY(-10px)
    } to {
        transform: translateY(0px)
    }
}