<div class="pagetitle mb-4">
  <h1>
    <i class="bi bi-graph-up"></i><span class="mx-2">Painel Controlo</span>
  </h1>
</div>

<section class="section dashboard">
  <div class="row">
    <porpna-card-container
      class="col-xl-12 col-lg-12 col-md-12 col-sm-12"
    ></porpna-card-container>
  </div>
  <!-- <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <porpna-apex-container class="w-100"></porpna-apex-container>
    </div>
  </div> -->
</section>
