.main-content{
    padding-left: 190px;
}

.title-content{
    padding-left: 200px;
}

#my_cards{
    background: #041B4E;
    box-shadow: 30px 20px 40px 0px rgba(32, 32, 32, 0.25);
}

.title{
    color: white;
    font-weight: bold;
    font-size: 25px;
}


.c-icon{
    background-color: white;
    border-radius: 90px;
    width: 80px;
    height: 80px;
    border: 2px solid black;
}



@media screen and  (max-width: 988px){
    .main-content{
        padding-left: 0px;
    }

    .title-content{
        padding-left: 0px;
    } 
}