@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 100%;
    border: 0;
    outline: 0;
}
.navbar{
  color: #041b4e;
  background-color: #f3f3f3;
  height: 70px;
  padding-left: 20px;
  padding-right: 30px;
  .header-logo {
    font-weight: 450; font-size: 1rem; color:#041b4e;
  }
  img.img-menu {width: 38px;}
  .header-logo:hover { cursor: pointer;}
} 

li>a{color:#041b4e;}
li>a>img {
  border-radius: 50%;
  background-color: #051d4f1a;
}

h6 {font-size: .9rem;}
.tt {padding-top: 3px;}
.dropdown-link {font-weight: 500; font-size: .9rem; cursor: pointer;}

.dropdown-menu {
  /* background-color: white; */
  a{font-size: .9rem; padding: 5px 10px;}
  
}
.menu-mobile {display: none;}
.foto {position: relative;}
.foto img {width: 35px;}
.foto .dot {
  width: 13px;
  height: 13px;
  background: lightgreen;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 0;
  right: 0;
}
/** Media queries*/
@media screen and (max-width: 1100px) {
  .menu-desktop {display: none;}
  .menu-mobile {display: block;}
}

@media screen and (max-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row
  }

  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
  }

  .navbar-expand-lg .navbar-toggler {
      display: block /*alterei aqui, do none para o block*/
  }
}

/* Menu mobile NMG */
#menu-mobile-nmg {
  display: none;
  width: 70%;
  height: 100vh;
  position: fixed;
  background-color: #041b4e;
  top: 0;
  left: 0;
  z-index: 199999;
  transition: all 2s linear;
  padding: 10px;
  overflow: auto;

  .header-nmg {
    width: 100%;
    float: left;
    button {
      float: right;
      padding: 8px 12px;
      border-radius: 50%;
    }
  }

  .body-nmg {
    padding: 10px;
    color: white;

    blockquote {
      padding: 40px 0;
    }
  }
}


/* SIDENAV-BAR MOBILE */

a {text-decoration: none;}

h3 {font-size: 1rem; text-align: left; margin-top: 25px; font-weight: 400; margin-bottom: 3px; padding-left: 15px;
    span{
        background-color: #04102b;
        padding: 5px 12px;
        border-radius: 8px;
    }
}

hr {height: 3px; width: 60%; margin: 0 auto; border-top: 1.5px solid white;}
#side-navbar {
    padding-left: 15px; margin-top: 25px; padding-bottom: 2rem;
    animation: sidebar .5s linear forwards;
    transition: all .5s linear;
    overflow: auto;  
    img {
        width: 17px;
        height: 17px;
    }

    li {
       /* margin-bottom: .2rem;*/
        font-size: .9rem;
        line-height: 3rem;
        
        a {color: white; text-decoration: none; font-weight: 300; padding-left: 10px; transition: all .1s ease-in-out;
        i { margin-right: 5px;}
        }

        div {
            li {line-height: 2rem; font-size: .8rem;}
        }
    }
    a:hover {background-color: #fffffff1; color: #041b4e; border-radius: 5px 40px 40px 5px;  padding: 10px 20px 10px 20px; cursor: pointer; font-weight: 350;
        span, i {font-weight: 400;}
        div{ background-color: transparent;}
        .iii {font-size: 2rem;}
    }
    
    
}
.rodape{
    font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; padding: 10px 10px 20px 10px; font-size: .7rem; display: block;
    div {background: linear-gradient(#041B4E, #040c1e); border-radius: 8px; padding: 16px; font-size: .6rem;}
}

/* .efeito {background-color:#0d6dfd88; border-radius: 4px; transition: all .2s; padding-left:2rem;} */
.efeito2 {
    background-color: #fffffff9; color: #041b4e; border-radius: 5px 0px 0px 5px; transition: all .1s ease-in-out; padding-left: 10px; font-weight: 500;
    a {color: #041b4e;
        span, i {color: #041b4e; font-weight: 500;}
    }
    a:hover {background-color: transparent;}
    div{ background-color: transparent;}
    .ii {font-size: 1.5rem;}
}

/** Animation */
@keyframes sidebar {
    from {transform: translateX(-50px);}
    to{transform: translateX(0)}
}

.girar-icon {
    transform: rotate(45deg);
}

/** Media queries */

@media (min-width: 0px){
    #side-navbar {
        padding-left: 15px; margin-top: 25px; padding-bottom: 2rem;
    
        li {
           /* margin-bottom: .2rem;*/
            font-size: .8rem;
            line-height: 2.5rem;
            
            a {color: white; text-decoration: none; font-weight: 300; padding-left: 10px; transition: all .1s ease-in-out;
            i { margin-right: 5px;}
            }
    
            div {
                li {line-height: 2rem; font-size: .8rem;}
            }
        }   
    }
}

@media (min-width: 1400px){
    #side-navbar {
        padding-left: 15px; margin-top: 25px; padding-bottom: 2rem;
    
        li {
           /* margin-bottom: .2rem;*/
            font-size: .9rem;
            line-height: 3rem;
            
            a {color: white; text-decoration: none; font-weight: 300; padding-left: 10px; transition: all .1s ease-in-out;
            i { margin-right: 5px;}
            }
    
            div {
                li {line-height: 2rem; font-size: .8rem;}
            }
        }   
    }
}