<main id="main_" class="main_">
  <div class="pagetitle my-4">
    <h1 class="d-flex align-items-center justify-content-start">
      <i
        class="bi bi-plus-lg plus-buttom p-1 d-flex align-items-center justify-content-center rounded-pill"
        (click)="toggleContainer()"
      ></i>
      <span
        class="mx-2 d-none d-lg-block fw-bolder"
        [style]="{ color: 'var(--bg-color)', fontWeight: '400' }"
        >Fazer uma solicitação</span
      >
    </h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="evento d-none">
        <div class="row">
          <div class="col-12">
            <div class="panel panel-transparent">
              <div class="panel-body">
                <div class="row" *ngIf="this.eventos">
                  <div
                    *ngFor="let item of this.eventos"
                    class="col-12 d-flex justify-content-between align-items-center p-0 border-0 my-1 rounded shadow overflow-hidden"
                    [style.backgroundColor]="item.d ?? 'var(--bg-color)'"
                  >
                    <button
                      class="label px-2 py-2 border-0 w-100"
                      style="color: white; font-size: 1rem"
                      [style]="{
                        backgroundColor: 'inherit',
                        textAlign: 'left'
                      }"
                      data-toggle="modal"
                      data-target="#registar-editar-solicitacao"
                      (click)="setTipoEvento(item)"
                    >
                      {{ item.nome }}
                    </button>
                    <!-- <div class="custom-control custom-switch">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        [id]="item.id"
                      />
                      <label
                        class="custom-control-label"
                        [for]="item.id"
                      ></label>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 solicitacao">
        <app-solicitacao-enviada
          [actualiza]="this.actualiza"
          (actualizado)="this.onActualizado()"
        ></app-solicitacao-enviada>
      </div>
    </div>
  </section>
</main>

<app-pa-registar-ou-editar
  [pessoaId]="this.getPessoaId"
  (onRegistarOuEditar)="this.onActualizado()"
  [evento]="this.evento"
>
</app-pa-registar-ou-editar>
