<main id="main_" class="base main_">

  <div class="system">
    <div class="org d-flex">
      <div class="img-top">
        <img src="../../../../../../assets/deskapp.gif" alt=""
          style="width: 50px; margin-top: -6px; margin-left: 12px; border-radius: 16px;">
      </div>
      <div>
        <h3 class="titulo-top">Painel de Controlo</h3>
        <h5 class="titulo-bt">Conteúdo incial da aplicação | <b>SIGIAC</b> - Sistema Integrado de Gestão de Inspecção e
          Atendimento ao Cidadão</h5>
      </div>
    </div>
  </div>
  <br>

  <section class="section dashboard">
    <div class="dash-org d-flex">
      <app-boxes class="row"></app-boxes>
      <!--             <div class="col-lg-12">
                <div class="row">
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card  sales-card" id="cor_dashboard">
                            <div class="card-body"
                                style="display: flex; justify-content: space-between; align-items: center; ">
                                <h5 class="card-title"><b>Total de Queixas</b></h5>
                                <div class=" card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-journal-text"></i>
                                </div>
                            </div>
                            <div class="d-flex flex-column  align-items-start justify-content-center">
                                <p class="px-4 size" ><b>130</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card  sales-card" id="cor_dashboard">
                            <div class="card-body"
                                style="display: flex; justify-content: space-between; align-items: center; ">
                                <h5 class="card-title"><b>Inspecção</b></h5>
                                <div class=" card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-puzzle-fill"></i>
                                </div>
                            </div>
                            <div class="d-flex  align-items-center justify-content-space-between">
                                    <label class="d-flex flex-row mx-4 size" >Total de auditorias <p class="px-3" ><b>44</b></p> </label>
                                    <label class="d-flex flex-row mx-4 size" >Total de averiguações <p class="px-3" ><b>74</b></p> </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card  sales-card" id="cor_dashboard">
                            <div class="card-body"
                                style="display: flex; justify-content: space-between; align-items: center; ">
                                <h5 class="card-title"><b>Instrução</b></h5>
                                <div class=" card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-stickies-fill"></i>
                                </div>
                            </div>
                            <div class="d-flex flex-column  align-items-start justify-content-center">
                                    <label class="d-flex flex-row mx-4 size" >Total de proc. disciplinar <p class="px-3" ><b>22</b></p></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card  sales-card" id="cor_dashboard">
                            <div class="card-body"
                                style="display: flex; justify-content: space-between; align-items: center; ">
                                <h5 class="card-title"><b>Fiscalização</b></h5>
                                <div class=" card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-arrow-repeat"></i>
                                </div>
                            </div>
                            <div class="d-flex flex-column  align-items-start justify-content-center">
                                    <label class="d-flex flex-row mx-4 size" >Total de proc. em acompanhamento <p class="px-3" ><b>8</b></p></label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
 --> <app-estatistica></app-estatistica>
    </div>
  </section>

</main>
