<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col-5 d-flex align-items-start">
      <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis" _msttexthash="337974" _msthash="19">intervenientes</h3>
        <p> 
        Intervenientes são todos aqueles que, direta ou indiretamente, têm participação, influência ou interesse em uma determinada ação, processo ou atividade, independentemente do grau de envolvimento.  
        </p> 
      </div>
    </div>
    
     
  </div>