

.loading{
  font-size: .8rem;
  margin-top: 5rem;
}
.loading .strong{
  font-size: .9rem;
  color: #041b4e;
  animation: load 1.5s linear infinite;
  transition: all .5s ease-in-out;
  opacity: 0;
}

.loading li{
 color:#e31212;
}

/* Estilos para as cores dos estados do processo */
.processo_em_andamento {
  background-color: #ffc107; /* Amarelo */
}

.processo_concluido {
  background-color: #28a745; /* Verde */
}

.processo_pendente {
  background-color: #dc3545; /* Vermelho */
}

.filters-toggle-btn.filters-active svg {
  display: none;
  fill: #0d0c22;
}
/* Estilos para as cores dos estados do processo */

.legend {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  margin-bottom: 5px;
  padding: 2px;
  background: #e9e9e900 !important;
  border-radius: 12px;
  color: rgb(44, 44, 44);
}

.legend-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
}
.legend-items {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: auto;
}
.small-td {
  width: 20px;
  height: 20px;
  overflow: hidden; /* Para cortar conteúdo que ultrapasse o tamanho */
  text-overflow: ellipsis; /* Para adicionar "..." ao texto longo */
  white-space: nowrap; /* Para impedir a quebra de linha */
}
.legend-cl {
  width: 80%;
  height: 20%;
  margin: auto;
  border-radius: 10px;
}
.legend-color {
  width: 20px;
  height: 20%;
  margin-right: 10px;
  border-radius: 15px;
  box-shadow: inset rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px !important;
}
.table-legend-color {
  width: 20px;
  height: 25px;
  border-radius: 15px;
}
.legend-text {
  margin-right: 5px;
  font-size: 2%;
}



.legend-text {
  font-size: 14px;
}

/* Estilos para as tabelas rend */
 /* modal */
.modal-header {
  background: #041b4e;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 7px;
}
.modal-content {
  --bs-bg-opacity: 0;
  border-top-left-radius: 11px !important;
  border-top-right-radius: 11px !important;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  overflow-y: hidden;
  width: 79%;
  margin: auto;
}
input[type="radio"] {
  opacity: 0;

  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Estilos para as cores dos estados do processo */
.processo_em_andamento {
  background-color: #ffc107; /* Amarelo */
}

.processo_concluido {
  background-color: #28a745; /* Verde */
}

.processo_pendente {
  background-color: #dc3545; /* Vermelho */
}

.filters-toggle-btn.filters-active svg {
  display: none;
  fill: #0d0c22;
}
/* Estilos para as cores dos estados do processo */

.legend {
  display: flex;
  flex-direction: row;
  margin-top: 9px;
  margin-bottom: 5px;
  padding: 2px;
  background: #e9e9e900 !important;
  border-radius: 12px;
  color: rgb(44, 44, 44);
}

.legend-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
}

.legend-color {
  width: 20px;
  height: 20%;
  margin-right: 10px;
  border-radius: 15px;
  box-shadow: inset rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px !important;
}
.table-legend-color {
  width: 20px;
  height: 25px;
  border-radius: 15px;
}
.legend-text {
  margin-right: 5px;
  font-size: 2%;
}

.em_andamento {
  background-color: #ffcc00;
}

.concluido {
  background-color: #00cc00;
}

.pendente {
  background-color: #cc0000;
}

.legend-text {
  font-size: 14px;
}

/* styles.css ou componente específico
 background-color: #f5f8fa;
  border-color: #f5f8fa;
  color: #5e6278;
  transition: color 0.2s ease;
  */

.bg-select {
  border-radius: 19px !important;
  background-color: #f3f3f3 !important;
  box-shadow: none;
  padding: 15px;
  width: 90%;
  color: #000;
  border: 1px solid #e8ecec !important;
}

.bg-light-TY {
  --bs-bg-opacity: 0;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  background-color: rgba(232, 236, 236, 0.986) !important;
  margin-top: -1px;
  row-gap: 1.2rem;
}
.bg-light {
  --bs-bg-opacity: 0;
  padding: 5px;
}

.bg-light1 {
  --bs-bg-opacity: 0;
  background-color: rgba(232, 236, 236, 0.726) !important;
  padding: 4px;
  border-radius: 0px !important;
}

.col-lgkv-3 {
  flex: 0 0 auto;
  width: 10%;
}
.col-lgkv-2 {
  flex: 0 0 auto;
  width: 20%;
}
.col-lgkv-1 {
  margin: auto;
  flex: 0 0 auto;
  width: 100%;
  padding: 10px;
}

.impro{
  
  cursor: pointer;
  
  outline: none !important;
  border: 1px solid #e7e7e7;
  background: linear-gradient(#f8f8f8, #e7e7e7)!important;
 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  text-align: justify;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-select {
  padding: 9px !important;
  font-size: 14px;
  box-shadow: none !important;
  cursor: pointer;
  font-weight: 400;
  outline: none !important;
  border: 1px solid var(--bg-color);
  background-image: linear-gradient(#f8f8f8, #e7e7e7)!important;
  display: block;
  width: 40px;
  color: var(--bs-heading-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  text-align: justify;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-search {
  padding: 9px !important;
  font-size: 14px;
  box-shadow: none !important;
  cursor: pointer;
  font-weight: 400;
  outline: none !important;
  border: 1px solid var(--bg-color);
  background-image: linear-gradient(#f8f8f8, #e7e7e7)!important;
  display: block;
  width: 400px;
  color: var(--bs-heading-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  text-align: justify;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.w-20s {
  color: black;
  border-right: none !important;
  border: 1px solid var(--bg-color);
  width: 55px;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  padding: 10px;
}
.w-30s {
  color: black;
  border-top: 1px solid #dbdbdb !important;
  border-bottom: 1px solid #dbdbdb !important;
  border-right: 1px solid #dbdbdb !important;
  width: 70px;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding: 10.5px;
  margin-left: -5px;
  background: #ffffff;
}
.col1 {
  width: 100%;
  padding: 8px;
  background-color: #f6f6f6;
  border-top-left-radius: 13px !important;
  border-top-right-radius: 13px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.col2 {
  width: 100%;
  padding: 2px;
  border-top: 1px solid #33333317;
  background-color: #f6f6f6;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 13px !important;
  border-bottom-right-radius: 13px !important;
}
.hidden-banner {
  display: none;
}
.nav-btn-button {
  border: none;
  border-top-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border: 1px solid #e8ecec !important;
  min-height: 40px;
  max-height: 50px;
  margin-right: 4px;
}

.btn-piips-button-all0 {
  border-top-right-radius: 17px !important;
  border-bottom-right-radius: 10px !important;
  color: white;
}
.btn-piips-dFace {
  background-color: var(--bg-color);
  color: white;
  border-radius: 35px !important;
  border: 1px solid var(--bg-color) !important;
  min-height: 40px;
  max-height: 90px;
  margin-top:1px;
}
.btn-piips-dFace:hover{
  margin-top:-35px;
}
.form-group{
  border-radius: 12px;
}
.custom-radius .btn {
  background-color: #041b4e !;
padding: 8px !important; /* Aumente o valor para bordas mais arredondadas */
}

.custom-radius .btn:first-child {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.custom-radius .btn:last-child {
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

.btn-piips-filter {
  border-radius: 19px !important;
  background-color: #e5e5e5;
  margin-left: 0.5rem;
  height: 40px;
}

.piips-select-all span {
  border-radius: 15px;
  color: black;
  border: 0px solid #ccc !important;
  background-color: #dc3545 !important;
}

.rounded {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 13px !important;
  border-bottom-right-radius: 13px !important;
  border: none !important;
  padding: 20px;
}
input,
select,
textarea {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border: 1px solid #dbdbdb !important;
}

 
/* Aplicando border-radius ao cabeçalho da tabela */
.col-112 {
  flex: 0 0 auto;
  width: 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}






/*-----------------
	2. Table
-----------------------*/
/* Media Queries para tornar a tabela responsiva */
@media screen and (max-width: 768px) {
  .table {
    border-radius: 0;
  }

  .table thead {
    display: none; /* Esconde o cabeçalho da tabela em dispositivos menores */
  }

  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }

  .table td {
    text-align: left;
    padding: 12px;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    color: #757575;
  }
}

.table {
  color: #000;
  border: none !important;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: auto;
  text-align: justify;
}

.table > tbody > tr > td {
  font-weight: 300;
}

 

table.table td h2 {
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

table.table td h2 a {
  color: #757575;
}

table.table td h2 a:hover {
  color: #002d54;
}

table.table td h2 span {
  color: #9e9e9e;
  display: block;
  font-size: 12px;
  margin-top: 3px;
}

.table .table-thead {
  font-size: small;
  text-align: justify;
  position: -webkit-relative;
  position: relative;
  border-collapse:  none !important;
  background: linear-gradient(#fff,#fff, #dcdcdc)!important;
  box-shadow: inset 0 -5px 10px -5px #b8b8b8;
  border-bottom: 1px solid #dbdbdb00 !important;
  z-index: 0;
}
 
.table-tbody {
  background-color: #ffffff;
}

.table-tbody tr:hover {
  background-color: #041b4e;
  color: #ffffff;
}
thead tr:first-child th:first-child {
  border-top-left-radius: 0px; /* Raio da borda superior esquerda */
}
thead tr:first-child th:last-child {
  border-top-right-radius: 0px; /* Raio da borda superior direita */
}
thead tr:last-child th:first-child {
  border-bottom-left-radius: 0px; /* Raio da borda superior direita */
}
thead tr:last-child th:last-child {
   border-bottom-right-radius: 0px;
}


td {
  padding: 1px;
  justify-content: center;
  align-items: center;
  height: 50px;
  vertical-align: middle;
  }
tr:first-child td:first-child {
  border-top-left-radius: 0px;
}
tr:first-child td:last-child {
  border-top-right-radius: 0px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/

@media (min-width: 1200px) {
  #main,
  #footer {
    margin-right: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .asidebar {
    left: 0;
  }
}

/* No arquivo CSS global ou no estilo do componente */
.select2-container--default .select2-selection--single {
  /* Seus estilos personalizados aqui */
  background-color: #f2f2f3;
  border: 1px solid #f0f0f0 !important;
}
.select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-results__option[aria-selected] {
  padding-left: 20px;
}
/* No arquivo do componente, por exemplo, seu-componente.component.css */
:host ::ng-deep .select2-container--default .select2-selection--single {
  background-color: #ffffff;
  border: 1px solid #dbdbdb !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 6px !important;
  /* Adicione mais estilos conforme necessário */
}

@keyframes piscar {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.alerta-piscante {
  animation: piscar 1s steps(1, end) infinite;
}
.me5 {
  margin-left: -6px;
  margin-top: -5px;
}

.dropdown-menu {
  background-color: #0c1b5c !important;
  border-radius: 12px;
  padding-left: 2px !important;
  border: 1px solid #071246;
}
.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item {
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown-menu .dropdown-item:hover {
  box-shadow: inset 0 0 5px, rgba(9, 30, 66, 0.08) !important;
  background: #010236d5;
  color: #ffffff;
  border-radius: 10px !important;
  padding-left: 10px;
  padding-top: 7px;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #0c1b5c !important;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #071246;
    border-left: 1px solid #071246;
  }
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}
hr:not([size]) {
  height: 1px;
}
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
hr {
  margin: 0;
  color: inherit;
  background-color: rgb(0, 0, 0);
  border: 0;
  opacity: 0.25;
}
 

@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}


#asidebar {
  transition:all 0.3s cubic-bezier(1, -0.43, 0.21, 1.57);
  z-index: 3px;
  position: fixed;
  top: 20%;
  right: 0;
  height: 100%; 
  width: 400px;   
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
}

.div span {
  text-transform: uppercase;
  color: rgb(172, 172, 172);
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 20px;
}
.div span:first-child {
  animation: red 0.5s linear infinite;
  animation-delay: 0.25s;
}
.div span:last-child {
  animation: blue 0.5s linear infinite;
  animation-delay: 0.5s;
}
@keyframes red {
  from {
    color: red;
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 60px red;
  }
}
@keyframes blue {
  from {
    color: blue;
    text-shadow: 0 0 5px blue, 0 0 15px blue, 0 0 30px blue, 0 0 60px blue;
  }
}










































/* STYLE C */
.checkboxes__item {
  max-width: 20px;
  margin-left: 12px;
  margin-bottom: -11px;
}
.checkbox.style-c {
  display: inline-block;
  position: relative;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-c input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark {
  background-color: #e2e2e2;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-c:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-c:hover input:checked ~ .checkbox__checkmark {
  background-color: #1c92f3;
}
.checkbox.style-c .checkbox__checkmark {
  position: relative;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-c .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-c .checkbox__body {
  color: #ffffff;
  line-height: 1.4;
  font-size: 16px;
}































 

.org-o {
  padding: 0px;
}
.titulo-top {
  margin-left: 12px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: #020d27;
}
.titulo-bt {
  margin-left: 12px;
  font-size: 14px;
  font-weight: lighter;
  color: rgb(178, 178, 178);
}
.config-sis {
  background-color: #ffffff;
  height: 80px;
  padding: 16px;
  border-radius: 10px;
  border: none;
  color: #020d27;
  box-shadow: 4px 4px 4px -3px rgb(213, 213, 213);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  border: 4px solid rgb(225, 225, 225);
  display: flex;
  text-align: left;
  justify-content: space-between;
  transition: 0.3s;
}
.config-sis:hover {
  background-color: #e6e6e6;
  height: 80px;
  padding: 16px;
  border-radius: 10px;
  border: none;
  color: rgb(91, 91, 91);
  box-shadow: 4px 4px 4px -3px rgb(213, 213, 213);
  font-size: 12px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 0px;
  margin-bottom: 5px;
  border: 4px solid rgb(225, 225, 225);
}
.botoes {
  margin: 8px;
}
.left-sis {
  display: flex;
  .bi {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
  }
  .text-down {
    font-weight: lighter;
    margin-top: -10px;
  }
  .icone {
    margin-top: -10px;
    margin-right: 15px;
  }
}
.right-sis {
  .fa {
    font-size: 42px;
    color: rgb(52, 52, 52);
  }
}
.infor-top-o {
  background-color: #ffffff00;
  height: 64px;
  border-radius: 10px;
  padding: 6px;
}
.infor-top {
  background-color: #e9e9e900;
  height: 50px;
  padding: 16px;
  margin: 8px;
  border-radius: 10px;
  border: none;
  color: rgb(94, 94, 94);
  box-shadow: 4px 4px 4px -3px rgb(214, 214, 214);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 35px;
  display: flex;
  font-weight: bold;
  text-align: left;
}
.btn-top {
  background: linear-gradient(#06266a, #020f2a);
  width: 150px;
  height: 50px;
  padding: 4px 8px;
  margin: 8px;
  border-radius: 10px;
  border: none;
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 4px -3px gray;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}
.btn-top:hover {
  background: linear-gradient(#020f2a, #06266a);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.fa {
  margin-right: 8px;
}
 