/* Estilos para as tabelas rend */


.table .table-thead {
  font-size: small;
  text-align: justify;
  background-color: #f8fcff;
}
.table-tbody {
  background-color: #ffffff;
}

.table-tbody :hover {
  background-color: #0c1b5c;
  color: #ffffff;
}

/* Estilos para as cores dos estados do processo */
.processo_em_andamento {
  background-color: #ffc107; /* Amarelo */
}

.processo_concluido {
  background-color: #28a745; /* Verde */
}

.processo_pendente {
  background-color: #dc3545; /* Vermelho */
}

.filters-toggle-btn.filters-active svg {
  display: none;
  fill: #0d0c22;
}
/* Estilos para as cores dos estados do processo */

.legend {
  display: flex;
  flex-direction: row;
  margin-top: 9px;
  margin-bottom: 5px;
  padding: 2px;
  background: #e9e9e900 !important;
  border-radius: 12px;
  color: rgb(44, 44, 44);
}

.legend-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
}

.legend-color {
  width: 20px;
  height: 20%;
  margin-right: 10px;
  border-radius: 15px;
  box-shadow: inset rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px !important;
}
.table-legend-color {
  width: 20px;
  height: 25px;
  border-radius: 15px;
}
.legend-text {
  margin-right: 5px;
  font-size: 2%;
}

.em_andamento {
  background-color: #ffcc00;
}

.concluido {
  background-color: #00cc00;
}

.pendente {
  background-color: #cc0000;
}

.legend-text {
  font-size: 14px;
}

/* styles.css ou componente específico
 background-color: #f5f8fa;
  border-color: #f5f8fa;
  color: #5e6278;
  transition: color 0.2s ease;
  */
.bg-light {
  --bs-bg-opacity: 0;
  border-top-left-radius: 11px !important;
  border-top-right-radius: 11px !important;
  border-bottom-left-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  background-color: rgba(232, 236, 236, 0.986) !important;
  padding: 5px;
  row-gap: 1.2rem;
  margin-bottom: -0.1rem;
}
.bg-lightt {
  --bs-bg-opacity: 0;
  background-color: rgba(232, 236, 236, 0.986) !important;
  row-gap: 1.2rem;
  margin-top: 0.1rem;
}

.bg-lightt {
  --bs-bg-opacity: 0;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
  background-color: rgba(232, 236, 236, 0.986) !important;
  padding: 2px;
}
.col-lgkv-3 {
  flex: 0 0 auto;
  width: 10%;
}
.col-lgkv-2 {
  flex: 0 0 auto;
  width: 20%;
}
.col-lgkv-1 {
  flex: 0 0 auto;
  max-width: 66%;
}
.hidden-banner {
  display: none;
}
.nav-btn-button {
  border:none;
  border-top-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border: 1px solid #e8ecec !important;
  min-height: 40px;
  max-height: 50px;
  margin-right: 4px;
}


.input-piips-search {
  padding: 10px 10px;
  font-size: 14px;
  transition: all 0.4s;
  box-shadow: var(--shadow);
  cursor: pointer;
  font-weight: 400;
  outline: none !important;
  border-top: 1px solid var(--bg-color);
  border-bottom: 1px solid var(--bg-color);
}

.input-piips-search.btn-piips-button {
  border:none;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  background-color: #ffffff;
  border: 1px solid #dbdbdb !important;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 10px 15px -5px,
  rgba(0, 0, 0, 0.04) 2px 10px 10px -5px;
  height: 40px;
  margin-left: -5px;
}
.btn-piips-button-all0 {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  color: white;
}
.btn-piips-button-all1 {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  color: white;
}
.btn-piips-filter {
  border-radius: 10px !important;
  background-color: #cfcfcf;
  margin-left: 0.5rem;
  height: 40px;
}
.btn-piips-filter {
  border-radius: 10px !important;
  background-color: #cfcfcf;
  margin-left: 0.5rem;
  height: 40px;
}
.input-piips-search.btn-piips-select {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  color: black;
  border-right: none !important;
  border: 1px solid var(--bg-color);
}


.piips-select-all span {
  border-radius: 10px;
  color: black;
  border: 0px solid #ccc !important;
  background-color: #dc3545 !important;
}


input,
textarea {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    border: 1px solid #dbdbdb !important;
}
.bt-radius{
  border-radius:5px;

}
.form-select{
  width: 200px;
  height: 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius:5px;
  border: 1px solid #dbdbdb !important;
}
/* seu-componente.component.scss */


/* styles.css ou componente específico */
.hidden-banner {
  display: none;
}


.checkboxes__item {
  display: flex;
  align-items: center;
}



/* STYLE C */
.checkbox.style-c {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-c input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark {
  background-color: #ffffff;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-c:hover input ~ .checkbox__checkmark {
  background-color: #070647;
}
.checkbox.style-c:hover input:checked ~ .checkbox__checkmark {
  background-color: #1c92f3;
}
.checkbox.style-c .checkbox__checkmark {
  position: relative;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-c .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-c .checkbox__body {
  color: #ffffff;
  line-height: 1.4;
  font-size: 16px;
}

/* Aplicando border-radius ao cabeçalho da tabela */

table {
  border-collapse: separate;
  border-spacing: 0;
}

thead tr:first-child th:first-child {
  border-top-left-radius: 5px; /* Raio da borda superior esquerda */
  border-bottom-left-radius: 10px;
}
thead tr:first-child th:last-child {
  border-top-right-radius: 5px; /* Raio da borda superior direita */
  border-bottom-right-radius: 10px;
}
.table-thead thead{
 margin-bottom:13rem; /* Raio da borda superior direita */
}

td {
  padding: 7px;
}
tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-right: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .asidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {

.toggle-sidebar #main,
.toggle-sidebar #footer {
  margin-left: 0;
}

.toggle-sidebar .asidebar {
  left: -300px;
}
}



/* No arquivo CSS global ou no estilo do componente */
.select2-container--default .select2-selection--single {
  /* Seus estilos personalizados aqui */
  background-color: #f2f2f3;
  border: 1px solid #f0f0f0 !important;
}
.select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-results__option[aria-selected] {
  padding-left: 20px;
}
/* No arquivo do componente, por exemplo, seu-componente.component.css */
:host ::ng-deep .select2-container--default .select2-selection--single {
  background-color: #ffffff;
  border: 1px solid #dbdbdb !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius:6px!important;
  /* Adicione mais estilos conforme necessário */
}

@keyframes piscar {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.alerta-piscante {
  animation: piscar 1s steps(1, end) infinite;
}
