<div class="modal fade" id="view-ocorrencias-completa"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="view-ocorrencias-completaLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" style="width: 850px">
    <div class="modal-content border-0 arounded-0">
      <div class="modal-header bg-prima text-white d-flex justifty-content-between "
        style="background-color: var(--bg-color)">
        <div class="controller d-block" style="width: 45px; height: 50;">
          <div class="dropdown w-50">
            <button type="button"  class="btn-info btn-piips-primary bt-radius"
              data-toggle="dropdown">
              Exportar
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item input-form" href="javascript:void"
                style="display: flex; align-items: baseline; justify-content: space-between">
                <label for="ocorrencia" style="font-size: 1rem; margin: 0px 10px;">Visualizar Ocorrencia</label>
                <div class="checkboxes__item">
                  <label class="checkbox style-c">
                    <input title="f" type="checkbox"  id="ocorrencia" (change)="onCheck($event)"/>
                    <div class="checkbox__checkmark hover:bg-muted-100 dark:hover:bg-muted-700/70"></div>
                  </label>
                </div>
              </a>
              <a class="dropdown-item input-form" href="javascript:void"
                style="display: flex; align-items: baseline; justify-content: space-between">
                <label for="interveninte" style="font-size: 1rem; margin: 0px 10px;">Intervenientes</label>
                <div class="checkboxes__item">
                  <label class="checkbox style-c">
                    <input title="f" type="checkbox" id="interveninte" (change)="onCheck($event)"/>
                    <div class="checkbox__checkmark hover:bg-muted-100 dark:hover:bg-muted-700/70"></div>
                  </label>
                </div>
              </a>
              <a class="dropdown-item input-form" href="javascript:void"
                style="display: flex; align-items: baseline; justify-content: space-between">
                <label for="veiculo" style="font-size: 1rem; margin: 0px 10px;">Veiculos</label>
                <div class="checkboxes__item">
                  <label class="checkbox style-c">
                    <input title="f" type="checkbox" id="veiculo" (change)="onCheck($event)"/>
                    <div class="checkbox__checkmark hover:bg-muted-100 dark:hover:bg-muted-700/70"></div>
                  </label>
                </div>
              </a>
              <a class="dropdown-item input-form" href="javascript:void"
                style="display: flex; align-items: baseline; justify-content: space-between">
                <label for="tipobens" style="font-size: 1rem; margin: 0px 10px;">Bens Associados</label>
                <div class="checkboxes__item">
                  <label class="checkbox style-c">
                    <input title="f" type="checkbox" id="tipobens" (change)="onCheck($event)"/>
                    <div class="checkbox__checkmark hover:bg-muted-100 dark:hover:bg-muted-700/70"></div>
                  </label>
                </div>
              </a>
              <a class="dropdown-item input-form" href="javascript:void"
                style="display: flex; align-items: baseline; justify-content: space-between">
                <label for="vitimas" style="font-size: 1rem; margin: 0px 10px;">Vitimas Associados</label>
                <div class="checkboxes__item">
                  <label class="checkbox style-c">
                    <input title="f" type="checkbox" id="vitimas" (change)="onCheck($event)"/>
                    <div class="checkbox__checkmark hover:bg-muted-100 dark:hover:bg-muted-700/70"></div>
                  </label>
                </div>
              </a>
              <a class="dropdown-item input-form" href="javascript:void"
                style="display: flex; align-items: baseline; justify-content: space-between">
                <label for="delituosos" style="font-size: 1rem; margin: 0px 10px;">Delituso Associados</label>
                <div class="checkboxes__item">
                  <label class="checkbox style-c">
                    <input title="f" type="checkbox" id="delituosos" (change)="onCheck($event)"/>
                    <div class="checkbox__checkmark hover:bg-muted-100 dark:hover:bg-muted-700/70"></div>
                  </label>
                </div>
              </a>

              <a class="dropdown-item input-form" href="javascript:void"
              style="display: flex; align-items: baseline; justify-content: space-between">
              <label for="grupos" style="font-size: 1rem; margin: 0px 10px;">Grupos Associados</label>
              <div class="checkboxes__item">
                <label class="checkbox style-c">
                  <input title="f" type="checkbox" id="grupos" (change)="onCheck($event)"/>
                  <div class="checkbox__checkmark hover:bg-muted-100 dark:hover:bg-muted-700/70"></div>
                </label>
              </div>
            </a>
              <a class="dropdown-item" href="javascript:void">
                Sair
              </a>

            </div>
          </div>

        </div>
        <h5 class="text-uppercase" style="color: var(--white)">Ficha de Ocorrencias</h5>
        <a type="button" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-backspace-reverse-fill cursor-pointer rounded-lg " style="font-size: 1.5em"></i>
        </a>
      </div>
      <div class="modal-body d-block align-items-start border" style="column-gap: .8rem">
        
        <div class="ficha-completa" id="ficha-agente">
          <div class="container-fluid p-0 ficha-ficha" style="overflow: hidden;">
            <div class="img-background">
              <img src="assets/dashboard/logopolice 4.png" alt="background-image">
            </div>
            <div class="col-12 header-ficha">
              <div class="row">
                <div
                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center justify-content-center align-items-center column-gap-4">
                  <div class="image">
                    <img src="assets/img/insignia.png" alt="image-logo" style="width:70px; height: 70px;">
                  </div>
                  <div class="logos mx-2 text-md-center">
                    <h6>REPÚBLICA DE ANGOLA</h6>
                    <h6>
                     ----------x----------
                    </h6>
                    <h6>
                      MINISTÉRIO DO INTERIOR
                    </h6>
                    <h6>
                      POLÍCIA NACIONAL DE ANGOLA
                    </h6>
                    <h6>
                      COMANDO PROVINCIAL DE LUANDA
                    </h6>
                    <h6>
                      {{this.orgao_nome}}
                    </h6>
                    <h6>
                      SISTEMA INTEGRADO DE CONTROLO E GESTÃO DE OCORRÊNCIAS
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-ficha"  >
              <div class="content-ficha" *ngIf="this.optionsExportar.ocorrencia" #fichaOcorrencia>
                <div class="row justify-content-center">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="header-content-ficha-c">
                      <h5>Ocorrencia: {{this.ocorrencias.codigo_sistema}}</h5>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row border-dados">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <b> Familia de Crime :</b>
                          </div>

                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            {{this.ocorrencias.tipicidade_ocorrencia ?? 'S/N' }}

                          </div>
                        </div>
                        <div class="row my-1">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <b>Importancia :</b>
                          </div>

                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            {{this.ocorrencias.importancia ?? 'S/N' }}

                          </div>
                        </div>
                        <div class="row my-1">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <b>Provincia :</b>
                          </div>

                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            {{this.ocorrencias.provincia ?? 'S/N' }}

                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="this.ocorrencias?.tipo_ocorrencia">
                            <b>Tipo Crime :</b>
                          </div>

                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            {{this.ocorrencias?.tipo_ocorrencia ?? 'S/N' }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="this.ocorrencias?.tipo_local">
                            <b>Tipo de Local :</b>
                          </div>

                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            {{this.ocorrencias?.tipo_local ?? 'S/N' }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="this.ocorrencias?.municipio">
                            <b>Municipio :</b>
                          </div>

                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            {{this.ocorrencias?.municipio ?? 'S/N' }}
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <b>Tipificação :</b>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            {{this.ocorrencias.categoria ?? 'S/N' }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <b>Local :</b>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            {{this.ocorrencias.local ?? 'S/N' }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <b>Data da ocorrência :</b>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            {{this.ocorrencias.data_ocorrido ?? 'S/N' }}
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mais-dados">
                    <div class="row row-gap-2">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <p><b>Descrição: </b></p>
                        {{this.ocorrencias.descricao  }}

                      </div>


                    </div>
                  </div>
                </div>
              </div>

              <div class="content-ficha" *ngIf="this.optionsExportar.interveninte" #fichaInterveninte>
                <div class="row justify-content-center">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="header-content-ficha">
                      <h5>Intervenintes</h5>
                    </div>
                  </div>
                  <div *ngFor="let item of this.testemunhas; let i=index">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row border-dados my-1">
                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <div class="row my-1">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <b>Interveniente :</b>
                              {{item.sicgo_denucia ?? 'S/N' }}

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <b>titulo :</b>
                              {{item.titulo ?? 'S/N' }}

                            </div>
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                          <div class="image-civil">
                            <ng-container *ngIf="this.isLoadingCivil || !this.fileUrlCivil; else temFotoCivil">
                              <img src="assets/img/img-civil.png" alt="image-preview">
                            </ng-container>
                            <ng-template #temFotoCivil>
                              <img [src]="this.fileUrlCivil" alt="image-preview">
                            </ng-template>
                          </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                          <div class="row my-1">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <b>Nome :</b>
                              {{item.nome ?? 'S/N' }}

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" *ngIf="this.funcionario?.nome_pai">
                              <b>Filiação (Pai) :</b>
                              {{item.nacionalidade ?? 'S/N' }}

                            </div>
                          </div>
                          <div class="row my-1">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" *ngIf="this.funcionario?.nome_mae">
                              <b>(Mãe):</b>
                              {{this.funcionario?.nome_mae ?? 'S/N' }}

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <b>B.I N.º:</b>
                              {{item.bi_n ?? 'S/N' }}

                            </div>
                          </div>

                          <div class="row my-1">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <b>Nacionalidade :</b>
                              {{item.nacionalidade ?? 'S/N'}}

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" *ngIf="this.funcionario?.nome_mae">
                              <b>Gênero :</b>
                              {{this.getGenero(this.funcionario?.genero) ?? 'S/N'}}

                            </div>
                          </div>
                          <div class="row my-1">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <b>Tel :</b>
                              {{item.tel ?? 'S/N' }}

                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="content-ficha" *ngIf="this.optionsExportar.delituosos" #fichadelituosos>
                <div class="row justify-content-center">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="header-content-ficha">
                      <h5>Delituosos </h5> 
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngFor="let item of this.delituosos; let i=index">
                    <div class="row border-dados py-1">
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                        <div class="borders mt-1 ml-3">
                          <div class="borders-img">
                              <img
                                  [src]="item.fileUrlFrontal"
                                  alt
                              >
                          </div>
                      </div>
                         
                      </div>
                      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="row my-1">
                          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <b>Nome:</b>
                            <ng-container *ngIf="item?.delituoso_nome; else semNome">
                              {{item?.delituoso_nome }} {{item?.alcunha ?
                              item?.alcunha : ''}}
                            </ng-container>
                            <ng-template #semNome>
                              <i>S/N</i>
                            </ng-template>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <b>Apelido :</b> <ng-container *ngIf="item?.alcunha; else semNIP">

                              {{item?.alcunha }}
                            </ng-container>
                            <ng-template #semNIP>
                              <i>S/N</i>
                            </ng-template>
                          </div>
                        </div>
                        <div class="row my-1">
                          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <b>Data Nascimento :</b> <ng-container
                              *ngIf="item?.dataNascimento; else semNAS">
                              {{item?.dataNascimento}}
                            </ng-container>
                            <ng-template #semNAS>
                              <i> S/N</i>
                            </ng-template>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <b>Idade :</b> <ng-container
                              *ngIf="item?.idade; else semVinculo">

                              {{item?.idade }}
                            </ng-container>
                            <ng-template #semVinculo>
                              <i> S/N</i>
                            </ng-template>
                          </div>
                        </div>
                        
                         
                        <div class="row my-1">
                          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <b>Provincia :</b>
                            <ng-container *ngIf="this.funcionario?.pseudonimo; else semPseudonomio">
                              {{this.funcionario?.pseudonimo }}
                            </ng-container>
                            <ng-template #semPseudonomio>
                              <i>S/N</i>
                            </ng-template>
                          </div>
                        </div>
                        <div class="row my-1">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <b>Natural :</b> <ng-container *ngIf="this.funcionario?.sigpq_tipo_orgao; else semOrgao">
                              {{this.funcionario?.sigpq_tipo_orgao?.sigla }} -
                              {{this.funcionario?.sigpq_tipo_orgao?.nome_completo }}
                            </ng-container>
                            <ng-template #semOrgao>
                              <i>S/N</i>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                   
                </div>
              </div>
              <div class="content-ficha" *ngIf="this.optionsExportar.veiculo" #fichaVeiculo>
                <div class="row justify-content-center">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="header-content-ficha">
                      <h5>Veiculos</h5>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <table class="table table-striped">
                        <thead>
                          <tr>

                            <th>Matricula</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Cor</th>
                            <th>Data de registo</th>

                          </tr>
                        </thead>


                        <tbody>
                          <tr *ngFor="let item of this.veiculos; let i=index">
                            <td>{{ item.matricula ?? 'S/N' }}</td>
                            <td>{{ item.marca ?? 'S/N' }}</td>
                            <td>{{ item.modelo ?? 'S/N' }}</td>
                            <td>{{ item.cor ?? 'S/N' }}</td>
                            <td>{{ item.created_at ?? 'S/N' }}</td>
                            <!-- <td>
                              <ng-container *ngIf="this.eData(item?.data_ingresso); else semData">
                                {{ this.getDataExtensao(item?.data_ingresso) }}
                              </ng-container>
                              <ng-template #semData> S/D </ng-template>
                            </td> -->
                          </tr>

                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
              <div class="content-ficha" *ngIf="this.optionsExportar.tipobens" #fichaTipoBens>
                <div class="row justify-content-center">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="header-content-ficha">
                      <h5>Bens associados</h5>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>

                          <th>Nome</th>
                          <th>Estado</th>
                          <th>Data de registo</th>

                        </tr>
                      </thead>


                      <tbody>
                        <tr *ngFor="let item of this.tipobens; let i=index">
                          <td>{{ item.nome?? 'S/N' }}</td>
                          <td>{{ item?.estado ?? 'S/N' }}</td>
                          <td>{{ item.created_at ?? 'S/N' }}</td>
                          <!-- <td>
                            <ng-container *ngIf="this.eData(item?.data_ingresso); else semData">
                              {{ this.getDataExtensao(item?.data_ingresso) }}
                            </ng-container>
                            <ng-template #semData> S/D </ng-template>
                          </td> -->
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="content-ficha" *ngIf="this.optionsExportar.grupos">
                <div class="row justify-content-center">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="header-content-ficha">
                      <h5>Grupos</h5>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="this.optionsExportar.grupos"
                    #fichaGrupos>
                    <table class="table table-border table-striped custom-table datatable mb-0">
                      <thead>
                        <tr>
                          <th>Codigo do Sistema</th>
                          <th>Nome</th>
                          <th>Sigla</th>
                          <th>Integrantes</th> 
                          <th>Data de Registo</th>

                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor=" let item of this.grupos; let i=index ">
                          <td>{{ item.codigo_sistema?.toString().toUpperCase() ?? 'S/N' }}</td>
                          <td>{{ item.grupo_nome?.toString()?.toUpperCase() ?? 'S/N' }}</td>
                          <td>{{ item.grupo_sigla?.toString().toUpperCase() ?? 'S/N' }}</td>
                          <td>{{ item.numero_integrante?.toString().toUpperCase() ?? 'S/N' }}</td>
                          <td>{{ item?.created_at ?? 'S/N' }}</td>

                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="this.optionsExportar.delituosos" #fichaDelituso>
                    <table class="table table-border table-striped custom-table datatable mb-0">
                      <thead>
                        <tr>

                          <!-- <th>Posto/Classe</th> -->
                          <th>Tipo de Acto</th>
                          <th>Função</th>
                          <th>Despacho n.º</th>
                          <th>Colocação</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of this.delituosos; let i=index">
                          <!-- <td> {{ item?.patente?.toString().toUpperCase() ?? 'S/N' }}</td> -->

                          <td> {{ item?.acto_nomeacao?.toString()?.toUpperCase() ?? 'S/N' }}</td>
                          <!-- <td> {{ item?.patente?.toString().toUpperCase() ?? 'S/N' }}</td> -->
                          <td> {{ item?.nome?.toString().toUpperCase() ?? 'S/N'}}</td>
                          <td> {{ item?.numero_despacho?.toString().toUpperCase() ?? 'S/N' }}</td>
                          <!-- <td> {{ item?.numero_ordem ?? 'S/N' }}</td> -->
                          <td> {{ item?.direcao?.toString().toUpperCase() }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
               

            </div>

          </div>


        </div>

      </div>
      <footer>

        <div style='text-align: left;' class="texto-esquerda"> 
        {{orgao_nome}} -R/C <br>
        Telef: 222 33 94 61/ 222 33 54 20 <br>
        Email:{{orgao}}.{{orgao}}@pn.gov.ao <br>
        Facebook: Policia Nacional de Angola</div>
        <div  class="texto-direita"><img src="assets/img/logopolice.png" style="text-align: right;" alt="Imagem do cabeçalho" width="100px" height="100px"></div>
          
     
    </footer>
      <div class="modal-footer" *ngIf="this.optionsExportar.ocorrencia">
        <!-- <button type="button" class="btn-piips btn-piips-primary m-0" data-dismiss="modal"
          (click)="imprimir('ficha-agente')">
          <i class="fa fa-save"></i> Descarregar
        </button> -->
        <button type="button" class="btn-piips btn-piips-primary m-0" data-dismiss="modal"
          (click)="imprimir('ficha-agente')">
          <i class="fa fa-print"></i> Imprimir
        </button>
      </div>

    </div>
