<div class="modal fade" id="modalVerSelecionados" aria-labelledby="modalVerSelecionados" aria-hidden="true">
    <div class="modal-dialog" role="document" style="overflow-y: hidden;min-width: 60%;margin-top: 10%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="color:var(--bg-color)">
                    <i class="fa fa-resistance"></i>
                    Agentes Selecionados
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="content">
                <div class="modal-body">
                    <aside *ngIf="this.ocorrenciasSelecionados?.length == 0; else temAgentesSelecionados">
                        <h5 style="color: var(--red);font-weight:normal!important;"> Nenhum agente selecionado <i
                                class="fa fa-times"></i></h5>
                    </aside>
                    <ng-template #temAgentesSelecionados>
                        <h5 style="color: var(--bg-color); font-weight:normal!important;">
                            {{this.ocorrenciasSelecionados?.length}}
                            {{this.ocorrenciasSelecionados?.length == 1? 'Agente Selecionado':'Agentes Selecionados'}} <i class="fa fa-check"></i> </h5>
                    </ng-template>
                    <div class="row">
                        <table class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Posto</th>
                                    <th>Nome Completo</th>
                                    <th>NIP</th>
                                    <th>NAS</th>
                                    <th class="text-center">Colocação actual</th>
                                    <th class="text-right">Operação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of this.ocorrenciasSelecionados ; index as i">
                                    <td>{{1 + i}}</td>
                                    <td>
                                        <ng-container *ngIf="item.patente_nome; else elseTemplate">
                                            {{item.patente_nome}}
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            S/N
                                        </ng-template>
                                    </td>
                                    <td>
                                        <strong>
                                            <a routerLink="/" ariaCurrentWhenActive="page"
                                                [routerLink]="['/piips/sigpg/perfil/', item.id, 'mobilidade']"
                                                style="font-size: 15px;">
                                                {{ item.nome_completo | uppercase }}
                                                {{ item.apelido | uppercase }}
                                            </a>
                                        </strong>
                                    </td>
                                    <td class="text-center">
                                        <ng-container *ngIf="item.nip; else elseTemplate">
                                            {{item.nip}}
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            S/N
                                        </ng-template>
                                    </td>
                                    <td class="text-center">
                                        <ng-container *ngIf="item.numero_agente; else elseTemplate">
                                            {{item.numero_agente}}
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            S/N
                                        </ng-template>
                                    </td>
                                    <td class="text-center">
                                        <ng-container *ngIf="item.orgao?.nome; else elseOrgao">
                                            {{item?.orgao?.nome}}
                                        </ng-container>
                                        <ng-template #elseOrgao>
                                            0
                                        </ng-template>
                                    </td>
                                 
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"
                                                    (click)="this.removerOcorrenciaSelecionado(item)">
                                                    <i class="fa fa-trash m-r-5"></i> Eliminar
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn-piips btn-piips-red py-2 m-0" (click)="this.removerTodos()"
                        [disabled]="!this.ocorrenciasSelecionados?.length">
                        <span class="fa fa-refresh"></span> Remover todos
                    </button>
                </div>
            </div>
        </div>
    </div>