<div class="modal fade" id="modalRegistar" data-backdrop="static" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="min-width: 40%;">
    <div class="modal-content">
      <div class="modal-header align-items-center" style="background-color: #041b4e; color: white; height: 60px">
        <h1 class="modal-title fl-5 my-0" id="staticBackdropLabel" style="font-size: 1.3rem;">
          <i class="bi bi-cart-plus-fill" style="font-size: 1.5rem; margin-top: 0px; margin-right: 5px;"></i>
          {{ plano_id ? 'Editar': 'Registar'}} tipo de norma Pessoas
        </h1>
        <button type="button" id="btn-close-registar" class="btn p-0" data-dismiss="modal" aria-label="Close" style="color: white;" (click)="this.reiniciarFormulario()">
          <i class="bi bi-backspace-fill" style="font-size: 1.5rem;"></i>
        </button>
      </div>
      <div class="modal-body pt-2">
        <p class="pl-0 mb-2">
          <i class="bi bi-exclamation-triangle-fill text-warning"></i> 
          Os campos marcados com ( <i class="bi bi-exclamation-circle-fill icone-alerta"></i> ) são de carácter
          <strong>obrigatório</strong>.
        </p>
        <div class="col-12 p-0 m-0">
          <form id="form" class="row container-fluid m-0 pl-0 pr-0" (ngSubmit)="onSubmit()" [formGroup]="tipo_de_norma_pessoas_form" #formDir="ngForm">
            <div class="col-12 pr-0 pl-0">
              <label for="nome" class="form-label">Designação de tipo de Norma: <i class="bi bi-exclamation-circle-fill icone-alerta" *ngIf="!this.tipo_de_norma_pessoas_form.get('nome')?.value"></i></label>
              <div class="segundo sombra mb-3">
                <input type="text" placeholder="EX.: unknown" class="pl-3" id="nome" aria-describedby="planoHelp" formControlName="nome">
                <button type="button" class=" ">
                  <i class="bi bi-plus-square"></i>
                </button>
              </div>
              <!-- <div id="planoHelp" class="form-text validation-error" *ngIf="this.tipo_de_norma_pessoas_form.get('nome')?.hasError('required') && formDir.submitted">
                <p>A especificação do tipo de plano é obrigatório</p>
              </div> -->
            </div>


            <div class="col-12 pr-0 pl-0 mb-2">
              <label for="descricao_plano" class="form-label">Descrição: </label>
              <div class="segundo">
                <!-- se eu adicionar um form-control como class desse input, ele ficará colorido ao clicá-lo -->
                <textarea class="p-1 sombra form-control" cols="15" rows="6" aria-describedby="descricaoObsHelp"
                  formControlName="descricao" id="descricao_plano">
                </textarea>
              </div>
              <div id="obs_planoHelp" class="form-text validation-error" *ngIf="this.tipo_de_norma_pessoas_form.get('descricao')?.hasError('required') && formDir.submitted">
                <p>A Descrição é obrigatório</p>
              </div>
            </div>


            <!-- botão submit da categoria -->
            <div class="col-12 mb-3 p-0 d-flex justify-content-end">
              <button type="button" class="btn mb-0 mt-3 mr-3 btn-outline-danger" style="box-shadow: 0px 5px 8px rgba(0,0,0,0.323)" data-dismiss="modal" (click)="this.reiniciarFormulario()">
                  <i class="bi bi-trash-fill"></i>
                  Descartar
              </button>

              <button type="reset" class="btn mb-0 mt-3 mr-3" style="background-color: #f3f3f3; color: #041b4e; box-shadow: 0px 5px 8px rgba(0,0,0,0.323); font-weight: 400;" (click)="this.reiniciarFormulario()">
                  <i class="bi bi-x-circle-fill"></i>
                  Limpar Dados
              </button>

              <button type="submit" class="btn mb-0 mt-3" style="background-color: #041b4e; color: white; box-shadow: 0px 5px 8px rgba(0,0,0,0.323)">
                  <i class="bi bi-folder-plus"></i>
                  {{plano_id ? 'Salvar alterações': 'Salvar'}}
              </button>
            </div>

          </form>
        </div>
      </div>
      <!--
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Understood</button>
                  </div>
              -->
    </div>
  </div>
</div>
