<main id="main_" class="main_">
  <div class="pagetitle mb-4">
    <h1>
      <i class="bi bi bi-box2-fill"></i
      ><span class="mx-2">Meios atribuídos</span>
    </h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card recent-sales overflow-auto">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div
                  class="card-body-header d-flex justify-content-between align-items-center my-2"
                >
                  <h5 class="card-title">Meios atribuídos</h5>
                </div>
              </div>
              <div class="col-12 my-2">
                <form class="form-inline">
                  <select
                    id="perPageSelector"
                    class="form-control mr-sm-1"
                    (change)="filtrarPagina('perPage', $event)"
                  >
                    <option *ngFor="let item of [5, 10, 20, 50]" [value]="item">
                      {{ item }}
                    </option>
                  </select>
                  <input
                    class="form-control mr-sm-1"
                    type="text"
                    [ngModel]="filtro.search"
                    name="search"
                    (ngModelChange)="filtrarPagina('search', $event)"
                    placeholder="Pesquisa ..."
                  />
                  <button
                    (click)="this.recarregarPagina()"
                    id="btpe1"
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                  >
                    <i
                      style="font-size: 14px"
                      class="fa fa-refresh fa-spin fa-3x fa-fw"
                    ></i>
                    <b>Recarregar</b>
                  </button>
                </form>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table text-center ms-auto">
                <thead class="text-center">
                  <tr>
                    <th>ID</th>
                    <th>Quantidade</th>
                    <th>Tamanho</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Data Registado</th>
                    <th>Data Actualização</th>
                    <!-- <th colspan="4">Operação</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of this.meios
                        | paginate
                          : {
                              id: 'meioId',
                              itemsPerPage: this.pagination.per_page,
                              currentPage: this.pagination.current_page,
                              totalItems: this.pagination.total
                            };
                      index as i
                    "
                  >
                    <td>{{ i + 1 }}</td>

                    <td>{{ item.quantidade }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>{{ item.tamanho }}</td>
                    <td>{{ item.tipo_meio_nome }}</td>

                    <td
                      class="badge w-100 p-2 text-light"
                      [style.backgroundColor]="this.getEstado(item.activo)?.cor"
                      style="border-radius: unset"
                    >
                      <span
                        *ngIf="item.activo"

                        >Em uso</span
                      >
                      <span
                        *ngIf="!item.activo"

                        >Sem uso</span
                      >
                    </td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.updated_at }}</td>
                    <!-- <td
                      *ngIf="
                        item.nome_arquivo != 'null' &&
                        item.nome_arquivo != 'undefined'
                      "
                    >
                      <a
                        (click)="
                          this.download(item.documento, item.nome_arquivo)
                        "
                        class="btn bi bi-download"
                        title="Descarregar"
                      ></a>
                    </td>
                    <td>
                      <a
                        (click)="verArquivo(item.documento, item.texto)"
                        href="javascript:void(0)"
                        class="dropdown-item"
                        data-toggle="modal"
                        [style.cursor]="'pointer'"
                        data-target="#mostrarArquivo"
                        ariaCurrentWhenActive="page"
                        class="btn bi bi-eye-fill"
                        title="Ler a reclamação"
                      ></a>
                    </td>
                    <td>
                      <a
                        (click)="setRemoveID(item.id)"
                        data-toggle="modal"
                        data-target="#cancelar-reclamacao"
                        class="btn bi bi-eraser-fill"
                        title="Remover ficheiro"
                      ></a>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-lg-12">
                  Mostrando de {{ this.pagination.current_page }} a
                  {{ this.pagination.per_page }} de {{ this.pagination.total }}
                  <aside *ngIf="this.pagination.total < 2; else outrosRegistos">
                    registos
                  </aside>
                  <ng-template #outrosRegistos>registos</ng-template>
                </div>
                <div class="col-sm-6">
                  <div class="float-right">
                    <pagination-controls
                      id="funcionarioEspecial"
                      (pageChange)="this.filtrarPagina('page', $event)"
                      [directionLinks]="true"
                      [autoHide]="true"
                      previousLabel="Anterior"
                      nextLabel="Próximo"
                      [maxSize]="4"
                      [responsive]="true"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
