<div class="bg-light pt-4" style="height: calc(100vh - 97px);">
    <!-- Breadcrumbs -->
    <div class="ml-4 pl-1 pt-2 pr-2 pb-2 mr-4 sigv-breadCrumb">
      <ul type="none" class="d-flex align-items-center m-0 pl-0">
        <li>
          <a [routerLink]="['/piips/sigvest/dashboard']">
            <i class="bi bi-house-door-fill"></i> <i class="bi bi-chevron-right"></i>
          </a>
        </li>
        <li>
          <a [routerLink]="['/piips/sigvest/planificacao']">
            Planificação <i class="bi bi-chevron-right"></i>
          </a>
        </li>
        <li>
          <a [routerLink]="['/piips/sigvest/planificacao/plano-de-necessidades']">
            Plano de Necessidades <i class="bi bi-chevron-right"></i>
          </a>
        </li>
        <li routerLinkActive="efeito-breadcrumb">
          <a [routerLink]="['/piips/sigvest/planificacao/plano-de-necessidades/listar']">
            <span>Listar</span>
          </a>
        </li>
      </ul>
    </div>
  
    <section class="container-fluid p-3" style="border-radius: 26px 26px 0 0;">
      <!-- Titulo -->
      <h3 class="pl-4 mt-3 titulo">
        <div>
          Listar Planos de Necessidade <br>
          <div style="font-size: 0.7rem; transform: translate(-15px, -10px)">
            <i class="bi bi-dot" style="font-size: 2rem;"></i>
            <div style=" transform: translate(-14px, -9px); display:inline-block;">
              Gestão de planificações da logística PNA
            </div>
          </div>
        </div>
  
        <div>
          <span><abbr title="REJEITADO"><i class="bi bi-square-fill text-danger"></i></abbr></span>
          <span><abbr title="PENDENTE"><i class="bi bi-square-fill text-warning"></i></abbr></span>
          <span><abbr title="PARA RETIFICAR"><i class="bi bi-square-fill text-info"></i></abbr></span>
          <span><abbr title="APROVADO"><i class="bi bi-square-fill text-success"></i></abbr></span>
          <span><abbr title="RETIFICADO"><i class="bi bi-square-fill" style="color: #041b4e;"></i></abbr></span>
        </div>
      </h3>
  
      <div
        style="border: 1px solid #ddd; border-radius: 24px; padding: 20px; background-color: white; box-shadow: 0 8px 10px #cccccc71;">
        <div class="container-fluid">
          <nav style="float: left; width: 100%;">
            <div style="border-bottom: 1px solid #dddddd99; width: 70%; margin-right: 2rem; float: left;">
              <ul style="display: flex; align-items: center; border-bottom: 1px solid #ddd;" type="none">
                <li class="li-menu">
                  <a>
                    <select class="" (change)="this.filtrarPagina('estado_plano', $event)" style="padding: 5px 10px; border-radius: 8px; background-color: #f5f5f5;font-size: .9rem; box-shadow: 0px 3px 5px #cccccc71;">
                      <option *ngFor="let item of [
                        {id: 'todos', nome: 'TODOS'},
                        {id: 'pendente', nome: 'PENDENTES'},
                        {id: 'retificar', nome: 'RETIFICAR'},
                        {id: 'retificado', nome: 'RETIFICADOS'},
                        {id: 'aprovada', nome: 'APROVADOS'},
                        {id: 'rejeitada', nome: 'NÃO APROVADAS'}
                        ]" [value]="item.id">{{ item.nome }}</option>
                    </select>
                  </a>
                </li>
                <li class="li-menu">
                  <a href="javascript:void(0)">
                    <select
                      style="padding: 5px 10px; border-radius: 8px; background-color: #f5f5f5;font-size: .9rem; box-shadow: 0px 3px 5px #cccccc71;"
                      (change)="filtrarPagina('perPage', $event)">
                      <option *ngFor="let item of [5,10,20,50]" [value]="item">{{item}}</option>
                    </select>
                  </a>
                </li>
                <li class="li-menu">
                  <a href="javascript:void(0)">
                    <button type="button" class="btn"
                      style="padding: 5px 10px; border-radius: 8px; background-color: #f5f5f5;font-size: .9rem; box-shadow: 0px 3px 5px #cccccc71;">
                      <img src="../../../../../../../assets/assets_sigv/img/img/new/Refresh.png" alt="icon-actualizar" d="gira" class="me-2" height="20" width="20">
                      Actualizar
                    </button>
                  </a>
                </li>
                <li class="li-menu">
                  <a href="javascript:void(0)">
                    <button type="button" class="btn"
                      style="padding: 5px 10px; border-radius: 8px; color:#041b4e; background-color: #f5f5f5;font-size: .9rem; box-shadow: 0px 3px 5px #cccccc71;" (click)="this.mostrarPesquisaAvancada()">
                      <i [ngClass]="[this.pesquisaAvancada? 'bi bi-x-lg' : 'bi bi-search']" style="font-size: .9rem; margin-right: 5px;"></i>
                      {{this.pesquisaAvancada? 'Fechar Pesquisa' : 'Pesquisa Avançada'}}
                    </button>
                  </a>
                </li>
                <li class="li-menu">
                  <a href="javascript:void(0)">
                    <button type="button" class="btn" style="padding: 5px 15px; border-radius: 16px; background-color: #041b4e; color: #fff; box-shadow: 0px 3px 5px #041b4e71; font-size: .9rem;" [routerLink]="['/piips/sigvest/planificacao/plano-de-necessidades/registar']">
                      <i class="bi bi-plus-circle" style="font-size: .9rem;"></i> Nova
                    </button>
                  </a>
                </li>
              </ul>
            </div>
            <div style="width: 26%; float: right;">
              <form style="display:flex; align-items: center; width: 100%;">
                <button type="button" style="border: 1px solid #f6f6f6; border-right: none; padding: 10px 15px; background-color: #f6f6f6; border-radius: 16px 0 0 16px; height: 46px;">
                  <i class="bi bi-search" style="color: #666; font-size: 18px;"></i>
                </button>
                <input type="search" style="border: 1px solid #f6f6f6; border-left: none; padding: 10px; background-color: #f6f6f6; border-radius: 0 16px 16px 0; height: 46px; width: calc(100% - 49px)" placeholder="Pesquisar..." [ngModel]="filtro.search" (ngModelChange)="filtrarPagina('search',$event)">
              </form>
            </div>
          </nav>
        </div>
  
        <p style="padding: 10px; margin-bottom: 8px; font-weight: 600;">{{ this.pagination.total }} Documentos</p>
  
        <ng-container *ngIf="this.pesquisaAvancada">
          <div class=" p-3 mb-4 row filtro" style="border-radius: 5px; background-color: #f6f6f6;">
  
            <div class="col-3 pr-2 pb-2">
              <label for="">Referência do Plano</label>
              <ng-select2 class="" [options]="options" [data]="this.tipoPlano" id="plano_minit_id" style="border-radius: 10px; " (valueChanged)="filtrarPagina('referencia_plano', $event)"></ng-select2>
            </div>
  
            <div class="col-3 pr-2">
              <label for="">Comando Municipais / Órgãos</label>
              <ng-select2 class="" [options]="options" [data]="this.direcaoOuOrgao" id="plano_minit_id" style="border-radius: 10px; " (valueChanged)="this.filtrarPagina('escolha_departamento_distribuicao', $event)"> </ng-select2>
            </div>
  
            <div class="col-3 pr-2">
              <label for="">Estado</label>
              <select class="alone-nmg" (change)="this.filtrarPagina('estado_plano', $event)" style="padding: 5px 10px; border-radius: 8px; background-color: #f5f5f5;font-size: .9rem; box-shadow: 0px 3px 5px #cccccc71;">
                <option *ngFor="let item of [
                  {id: 'todos', nome: 'TODOS'},
                  {id: 'pendente', nome: 'PENDENTES'},
                  {id: 'retificar', nome: 'RETIFICAR'},
                  {id: 'retificado', nome: 'RETIFICADOS'},
                  {id: 'aprovada', nome: 'APROVADOS'},
                  {id: 'rejeitada', nome: 'NÃO APROVADAS'}
                  ]" [value]="item.id">{{ item.nome }}</option>
              </select>
            </div>
  
            <div class="col-3">
              <label for="">Ano</label>
              <select class="alone-nmg" (change)="filtrarPagina('ano_referencia_plano',$event)">
                <option *ngFor="let item of ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', 
                '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', 
                '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', 
                '2030'
                ]" [value]="item"> {{item}} </option>
              </select>
            </div>
          </div>
  
        </ng-container>
  
        <table class="table custom-table" style="border-radius: 40px;">
          <thead>
            <tr id="cabecalho" class="">
              <!-- <th>#</th> -->
              <th>N/O</th>
              <th>Documento</th>
              <th>Órgão Receptor</th>
            <!--   <th>Qtde Funcionário</th> -->
              <th>Estado</th>
              <th>G. Cumprimento</th>
              <th>Adenda</th>
              <th>Solicitante</th>
              <th>Última Actualização</th>
              <th class="text-center">Operação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let planificacaoInter of planificacaoInters | paginate : {
                  itemsPerPage: this.pagination.per_page,
                  currentPage: this.pagination.current_page,
                  totalItems: this.pagination.total,
                  id:'idAllPlanos'
                }; index as i">
  
              <!-- <td>
                (change)="selecionarAgenteParaMobilidade(item)" [checked]="validarSelecionado(item?.id)"
                <input type="checkbox" />
              </td> -->
              <td>{{(i+1) < 9 ? '0' + (i+1) : i+1}}</td>
              <td class="coluna-selecionada" style="cursor: pointer;" data-toggle="modal" data-target="#gerarRelatorio" (click)="gerarPlano(planificacaoInter)" > <!-- [ngClass]="{'piscar-linha-vazia': !planificacaoInter?.produtos}" -->
                <div style="display: flex; align-items: center;">
                  <i class="bi bi-file-earmark-pdf-fill pr-2" style="color: #B30C00; font-size: 24px;"></i>
                  <div>
                    <!-- <div>{{planificacaoInter.referencia_plano}} / {{planificacaoInter.ano_referencia_plano}}</div> -->
                    <div>{{planificacaoInter.descricao}}</div>
                    <div style="font-size: 0.7rem; color: #7d7d7d;">{{planificacaoInter.created_at}}</div>
                  </div>
                </div>
              </td>
              <abbr title="{{'Ministério das Finanças'}}">
                <td class=" ">
                  <div style="display: flex; align-items: center;">
                    <i class="bi bi-bank pr-2" style="color: #041b4e; font-size: 24px;"></i>
                    <div>
                      <div>MINFIN</div>
                    </div>
                  </div>
                </td>
              </abbr>
            <!--   <td>{{ planificacaoInter.quantidade_funcionario ?? 0 }}</td> -->
              <td class=" ">
                <ng-container *ngIf="planificacaoInter?.estado_produto?.toLowerCase() == 'aprovada'">
                  <button type="button" id="sucesso" class="btn" style="padding: 5px 10px; border-radius: 16px; background-color: #28a745; color: #fff;">
                    {{planificacaoInter?.estado_produto}}
                  </button>
                </ng-container>
  
                <ng-container *ngIf="planificacaoInter?.estado_produto?.toLowerCase() == 'pendente' || planificacaoInter?.estado_produto?.toLowerCase() == null ">
                  <button type="button" class="btn btn-warning" style="padding: 5px 10px; border-radius: 16px; color: #fff;" data-toggle="modal" data-target="#modalValidarPlano" (click)="setItem('validar-plano',planificacaoInter)">
                    {{planificacaoInter?.estado_produto ? planificacaoInter?.estado_produto : 'PENDENTE'}}
                  </button>
                </ng-container>
  
                <ng-container *ngIf="planificacaoInter?.estado_produto?.toLowerCase() == 'rejeitada'">
                  <button type="button" class="btn btn-danger" style="padding: 5px 10px; border-radius: 16px;">
                    {{planificacaoInter?.estado_produto}}
                  </button>
                </ng-container>
  
                <ng-container *ngIf="planificacaoInter?.estado_produto?.toLowerCase() == 'retificar'">
                  <button type="button" class="btn" style="padding: 5px 10px; border-radius: 16px; background-color: #17a2b8; color: white;" data-toggle="modal" data-target="#modalEditarPlanos" (click)="setItem('editar', planificacaoInter)">
                    {{planificacaoInter?.estado_produto}}
                  </button>
                </ng-container>
  
                <ng-container *ngIf="planificacaoInter?.estado_produto?.toLowerCase() == 'retificado'">
                  <button type="button" class="btn" style="padding: 5px 10px; border-radius: 16px; background-color: #041b4e; color: white" data-toggle="modal" data-target="#modalValidarPlano" (click)="setItem('validar-plano',planificacaoInter)">
                    {{planificacaoInter?.estado_produto}}
                  </button>
                </ng-container>
              </td>
              <td>
                <div style="display: flex; align-items: center;">
                  <span>{{ planificacaoInter?.grau_cumprimento?.toFixed(0) ?? 0 }}%</span>
                  <progress [value]="planificacaoInter?.grau_cumprimento?.toFixed(0) ?? 0" max="100"> </progress>
                </div>
              </td>
              <td>
                <ng-container *ngIf="planificacaoInter?.adenda">
                  <button type="button" class="btn" id="icon-verificacao" style="padding: 5px 10px; border-radius: 16px; background-color: #041b4e; color: #fff;">
                    AD
                  </button>
                </ng-container>
  
                <ng-container *ngIf="planificacaoInter?.temAdenda">
                  <button type="button" class="btn" id="icon-verificacao"
                    style="padding: 5px 10px; border-radius: 16px; background-color: #17a2b8; color: #fff;">
                    TAD
                  </button>
                </ng-container>
  
                <ng-container *ngIf="!planificacaoInter?.adenda && !planificacaoInter?.temAdenda">
                  N/S
                </ng-container>
              </td>
              <td class=" ">{{ planificacaoInter.sigla_departamento_recebe	}} </td>
              <td class=" ">{{planificacaoInter.updated_at}} </td>
              <td class=" text-center">
                <div class="dropdown dropdown-action position-static">
                  <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right lista-option">
                    <a href="javascript:void(0)" class="dropdown-item" *ngIf="planificacaoInter?.doc?.anexo" (click)="setItem('ver-anexo',planificacaoInter)" data-target="#documento" data-toggle="modal">
                      <i class="bi bi-eye-fill"></i> Ver Anexo
                    </a>
  
                    <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#gerarRelatorio" (click)="gerarPlano(planificacaoInter)">
                      <i class="bi bi-eye-fill"></i> Gerar Documento
                    </a>
  
                    <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" *ngIf="planificacaoInter?.estado_produto?.toLowerCase() === 'pendente'" data-target="#modalValidarPlano" (click)="setItem('validar-plano',planificacaoInter)">
                      <i class="bi bi-pencil-square"></i> Validar Plano
                    </a>
  
                    <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#detalhe" (click)="setItem('ver-detalhes', planificacaoInter)">
                      <i class="bi bi-info-circle"></i> Mais informações
                    </a>
                    <a class="dropdown-item" routerLink="/piips/sigvest/planificacao/plano-de-necessidades/listar/{{planificacaoInter.id}}">
                      <i class="bi bi-plus-circle"></i> Visualizar Produtos
                    </a>
                    <a *ngIf="planificacaoInter.estado_produto?.toLowerCase() == 'aprovada' || planificacaoInter?.estado_produto?.toLowerCase() == 'aprovado'" class="dropdown-item" data-toggle="modal" data-target="#modalListarAdenda" href="javascript:void(0)"(click)="setItem('ver-adenda', planificacaoInter)">
                      <i class="bi bi-pencil-fill"></i> Adenda
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" *ngIf="planificacaoInter?.estado_produto?.toLowerCase() === null " data-toggle="modal" data-target="#modalEditarPlanos" (click)="setItem('editar', planificacaoInter)">
                      <i class="bi bi-pencil-square"></i>
                      Editar Plano
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#modalEliminar" (click)="this.validarEliminar(planificacaoInter)" style="color: #dc3545; font-size: .9rem;">
                      <i class="bi bi-trash-fill"></i> Eliminar
                    </a>
  
                  </div>
                </div>
              </td>
            </tr>
  
          </tbody>
        </table>
  
        <!-- paginação -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-1 ml-0 pl-0 mt-2">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
              Mostrando de {{ this.pagination.current_page }} a {{ this.pagination.per_page }} de {{this.pagination.total}}
              <aside *ngIf="this.pagination.total < 2; else outrosRegistos">registos</aside>
              <ng-template #outrosRegistos>registos</ng-template>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
              <div class="float-right">
                <pagination-controls id="idAllPlanos" (pageChange)="filtrarPagina('page', $event, false)"
                  [directionLinks]="true" [autoHide]="false" previousLabel="Anterior" nextLabel="Próximo" [maxSize]="4"
                  [responsive]="true">
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section>
  </div>
  
  <!-- Ver anexo do plano selecionado -->
 <!--  <sigv-ver-documento-modal [documento]="documento" (limparValores)="recarregarPagina()"></sigv-ver-documento-modal> -->
  
  <!-- Editar o plano selecionado com os produtos incluso -->
  <sigv-editar-planos [planificacao]="planificacao_para_modal_editar" (onEditarForm)="recarregarPagina()"></sigv-editar-planos>
  
  <!-- Ver detalhes do plano selecionado -->
  <!-- <sigv-detalhe-plano-modal [planificacao]="planificacao_para_modal_detalhe" (limparValores)="recarregarPagina()"></sigv-detalhe-plano-modal> -->
  <!-- Gerar relatorio colectivo -->
  <!-- <sigv-gerar-relatorio [documento]="this.fileUrl"> </sigv-gerar-relatorio> -->
  
  <sigv-validar-plano [planificacao]="planificacao_para_modal_validar_plano" (onEditarForm)="recarregarPagina()">
  </sigv-validar-plano>
  
  <!-- Adenda -->
<!--   <sigv-listar-adenda-modal [planificacao_relacionada]="planificacao_para_modal_ver_adenda"> </sigv-listar-adenda-modal> -->