<div class="modal fade" id="modalAlterarPermissao" aria-labelledby="modalRegistarUtilizador" aria-hidden="true">
    <div class="modal-dialog" role="document" style="overflow-y: hidden;min-width: 30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    <i class="fa fa-cogs"></i>
                    Alterar estado da permissão
                </h5>
                <button type="button" id="btn-close-activo" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="content">
                <div class="modal-body">

                    <div class="d-flex flex-column justify-content-center align-item-center">
                        <div class="d-flex justify-content-center align-item-center">
                            <p class="text-center">
                                A permissão <strong>{{this.permissao?.nome}}</strong> será alterado o seu estado
                                <br>
                                <span *ngIf="this.permissao?.activo" style="color: var(--red)"> <i
                                        class="fa fa-info-circle"></i> Se desactivares, não será possível visualizar ao
                                    dar acesso ao
                                    utilizador</span>
                                <span *ngIf="!this.permissao?.activo" style="color: var(--green)"> <i
                                        class="fa fa-check-circle"></i> Se activares, serão possível visualizar ao
                                    dar acesso ao
                                    utilizador</span>
                            </p>
                        </div>
                        <div class="d-flex align-item-center justify-content-center">
                            <button class="btn-piips btn-piips-red m-0" (click)="setNull()"
                                data-dismiss="modal">Cancelar</button>
                            <button class="btn-piips btn-piips-primary m-0"
                                (click)="toggleActivo(this.permissao?.id)">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="content">
    <sigpq-header></sigpq-header>
    <div class="header-ficha mt-1">
        <div class="row" style="align-items: center;">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 d-flex justify-content-start align-items-start">
                <div class="mais-info d-flex justify-content-center align-items">
                    <h4 class="text-white"><b>Listagens das permissões</b></h4>
                </div>
            </div>
            <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-end align-items-start">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#modalRegistar"
                    class="btn-piips btn-piips-secondary border m-0 py-1 px-4"><i class="fa fa-plus-circle"></i>
                    Registar</a>
            </div> -->
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-7">
            <h4 style="color: #002d59;" class="page-title"><b>Listagem das Funções</b></h4>
            <h4 style="font-size: 14px;">Sistema de Gerenciamento - <b>Módulo de Pessoal e Quadros</b></h4>
        </div>
        <div class="col-sm-5 text-right m-b-20">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#modalRegistar"
                class="btn btn-primary btnRegistar"><i class="fa fa-plus-circle"></i> Registar</a>
        </div>
    </div> -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-3">
            <form class="row" style="align-items: center; row-gap: 1rem!important;">
                <div class="col-xl-1 col-lg-1 col-md-4 col-sm-12">
                    <select class="form-control mr-sm-1" (change)="filtrarPagina('perPage',$event)">
                        <option *ngFor="let item of [5,10,20,50]" [value]="item">{{item}}</option>
                    </select>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-ms-12">
                    <ng-select2 class="form-control p-0 border-0" [data]="this.modulos" [ngModel]="this.filtro.modulo"
                        (valueChanged)="filtrarPagina('modulo',$event)">
                    </ng-select2>
                </div> -->
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                    <input class="form-control w-100" type="text" [ngModel]="this.filtro.search"
                        (ngModelChange)="filtrarPagina('search',$event)" placeholder="Pesquisa ...">
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 d-flex justify-content-end align-items-center ">
                    <button (click)="this.recarregarPagina()" class="btn-piips btn-piips-secondary m-0" type="submit">
                        <i style="font-size: 14px;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                        <b>Recarregar</b>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-border table-striped custom-table datatable mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Permissão</th>
                            <!-- <th>Modulo</th> -->
                            <th>Estado</th>
                            <th>Data de Registado </th>
                            <th>Ultima actualização</th>
                            <!-- <th class="text-center">Operação</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of permissoes | paginate: { itemsPerPage: this.pagination.per_page, currentPage: this.pagination.current_page,totalItems: this.pagination.total,id:'idPermission' }; index as i">
                            <td>{{i+1}}</td>
                            <td>{{item.nome}}</td>
                            <!-- <td>( {{item.modulo_sigla}} ) - {{item.modulo_nome}}</td> -->
                            <td>
                                <ng-container *ngIf="item.activo; else elseTemplate">
                                    <span class="custom-badge status-green">Activo</span>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <span class="custom-badge status-red">Inactivo</span>
                                </ng-template>
                            </td>
                            <td>{{item.created_at}}</td>
                            <td>{{item.updated_at}}</td>
                            <!-- <td class="text-center">
                                <div class="dropdown dropdown-action position-static">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a *ngIf="!item?.activo" (click)="setItem(item)" class="dropdown-item"
                                            href="javascript:void(0)" data-toggle="modal"
                                            data-target="#modalAlterarPermissao"><i class="fa fa-eye m-r-5"></i>
                                            Activar
                                        </a>
                                        <a *ngIf="item?.activo" (click)="setItem(item)" class="dropdown-item"
                                            href="javascript:void(0)" data-toggle="modal"
                                            data-target="#modalAlterarPermissao"><i class="fa fa-eye m-r-5"></i>
                                            Desactivar
                                        </a>
                                        <a *ngIf="item?.activo" (click)="setItem(item)" class="dropdown-item"
                                            href="javascript:void(0)" data-toggle="modal"
                                            data-target="#modalRegistar"><i class="fa fa-pencil m-r-5"></i>
                                            Editar</a>

                                    </div>
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Mostrando de {{ this.pagination.current_page }} á
                    {{ this.pagination.per_page }} de {{ this.pagination.total }} Registo
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="float-right">
                        <pagination-controls id="idPermission" (pageChange)="this.filtrarPagina('page', $event)"
                            [directionLinks]="true" [autoHide]="true" previousLabel="Anterior" nextLabel="Próximo"
                            [maxSize]="4" [responsive]="true"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-registar-ou-editar [permissao]="this.permissao" (onEditar)="this.recarregarPagina()">
</app-registar-ou-editar>