<div class="modal fade" id="logout-modal" style="border-radius: unset">
  <div class="modal-dialog modal-dialog-centered modal-dialog-ms">
    <div class="modal-content">
      <div class="modal-header">
        <div
          class="modal-title w-100 d-flex justify-content-between align-items-center"
        >
          Terminar sessão
          <a
            data-dismiss="modal"
            class="bi bi-x-lg text-danger"
            style="cursor: pointer"
          ></a>
        </div>
      </div>
      <div
        class="modal-body text-center"
        style="font-size: 16px; color: #041b43"
      >
        <span>Confirmas o termino da sessão?</span>
        <div class="btn-groups my-2">
          <a
            class="btn btn-link"
            style="text-decoration: none; color: #041b43"
            (click)="sair()"
            >Sim</a
          >
          <div
            class="btn btn-link"
            data-dismiss="modal"
            style="text-decoration: none; color: #041b43"
          >
            Não
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<aside id="asidebar" class="asidebar">
  <ul class="asidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
        <i class="bi bi-graph-up" id="cor_icone"></i>
        <span>Painel Controlo</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="perfil">
        <i class="bi bi-person-square" id="cor_icone"></i>
        <span>Meu Perfíl</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="dados">
        <i class="bi bi-server" id="cor_icone"></i><span>Meus dados</span>
      </a>
    </li>



    <li class="nav-item">
      <a
        class="nav-link collapsed d-flex justify-content-center"
        data-target="#gerenciamentoArquivos"
        data-toggle="collapse"
        href="#"
        routerLinkActive="active"
      >
        <i class="bi bi-stickies-fill" id="cor_icone"></i>
        <span>Meus Arquivos</span>
        <i
          class="bi bi-chevron-down ms-auto flex-fill"
          style="text-align: right"
        ></i>
      </a>

      <ul class="nav-content collapse bg-light rounded-bottom py-0"
      data-parent="#sidebar-nav" id="gerenciamentoArquivos">
        <li>
          <a routerLink="arquivo/listar-formacoes" class="nav-link" class="d-flex justify-content-between align-items-center pr-2">
            Minhas Formações
            <i class="bi bi-download" style="font-size: 1.2rem"></i>
          </a>
        </li>
        <li>
          <a routerLink="arquivo/listar-processo-individual" class="nav-link" class="d-flex justify-content-between align-items-center pr-2">
            Processos Individuais
            <i class="bi bi-download" style="font-size: 1.2rem"></i>
          </a>
        </li>
        <li>
          <a routerLink="arquivo/listar-agregado-familiar" class="nav-link" class="d-flex justify-content-between align-items-center pr-2">
            Dados Familiares
            <i
              class="bi bi-arrow-repeat"
              style="font-size: 1.2rem"
            ></i>
          </a>
        </li>
        <li>
          <a routerLink="arquivo" class="nav-link" class="d-flex justify-content-between align-items-center pr-2">
            Arquivos Extras
            <i
            class="bi bi-arrow-repeat"
            style="font-size: 1.2rem"
          ></i>
          </a>


        </li>
      </ul>

    </li>



    <li class="nav-item">
      <a
        class="nav-link collapsed d-flex justify-content-center"
        data-target="#work-scale"
        data-toggle="collapse"
        href="#"
        routerLinkActive="active"
      >
        <i class="bi bi-puzzle-fill" id="cor_icone"></i>
        <span>Escala de trabalho</span>
        <i
          class="bi bi-chevron-down ms-auto flex-fill"
          style="text-align: right"
        ></i>
      </a>
      <ul
        id="work-scale"
        class="nav-content collapse bg-light rounded-bottom py-0"
        data-parent="#sidebar-nav"
      >
      <li>
          <a class="d-flex justify-content-between align-items-center pr-2"
            routerLink="work"
            >Recém recebida
            <i class="bi bi-download" style="font-size: 1.2rem"></i
          ></a>
        </li>
        <li>
          <a
            class="d-flex justify-content-between align-items-center pr-2"
            routerLink="work/historic"
            >Histórico<i
              class="bi bi-arrow-repeat"
              style="font-size: 1.2rem"
            ></i
          ></a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed d-flex justify-content-center"
        data-target="#ask-menu"
        data-toggle="collapse"
        href="#"
        routerLinkActive="active"
      >
        <i class="bi bi bi-receipt" id="cor_icone"></i>
        <span>Solicitação</span>
        <i class="bi bi-chevron-down flex-fill" style="text-align: right"></i>
      </a>
      <ul
        id="ask-menu"
        class="nav-content collapse bg-light rounded-bottom py-0"
        data-parent="#sidebar-nav"
      >
        <!-- <li>
          <a
            class="d-flex justify-content-between align-items-center pr-2"
            routerLink="solicitacao/listar"
            >Enviadas<i class="bi bi-plus-lg" style="font-size: 1.2rem"></i
          ></a>
        </li>
        <li>
          <a
            class="d-flex justify-content-between align-items-center pr-2"
            routerLink="solicitacao/recebidas"
            >Pendentes<i class="bi bi-list-ul" style="font-size: 1.2rem"></i
          ></a>
        </li> -->
        <li>
          <a
            class="d-flex justify-content-between align-items-center pr-2"
            routerLink="solicitacao/licencas"
            >Licenças<i class="bi bi-list-ul" style="font-size: 1.2rem"></i
          ></a>
        </li>
        <!-- <li>
          <a
            class="d-flex justify-content-between align-items-center pr-2"
            routerLink="solicitacao/historico"
            >Histórico<i
              class="bi bi-arrow-repeat"
              style="font-size: 1.2rem"
            ></i
          ></a>
        </li> -->
      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed d-flex justify-content-center"
        data-target="#reclamation-menu"
        data-toggle="collapse"
        href="#"
        routerLinkActive="active"
      >
        <i class="bi bi-envelope-fill" id="cor_icone"></i>
        <span>Reclamação</span>
        <i class="bi bi-chevron-down flex-fill" style="text-align: right"></i>
      </a>
      <ul
        id="reclamation-menu"
        class="nav-content collapse bg-light rounded-bottom py-0"
        data-parent="#sidebar-nav"
      >
        <li>
          <a
            class="d-flex justify-content-between align-items-center pr-2"
            routerLink="reclamation/send"
            >Enviar <i class="bi bi-telegram" style="font-size: 1.2rem"></i
          ></a>
        </li>
        <li>
          <a
            class="d-flex justify-content-between align-items-center pr-2"
            routerLink="reclamation"
            >Enviadas<i class="bi bi-list-ul" style="font-size: 1.2rem"></i
          ></a>
        </li>
      </ul>
    </li>
    <li class="nav-item"> 
      <a class="nav-link" routerLink="meios-atribuido" style="cursor: pointer">
        <i class="bi bi-box2-fill" id="cor_icone"></i>
        <span>Meios atribuídos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="ordem-de-servico" style="cursor: pointer">
        <i class="bi bi bi-receipt" id="cor_icone"></i>
        <span>Ordem de Serviço</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="push" style="cursor: pointer">
        <i class="bi bi-bell-fill" id="cor_icone"></i>
        <span>Notificação</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="modal"
        data-target="#logout-modal"
        style="cursor: pointer"
      >
        <i class="bi bi-power" id="cor_icone"></i>
        <span>Terminar sessão</span>
      </a>
    </li>
  </ul>
</aside>
