<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" style="cursor: pointer; background-color: var(--use-color); color:white;">
  <p (click)="visualizarDocumento()" class="p-1">Gerar Guia Médica</p>
</div>


<div id="modalGerarModeloGuiaMedica" class="modal secand-modal" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
  <div class="modal-dialog" role="document" style="overflow-y: hidden;min-width: 70%;" appDraggable>
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          <i class="fa fa-user"></i>
          Guia Médica
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="fecharModalRelatorio()" (click)="closeModal('modalGerarModeloGuiaMedica')">&times;</span>
        </button>
      </div>
      <div class="content">
        <div class="modal-body">
          <aside *ngIf="this.fileUrl; else showLoadingRelatorio">
            <iframe [src]="fileUrl" width="100%" frameborder="0" style="min-height: 700px;"></iframe>
            <!-- <img [src]="this.fileUrl" width="100" height="100" alt="Profile" class="rounded-circle my-2"> -->
          </aside>
          <ng-template #showLoadingRelatorio>
            <div class="container">
              <div class="row justify-content-center">
                Carregando Guia ...
                <div class="col-sm-12 text-center">
                  <div class="spinner-border text-primary" style="width: 2rem; height: 2rem;" role="status">
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="fecharModalRelatorio()" (click)="closeModal('modalGerarModeloGuiaMedica')">
            <span class="fa fa-close m-r-2"> </span> Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
