

#main_ {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main_ {
    padding: 20px;
  }
}


@media (min-width: 1200px) {

  #main_,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .asidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main_,
  .toggle-sidebar #footer {
    margin-left: 0;
  }
}




