<div
  class="modal fade"
  id="modalRegistrarOuEditarFormadors"
  aria-labelledby="modalRegistrarOuEditarFormadors"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="overflow-y: hidden; min-width: 70%"
  >
    <div class="modal-content">
      <div style="background: #041b48;" class="modal-header">
        <h5
          style="
            color: #fff;
            font-size: 20px;
            font-style: normal;
            line-height: normal;
            font-weight: bold;
            font-family: Poppins;
          "
        >
          <img
            src="../../../../../../../assets/sigef/sidebar/Administrator Male.png"
            alt=""
          />
          Registar Formadores
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="content">
        <div class="main-img"></div>
        <form [formGroup]="this.simpleForm">
          <div class="modal-body">
            <div class="row"></div>

            <div class="card-1">
              <div
                style="background: #f1ebeb; width: 155px; height: 160px"
              ></div>

              <div style="width: 100%">
                
                <div class="form-group col-12">
                  <label for="">NAS*</label>
                  <ng-select2
                  formControlName="sigpg_funcionarios_id"
                  [data]="funcionarios"
                  [options]="options"
                  >
                </ng-select2>
              </div>
              <!-- (valueChanged)="onNASChange($event)" -->
              
                <div class="form-group col-12">
                  <label for="">Nome Completo*</label>
                  <input 
                  formControlName="nome_completo"
                  type="text" class="form-control" />
                </div>

              </div>
            </div>


            <div class="row">

              <div class="form-group col-6">
                <label >Selecione o tipo de Formador*</label>
                <ng-select2
                formControlName="tipo_formador"
                [options]="options"
                >
                <option>Tempo integrado</option>
                <option>Parcial</option>
                </ng-select2>
              </div>

              <div class="form-group col-6">
                <label >Selecione a Instituição que ministra*</label>
                <ng-select2
                [options]="options"
                formControlName="instituicao_ensino_id"
                [data]="instituicoes"
                >
                </ng-select2>
              </div>
            </div>


            
            <div class="row">
              <div class="form-group col-12">
                <label >Selecione o Curso*</label>
                <ng-select2
                [options]="options"
                formControlName="curso_id"
                [data]="cursos"
                >
                </ng-select2>
              </div>
            </div>


          </div>
          <div class="modal-footer">
            <button
              style="
                background-color: #e31212;
                border-radius: 3px;
                color: #fff;
                border: none;
                width: 130px;
                height: 32px;
              "
              type="reset"
              disabled="true"
            >
              Limpar
            </button>

            <button
              style="
                background-color: #041b4e;
                border-radius: 3px;
                color: #fff;
                border: none;
                width: 130px;
                height: 32px;
              "
              type="reset"
              (click)="onSubmit()"
            >
              Registrar
            </button>

            <ng-template #ocultarBotao> </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>