.main-content {
    width: 100%;
    height: 100vh;
    background-position: right center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292E88;
    background-image: url("assets/dashboard/bgfoundd.png");
    background-size: cover;
    font-family: 'Poppins', Poppins;
}


/* Nova Estilização */


.poly{
    display: grid;
    grid-column-start: 1fr;
    position: relative;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px); /* Altura da metade do hexágono */
    gap: 0;
    justify-content: center;
  }
  
 .hex{
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
    width: 350px;
    height: 100.47px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
  }

 .hex:nth-child(1) { grid-column: 1 / span 1; grid-row: 2; }
 .hex:nth-child(2) { grid-column: 7 / span 1; grid-row: 3; }
 
 .hex:nth-child(3) { grid-column: 3 / span 1; grid-row: 4; }
 .hex:nth-child(4) { grid-column: 2 / span 1; grid-row: 2; }
 .hex:nth-child(5) { grid-column: 1 / span 1; grid-row: 4; }

 .hex:nth-child(6) { grid-column: 1 / span 1; grid-row: 6; }
 .hex:nth-child(7) { grid-column: 4 / span 1; grid-row: 6; }

 *{
    font-family: 'Poppins';
}
.fundo{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}
.box{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.top{
    h3{
        font-size: 15px;
        font-weight: bolder;
    }
    p{
        margin-top: -10px;
        font-size: 12px
    }
    border: 2px solid rgb(255, 255, 255);
    height: 70px;
    width: 200px;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 12px;
    background-color: #23287b;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.box-top{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top-top{
    h3{
        font-size: 15px;
        font-weight: bolder;
    }
    p{
        margin-top: -10px;
        font-size: 12px
    }
    height: 70px;
    width: 200px;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 12px;
    background-color: #23287b;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.top-top-t{
    h3{
        font-size: 15px;
        font-weight: bolder;
    }
    p{
        margin-top: -10px;
        font-size: 12px
    }
    border: 2px solid rgb(255, 255, 255);
    margin-left: -30px;
    height: 70px;
    width: 200px;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 12px;
    background-color: #23287b;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.circ-top{
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151850;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
}

.link{
    padding: 8px;
    border-radius: 20px;
    background-color: #404495;
    color: white;
    width: 120px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.circ{
    cursor: pointer;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151850;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.circulo{
    p{
        font-size: 12px
    }
    h3{
        color: white;
        font-weight: bolder;
    }
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #2d328f;
    margin-left: -40px;
    margin-right: -12px;
    color: white;
    margin-top: -22px;
    margin-bottom: -20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.grid-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.grid-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}
@media screen and (min-width: 375px) {
   
}