.bg-prima{
  background-color: #041b4e;
}

.modal-content{
  border-radius: 15px;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.the-page {
  width: 100%;
}
.page__content {
  width: 100%;
  height: auto;
}
.page__segment {
  width: 100%;
  height: auto;
}
.page__frame {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 6px;
}
.page__segment.white {
  background-color: #fff;
}
.tab__content {
  width: 100%;
  height: auto;
  border: 1px solid #d8d8d8;
  border-radius: 0 10px 18px 18px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */

}
.t--head {
  font: normal normal 400 32px/40px "Roboto", sans-serif;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.87);
}
.t--copy {
  font: normal normal 400 16px/24px "Roboto", sans-serif;
  text-transform: none;
  color: rgba(0, 0, 0, 0.54);
  padding: 40px;
  -moz-columns: 2;
       columns: 2;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.t--tab {
  font: normal normal 500 15px/40px "Roboto", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: inherit;
}
.page-tab-header {
  width: 100%;
  position: relative;
  background-color: white;
}
.page-tab-header > .header-set {
  margin: 32px 0;
}
.page-tab-header > .header-set > .title,
.page-tab-header > .header-set > .subtitle {
  margin: 0 0 16px 0;
}
.page-tab-header > .header-set > .title {
  display: block;
}
.page-tab-header > .navigation {
  display: block;
  position: relative;
  width: 100%;
  font-size: 0;
}
.page-tab-header > .navigation:hover .navigation-menu {
  height: auto;
}
.page-tab-header > .navigation .navigation-toggle {
  display: block;
  width: 100%;
  padding: 0 8px;
  border-top: 1px solid #d8d8d8;
}
.page-tab-header > .navigation .navigation-menu {
  height: 0;
  overflow: hidden;
  position: relative;
  top: 100%;
  left: 0;
  z-index: 0;
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 0 0 15px 15px;
  background-color: white;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.54);
}
.page-tab-header > .navigation .nav-item {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  overflow: hidden;
  width: 50%;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid #e8e8e8;
}
.page-tab-header > .navigation .nav-item:nth-of-type(2n) {
  border-left: 1px solid #e8e8e8;
}
.page-tab-header > .navigation .nav-item:nth-last-child(-n+2) {
  border-bottom-width: 0;
}
.page-tab-header > .navigation .nav-item.active {
  color: #0099dd;
}
.page-tab-header > .navigation .nav-item.disabled {
  pointer-events: none;
  color: gray;
}

.page-tab-header > .navigation .nav-tab {
  display: block;
  padding: 0 8px;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .page-tab-header > .navigation .navigation-toggle {
    display: none;
  }
  .page-tab-header > .navigation .navigation-menu {
    overflow: visible;
    position: relative;
    top: 0;
    z-index: 1;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    height: auto;
  }
  .page-tab-header > .navigation .nav-item {
    width: auto;
    max-width: 100%;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #b8b8b8;
    background-color: #ffffff;
    box-shadow: inset 0 -5px 10px -5px #b8b8b8;
  }
  .page-tab-header > .navigation .nav-item:nth-of-type(2n) {
    border-left: 0;
  }
  .page-tab-header > .navigation .nav-item:nth-of-type(1) {
    border-left: 1px solid #b8b8b8;
    border-radius: 15px 0 0 0;
  }
  .page-tab-header > .navigation .nav-item:nth-of-type(3) {
    border-radius: 0 13px 0 0;
  }
  .page-tab-header > .navigation .nav-item::after {
    display: block;
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    content: "";
    background-color: #d8d8d8;
    box-shadow: inset 0 -5px 10px -5px #b8b8b8;
    opacity: 0.75;
    pointer-events: none;
    overflow: hidden;
  }

  .page-tab-header > .navigation .nav-item.disabled {
    width: auto;
    max-width: 100%;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #b8b8b8;
    background-color: #ffffff;
    box-shadow: inset 0 -5px 10px -5px #b8b8b8;
    pointer-events: none;
    color: gray;
  }
  .page-tab-header > .navigation .nav-item:first-of-type.disabled {
    border-left-width: 1px;
    border-left-color: #d8d8d8;
  }
  .page-tab-header > .navigation .nav-item.disabled:hover {
    pointer-events: none;
    color: gray;
  }
  .page-tab-header > .navigation .nav-item.disabled::after {
    display: none;
  }
  .page-tab-header > .navigation .nav-item.disabled + .nav-item {
    box-shadow: inset 10px 0px 20px -5px #b8b8b8;
  }
  .page-tab-header > .navigation .nav-item.active {
    background-color: #ffffff;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #d8d8d8 #b8b8b8 #ffffff #b8b8b8;
    box-shadow: none;
    top: 1px;
    width: auto;
    max-width: 100%;
  }
  .page-tab-header > .navigation .nav-item:first-of-type.active {
    border-left-width: 1px;
    border-left-color: #d8d8d8;
  }
  .page-tab-header > .navigation .nav-item:hover {
    color: rgba(0, 0, 0, 0.87);
  }
  .page-tab-header > .navigation .nav-item.active:hover {
    color: #0099dd;
  }
  .page-tab-header > .navigation .nav-item.active::after {
    display: none;
  }
  .page-tab-header > .navigation .nav-item.active + .nav-item {
    box-shadow: inset 10px 0px 20px -5px #b8b8b8;
  }
  .page-tab-header > .navigation .nav-tab {
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  .page-tab-header > .navigation .nav-item {
    width: auto;
    min-width: 8%;
  }
}
 

  input,
  select,
  textarea {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      border-radius:5px;
      border: 1px solid #dbdbdb !important;
    padding: 2px;
  }

 









/*-----------------
	2. Table
-----------------------*/
/* Media Queries para tornar a tabela responsiva */
@media screen and (max-width: 768px) {
  .table {
    border-radius: 0;
  }

  .table thead {
    display: none; /* Esconde o cabeçalho da tabela em dispositivos menores */
  }

  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }

  .table td {
    text-align: left;
    padding: 12px;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    color: #757575;
  }
}

.table {
  color: #000;
  border: none !important;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: transparent;
  margin: auto;
  margin-bottom: -1.3%;
  text-align: justify;
  border-radius: 12px;
  text-align: left;
}

.table > tbody > tr > td {
  font-weight: 300;
}

 

table.table td h2 {
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

table.table td h2 a {
  color: #757575;
}

table.table td h2 a:hover {
  color: #002d54;
}

table.table td h2 span {
  color: #9e9e9e;
  display: block;
  font-size: 12px;
  margin-top: 3px;
}

.table .table-thead {
  font-size: 10pt;
  text-align: justify;
  background-color: #fcfcfc;
  border-collapse:  none !important;
}
 
.table-tbody {
  background-color: #ffffff;
}

.table-tbody tr:hover {
  background-color: #041b4e;
  color: #ffffff;
}
thead tr:first-child th:first-child {
  border-top-left-radius: 15px; /* Raio da borda superior esquerda */
  border-bottom-left-radius: 3px;
}

thead tr:first-child th:last-child {
  border-top-right-radius: 15px; /* Raio da borda superior direita */
  border-bottom-right-radius: 3px;
} 


td {
  padding: 3px;
  justify-content: center;
  align-items: center;
  height: 40px;
  vertical-align: middle;
  }
tr:first-child td:first-child {
  border-top-left-radius: 0px;
}
tr:first-child td:last-child {
  border-top-right-radius: 0px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
 





.descricao {
  white-space: pre-wrap; /* Mantém espaços e quebras de linha */
  word-wrap: break-word; /* Quebra palavras longas */
  overflow-wrap: break-word; /* Alternativa para navegadores modernos */
  resize: vertical; /* Permite redimensionar verticalmente */
}

textarea {
  white-space: pre-wrap; /* Mantém espaços e quebras de linha */
  word-wrap: break-word; /* Quebra palavras longas */
  overflow-wrap: break-word; /* Alternativa para navegadores modernos */
  resize: vertical; /* Permite redimensionar verticalmente */
}
.auto-resize-textarea {
  width: 100%; /* Ajuste para o tamanho desejado */
  overflow: hidden; /* Oculta a barra de rolagem */
  resize: none; /* Impede o redimensionamento manual */
  line-height: 1.5; /* Define o espaçamento entre linhas */
  padding: 8px; /* Espaçamento interno */
  font-size: 14px; /* Tamanho da fonte */
}












