<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row row-gap-3">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="row row-gap-3">
                        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <img src="/assets/img/logopolice.png" alt="Logotipo da pna" rel="preferred"
                                    class="img-logo-footer rounded-pill shadow" />
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h5 class="title-footer" style="font-weight: bolder;">
                                        PIIPS - Plataforma Integrada de Informações Policiais e Serviços da PNA
                                    </h5>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <span class="slogan">
                                        DTTI "Inovar, Interligar e Integrar as Tecnologias para
                                        Garantir a Ordem Pública".
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-sx-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row align-items-center">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h5 class="title-footer">
                                        <i class="fa fa-map"></i> Endereço
                                    </h5>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <span class="text-footer">
                                        Av. 4 de Fevereiro 206, Marginal de Luanda, Angola
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h5 class="title-footer"><i class="fa fa-at"></i> E-mail</h5>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <span class="text-footer"> dtti.cgpna@pn.gov.ao </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h5 class="title-footer">
                                        <i class="fa fa-phone"></i> Contacto
                                    </h5>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <span class="text-footer"> +244 222 399 461 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span><i class="fa fa-copyright"></i> &nbsp;{{ this.ano}} DTTI - SIC.
                        Todos os direitos reservados Serviços de Investigação Criminal.</span>
                </div>
            </div>
        </div>
    </div>
</footer>