<div class="itens-right">
    <div class="selector">
        <div class="d-flex">
            <div class="img-pp">
                <img src="../../../assets/dashboard/Vector 51.png" style="width: 80px; margin-top: -6px; margin-left: -8px; border-radius: 16px; margin-bottom: 5px;" alt="" />
            </div>
            <div class="top-infop">
                <h3>Dados Comparativos</h3>
                <marquee behavior="" direction="">
                  <p style="margin-top: -5px;">Visualização e Comparação dos dados registados no Sistema: <b>Auditorias</b>, <b>Averiguações</b>, <b>Queixas</b>, <b>Proc. Disciplinar</b>, <b>Proc. em Acompanhamento</b></p>
                </marquee>
            </div>
        </div>
      <h5 style="margin-left: 2px; margin-top: -18x; margin-bottom: -2px;"><b>Operação</b></h5>
      <div class="d-flex">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>--------</option>
        <option value="1">Proc. Disciplinar</option>
        <option value="2">Regime Geral</option>
      </select>
      <div class="" aria-label=".form-select-lg example">
        <h5 style="margin-left: 5px; margin-bottom: -5px; margin-top: -10px;"><b>Data do Registo</b></h5>
        <input type="date" class="form-select form-select-lg mb-3" id="dataRegisto">
      </div>
      </div>
    </div>
    <div class="selector" style="margin-top: -15px;">
      <div class="d-flex">
      
      </div>
    </div>
    <div class="infor-total">
      <div class="number">
        <p>
          <b>Status:</b> Actual <br> 
          <b>Data:</b> 17 - 06 - 2024
        </p>
          <h1>340</h1>
      </div>
      <div class="number2">
        <p>
          <b>Status:</b> Anterior <br> 
          <b>Data:</b> 16 - 06 - 2024
        </p>
        <h1>100</h1>
      </div>
  </div>
<!--   <h5 style="margin-top: 8px; color: #020d27;"><b>Referência:</b></h5>
  <p style="color: #020d27;">Dados fornecidos pelo <b style="color: #020d27; font-weight: bold;">SICGO</b></p> -->
  </div>