#cor_dashboard{
  background-color: var(--use-color);
  color: aliceblue;
  font-family: 'Arial';
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: start;
  justify-items: start;
  flex-direction: column;
}

.opcoes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

button{
  text-align: center;
  background-color: transparent;
  height: 30px;
  cursor: pointer;
 }

 button:focus{
  border: none;
 }
 button p {
  color: white;
 }

.inverter{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 12px;
  font-weight: 400;
}


.sutotal{
  /*background-color: #dbdfe6;*/
  text-align: center;
}

.subtotal{
  background-color: #eff0f1;
}

tr,th{border:1px solid var(--use-color);}

.linhaSubtitulo{
  background-color: #a7b0c3;
}

.linhaSubtitulo-subtotal{
  background-color: #cfcbcb;
  padding-left: 10px;
}
