<form [formGroup]="this.produtosPlanificadosForm" (ngSubmit)="onSubmitProdutosPlanificados()" #formDir="ngForm"
  class="row container-fluid pr-4" style="padding-left: 50px;">
  <div class="row d-flex p-0 m-0 align-items-center produtos">
    <div class="pe-0 img-produto-label">
      <label for="descricao_id" class="form-label"> </label>
    </div>
    <div class="pe-0 nome-produto">
      <label for="descricao_id" class="form-label">Designação do Meio <i class="bi bi-exclamation-circle-fill icone-alerta"></i></label>
    </div>
    <div class="ml-2 mt-2 pr-0 quantidade">
      <label for="quantidade" class="form-label">Quantidade <i class="bi bi-exclamation-circle-fill icone-alerta"></i></label>
    </div>
  </div>
  <div *ngFor="let item of itens; let i = index">

    <div [formGroup]="item" class="row d-flex p-0 m-0 align-items-center produtos">
      <div class="img-produto">
        <img *ngIf="item.get('imagemUrl')?.value" [src]="item.get('imagemUrl')?.value" alt="img" class="img-responsive">
        <ng-container *ngIf="!item.get('imagemUrl')?.value">
          <img src="../../../../../../../../assets/assets_sigv/img/img/img-capa.png" alt="img" class="img-responsive">
        </ng-container>
      </div>
      <div class="pe-0 nome-produto">
        <!-- primeiro -->
        <div class="">
          <ng-select2 [options]="options" [data]="produtosPlanificados" id="meios_id"
            aria-describedby="nomeProdutoHelp" formControlName="meios_id" style="border-radius: 10px; "
            class="mb-2" (valueChanged)="setarUnidades($event, i)">
          </ng-select2>
        </div>
        <div id="nomeProdutoHelp" class="form-text validation-error"
          *ngIf="produtosPlanificadosForm.get('meios_id')?.hasError('required') && formDir.submitted">
          <p>O Órgão / Comando é obrigatório</p>
        </div>
      </div>
      <!--  <input type="text" value="{{ lastPlanoAdd }}" [hidden]="false" [disabled]="false" class="mb-2 pl-3" id="quantidade" aria-describedby="quantidadeHelp" name="id_plano" formControlName="id_plano">
                          -->
      <!-- segundo -->
      <div class="ml-2 mt-2 pr-0 quantidade">
        <div class="segundo-quant">
          <!-- se eu adicionar um form-control como class desse input, ele ficará colorido ao clicá-lo-->
          <input type="number" required placeholder=" " class="mb-2 pl-3" id="quantidade" [min]="'1'" [max]="'1000'"
            aria-describedby="quantidadeHelp" name="quantidade_numerario" formControlName="quantidade_numerario">
            <select formControlName="unidade_meios">
                <option value="">Selecione Unidade</option>
                <option *ngFor="let item of [
                      {id: 'Unids', valor: 'Unid(s)'},
                      {id: 'Par', valor: 'Par(es)'}
                    ]" [value]="item.id" [selected]="item.id=='Unid(s)'"> {{ item.valor }} 
                </option>
            </select>
        </div>
        <div id="quantidadeHelp" class="form-text validation-error"
          *ngIf="produtosPlanificadosForm.get('quantidade_numerario')?.hasError('required') && formDir.submitted">
          <p>O número do pedido é obrigatório</p>
        </div>
      </div>

      <div class="ml-2" style="margin-top: 0px;">
        <button (click)="removerItem(i)" class="btn btn-danger p-2"
          style="box-shadow: 0px 5px 8px rgba(0,0,0,0.323); height: 44px;">
          <i class="bi bi-trash-fill"></i> Remover
        </button>
      </div>
    </div>
  </div>

  <!-- botão submit da planificacao -->
  <div class="col-12 mb-3 p-0 d-flex justify-content-end">
    <button type="button" class="btn mb-0 mt-3 mr-3 btn-outline-danger"
      style="box-shadow: 0px 5px 8px rgba(0,0,0,0.323)" [routerLink]="['/piips/sigv/planificacao/a/listar']">
      <i class="bi bi-trash-fill"></i>
      Descartar
    </button>

    <button type="button" class="btn mb-0 mt-3 mr-3"
      style="background-color: #f3f3f3; color: #041b4e; box-shadow: 0px 5px 8px rgba(0,0,0,0.323); font-weight: 400;">
      <i class="bi bi-x-circle-fill"></i>
      Limpar Dados
    </button>

    <button type="button" class="btn mb-0 mt-3 mr-3"
      style="background-color: #041b4e; color: white; box-shadow: 0px 5px 8px rgba(0,0,0,0.323)"
      [disabled]="this.produtosPlanificadosForm.invalid" (click)="adicionarItem()">
      <i class="bi bi-plus-circle"></i>
      Adicionar Produtos
    </button>

    <button type="Submit" class="btn mb-0 mt-3"
      style="background-color: #041b4e; color: white; box-shadow: 0px 5px 8px rgba(0,0,0,0.323)"
      [disabled]="this.produtosPlanificadosForm.invalid">
      <i class="bi bi-check"></i>
      Finalizar & Salvar
    </button>
  </div>
</form>