<div class="login">
    <div class="group">
        <div class="titles">
            <div class="sub">

                <h1 class="t"> <img src="/../frontend/src/assets/img/icons do sigae/Rifle Magazine.png" alt="ici" height="80px" width="80px"> SIGAE</h1>
                <h5 class="sub-til">
                    Sistema de Gestão - <b> de Armas e Explosivos</b>
                    <h5 class="subtitle">
                        Os campos com (*) são carácter obrigatório
                    </h5>
                </h5>
                <h2 class="t1">
                    Registar Utilizador
                </h2>


            </div>

        </div>

        <form method="post" class="form">

            <label for="nome" class="ft">Nome Completo*:</label><br>
            <input type="name" name="nome" placeholder="Seu nome completo:" /> <br/>
            <label for="email" class="ft">E-mail:</label><br>
            <input type="email" name="email" placeholder="Email do utilizador:" /> <br/>
            <label for="sexo" class="ft">Género:</label>
            <div class="in-1">

                <div class="genero">
                    <h4 class="f"><input type="radio" name="sexo" value="M" placeholder="genero" />Masculino</h4><br/>
                    <h4 class="f1"> <input type="radio" name="sexo" value="f" placeholder="genero" />Femenino</h4><br/>
                </div>

                <div class="in-2">
                    <label for="num" class="ft">Numéro*:</label><br>
                    <input type="number" name="num" placeholder="Numero do utilizador:" /> <br/>
                    <button class="out">
      Registrar
</button>
                </div>

            </div>

        </form>
        <br/>

        <div class="w-100 col d-grid">
            <h4 class="log_t1 w-100">
                Utilizador
            </h4>

            <div class="col d-grid">
                <table class="col m-l-10  d-grid justify-content-center" style="align-items: center;">
                    <tr class="tab-tt">
                        <td class="Id">Id
                        </td>
                        <td class="User">Nome
                        </td>
                        <td class="Email">
                            E-mail
                        </td>
                        <td class="op">
                            Opções
                        </td>

                    </tr>

                    <tr class="li">
                        <td class="Id">1
                        </td>
                        <td class="User">Josefina
                        </td>
                        <td class="Email">
                            josefina.manuel@pn.gov.ao
                        </td>
                        <td class="op">
                            <i class="bi bi-three-dots-vertical" style="font-size: 23px;"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>