<div class="content">
    <div class="row">
      <div class="col-sm-7">
        <h4 style="color: #002d59" class="page-title">
        <img src="../../../../../../../assets/sigef/Map Marker.png" alt="">
          <b>Plano de Mapas dos Cursos</b>
        </h4>
        <h4 style="font-size: 14px">
          Plano dos Mapas dos Cursos Registrados no Sistema
        </h4>
      </div>
    </div>
    <div class="row down">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <select
            class="form-control mr-sm-1"
          >
            <option >
              Activos
            </option>

            <option >
              Inativos
            </option>
          </select>
          
          <select
            class="form-control mr-sm-1"
          >
            <option *ngFor="let item of [5, 10, 20, 50]" [value]="item">
              {{ item }}
            </option>
          </select>
          <input
            class="form-control mr-sm-1"
            type="text"
            placeholder="Pesquisa ..."
          />
          <button
            id="btpe1"
            class="btn btn-outline-success my-2 my-sm-0"
            type="submit"
          >
            <i style="font-size: 14px"></i>
            <b>Pesquisar</b>
          </button>

          <button
            id="btpe1"
            class="btn btn-outline-success my-2 my-sm-0"
            type="submit"
          >
            <i style="font-size: 14px"></i>
            <img
              src="assets/dashboard/veiculos/Synchronize.png"
              alt=""
              class="fa fa-refresh fa-spin fa-3x fa-fw"
            />
            <b>Recarregar</b>
          </button>
  
          <a
            href="javascript:void(0)"
            data-toggle="modal"
            data-target="#modalRegistarOuEditarVeiculo"
            class="btn btn-primary btnRegistar"
          >
            <img
              class="options-img"
              src="assets/dashboard/veiculos/Plus.png"
              alt=""
            />
            Registar </a
          >&nbsp;
        </form>
      </nav>
  
      <div class="col-md-12">
        <table class="table table-border table-striped custom-table mb-2">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Estádo</th>
              <th>Sigla</th>
              <th>Descrição</th>
              <th>Última Actualização</th>
              <th></th>
              <th class="text-center">Selecionar</th>
            </tr>
          </thead>
          <tbody>
            <tr
              
            >
              <td>1</td>
              <td>Sem registro</td>
              <td>
                <div class="estado_activo">
                    <p>Sem estádo</p>
                </div>
            </td>
              <td>Sem registro</td>
              <td>Sem descrição</td>
              <td>Sem Ultima Atctualização</td>
              <td></td>

              
              <td class="text-center">
                <div class="dropdown dropdown-action">
                  <a
                    href="#"
                    class="action-icon dropdown-toggle"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    ><i class="fa fa-ellipsis-v"></i
                  ></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a
                      class="dropdown-item"
                      routerLink="/"

                      href="javascript:void(0)"
                    >
                      <i class="fa fa-eye m-r-5"></i>
                      Visualizar
                    </a>
                    <a
                      class="dropdown-item"
                      href="#"
                      data-toggle="modal"
                      data-target="#modalRegistarOuEditarVeiculo"

                    >
                      <i class="fa fa-pencil m-r-5"></i>
                      Editar
                    </a>
                    <a
                      class="dropdown-item"
                      href="#"
                      data-toggle="modal"
                      data-target="#delete_perfil"
                    >
                      <i class="fa fa-trash-o m-r-5"></i> Apagar
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>


        </table>
      </div>
  
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="float-right">
              <pagination-controls
                id="veiculos"
                (pageChange)="this.filtrarPagina('page', $event)"
                [directionLinks]="true"
                [autoHide]="true"
                previousLabel="Anterior"
                nextLabel="Próximo"
                [maxSize]="4"
                [responsive]="true"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>