
<div class="content base">
    <div class="place">
        <div class="number">
            <h1><span class="ff">4</span><span class="mm">0</span><span class="uu">4</span></h1>
        </div>
        <div class="infor">
            <h2>Página não encontrada</h2>
            <p>Por favor, contacte o Programador [ <span class="weister"> DTTI - DDS </span> ]<br> 
            </p>
            <div class="bott">
                <button class="btn-back" (click)="voltar()">
                    <i class="bi back bi-arrow-up-left-circle-fill"></i>
                    <span>Página Anterior</span>
                </button>
            </div>

        </div>
    </div>
</div>
