.form-group{
  border-radius: 12px;
}
.custom-radius .btns { 
  display: block;
  width: 20%;
  padding: 10px 16px !important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-heading-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: var(--bs-border-width) solid #e0e6eb;
  box-shadow: var(--bs-box-shadow-inset);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

padding: 8px !important; /* Aumente o valor para bordas mais arredondadas */
}

.custom-radius .btns:first-child {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.custom-radius .btns:last-child {
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

.modal-header,.bg-prima{
    background-color: #041b4e;
    border-bottom:1px solid #041b4e;
    padding: 7px;
  }
  
  .modal-content{
    border-radius: 15px;
  }

  .modal-body { 
    overflow: hidden;
    padding: 2px;
  }
 
  #modalEventoProcessos {
    z-index: 1100; /* Camada acima da primeira modal */
  }

.modales {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modales-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
}
.modales.fade .modales-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modales.fade .modales-dialog {
    transition: none;
  }
}
.modales.show .modales-dialog {
  transform: none;
}
.modales.modal-static .modales-dialog {
  transform: scale(1.02);
}

.modales-dialog-scrollable {
  height: calc(100% - var(--bs-modal-margin) * 2);
}
.modales-dialog-scrollable .modales-content {
  max-height: 100%;
  overflow: hidden;
}
.modales-dialog-scrollable .modales-body {
  overflow-y: auto;
}

.modales-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modales-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
 
.modales-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #00000036;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}
.modales-backdrop.fade {
  opacity: 0;
}
.modales-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}

.modales-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modales-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
}

.modales-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
}

.modales-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

.modales-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}
.modales-footer > * {
  margin: calc(var(--bs-modal-footer-gap) * 0.5);
}

@media (min-width: 576px) {
  .modales {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.103);
  }
  .modales-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
  .modales-sm {
    --bs-modal-width: 300px;
  }
}
@media (min-width: 992px) {
  .modales-lg,
.modales-xl {
    --bs-modal-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modales-xl {
    --bs-modal-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modales-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modales-header,
.modal-fullscreen .modales-footer {
  border-radius: 0;
}
.modal-fullscreen .modales-body {
  overflow-y: auto;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modales-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modales-header,
.modal-fullscreen-sm-down .modales-footer {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modales-body {
    overflow-y: auto;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modales-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modales-header,
.modal-fullscreen-md-down .modales-footer {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modales-body {
    overflow-y: auto;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modales-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modales-header,
.modal-fullscreen-lg-down .modales-footer {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modales-body {
    overflow-y: auto;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modales-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modales-header,
.modal-fullscreen-xl-down .modales-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modales-body {
    overflow-y: auto;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modales-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modales-header,
.modal-fullscreen-xxl-down .modales-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modales-body {
    overflow-y: auto;
  }
}

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .the-page {
    width: 100%;
  }
  .page__content {
    width: 100%;
    height: 100%;
  }
  .page__segment {
    width: 100%;
    height: auto;
  }
  .page__frame {
    position: relative;
    width: 100%; 
  }
 
  .tab__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    border-radius: 0 10px 14px 14px;
    background: linear-gradient(#f9f9f9,#f9f9f9);
  
}
  .t--head {
    font: normal normal 400 32px/40px "Roboto", sans-serif;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.87);
  }
  .t--copy {
    font: normal normal 400 16px/24px "Roboto", sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 0.54);
    padding: 40px;
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .t--tab {
    font: normal normal 500 15px/40px "Roboto", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    color: inherit;
  }
  .page-tab-header {
    width: 100%;
    position: relative;
    background-color: #041b4e00;
  }
  .page-tab-header > .header-set {
    margin: 32px 0;
  }
  .page-tab-header > .header-set > .title,
  .page-tab-header > .header-set > .subtitle {
    margin: 0 0 16px 0;
  }
  .page-tab-header > .header-set > .title {
    display: block;
  }
  .page-tab-header > .navigation {
    display: block;
    position: relative;
    width: 100%;
    font-size: 0;
  }
  .page-tab-header > .navigation:hover .navigation-menu {
    height: auto;
  }
  .page-tab-header > .navigation .navigation-toggle {
    display: block;
    width: 100%;
    padding: 0 8px;
    border-top: 1px solid #d8d8d8;
  }
  .page-tab-header > .navigation .navigation-menu {
    height: 0;
    overflow: hidden;
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 0 0 15px 15px; 
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.54);
  }
  .page-tab-header > .navigation .nav-item {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    overflow: hidden;
    width: 50%;
    color: rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid #e8e8e8;
  }
  .page-tab-header > .navigation .nav-item:nth-of-type(2n) {
    border-left: 1px solid #e8e8e8;
  }
  .page-tab-header > .navigation .nav-item:nth-last-child(-n+2) {
    border-bottom-width: 0;
  }
  .page-tab-header > .navigation .nav-item.active {
    color: #030a6b;
  }
  .page-tab-header > .navigation .nav-item.disabled {
    pointer-events: none;
    color: gray;
  }
  
  .page-tab-header > .navigation .nav-tab {
    display: block;
    padding: 0 8px;
    text-align: left;
  }
  @media only screen and (min-width: 768px) {
    .page-tab-header > .navigation .navigation-toggle {
      display: none;
    }
    .page-tab-header > .navigation .navigation-menu {
      overflow: visible;
      position: relative;
      top: 0;
      z-index: 1;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      height: auto;
    }
    .page-tab-header > .navigation .nav-item {
      width: auto;
      max-width: 100%;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: #b8b8b8;
      background-color: #eeeeee;
      box-shadow: inset 0 -5px 10px -5px #b8b8b8;
    }
    .page-tab-header > .navigation .nav-item:nth-of-type(2n) {
      border-left: 0;
    }
    .page-tab-header > .navigation .nav-item:nth-of-type(1) {
      border-left: 1px solid #b8b8b8;
      border-radius: 10px 13px 0 0;
    }
    .page-tab-header > .navigation .nav-item:nth-of-type(1) {
      border-radius: 13px 13px 0 0;
    }
    .page-tab-header > .navigation .nav-item::after {
      display: block;
      position: relative;
      z-index: 1;
      top: 0;
      right: 0;
      width: 8px;
      height: 100%;
      content: "";
      background-color: #eeeeee;
      box-shadow: inset 0 -5px 10px -5px #b8b8b8;
      opacity: 0.75;
      pointer-events: none;
      overflow: hidden;
    }
  
    .page-tab-header > .navigation .nav-item.disabled {
      width: auto;
      max-width: 100%;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: #b8b8b8;
      background-color: #fafafa;
      box-shadow: inset 0 -5px 10px -5px #b8b8b8;
      pointer-events: none;
      color: gray;
    }
    .page-tab-header > .navigation .nav-item:first-of-type.disabled {
      border-left-width: 1px;
      border-left-color: #d8d8d8;
    }
    .page-tab-header > .navigation .nav-item.disabled:hover {
      pointer-events: none;
      color: gray;
    }
    .page-tab-header > .navigation .nav-item.disabled::after {
      display: none;
    }
    .page-tab-header > .navigation .nav-item.disabled + .nav-item {
      box-shadow: inset 10px 0px 20px -5px #b8b8b8;
    }
    .page-tab-header > .navigation .nav-item.active {
      background-color: #f9f9f9;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: #d8d8d8 #b8b8b8 #fafafa #b8b8b8;
      box-shadow: none;
      top: 1px;
      width: auto;
      max-width: 100%;
      box-shadow: inset 0 -5px 10px -5px #fafafa;
    }
    .page-tab-header > .navigation .nav-item:first-of-type.active {
      border-left-width: 1px;
      border-left-color: #d8d8d8;
    }
    .page-tab-header > .navigation .nav-item:hover {
      color: rgba(0, 0, 0, 0.87);
    }
    .page-tab-header > .navigation .nav-item.active:hover {
      color: #0f009b;
    }
    .page-tab-header > .navigation .nav-item.active::after {
      display: none;
    }
    .page-tab-header > .navigation .nav-item.active + .nav-item {
      box-shadow: inset 10px 0px 20px -5px #b8b8b8;
    }
    .page-tab-header > .navigation .nav-tab {
      text-align: center;
    }
  }
  @media only screen and (min-width: 1024px) {
    .page-tab-header > .navigation .nav-item {
      width: auto;
      min-width: 8%;
    }
  }
  
  
  fieldset {
    border: 1px solid #ccc;
    padding: 15px;
  }
  
  legend {
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }


  fieldset { 
    padding: 0 10px 10px;
    border-radius: 5px; 
  }

  legend {
    padding: 2px 4px;
    background: #ffffff;
    font-size: 12pt;
  }

  fieldset>legend {
    float: left;
    margin-top: -10px;
  }

  fieldset>legend+* {
    clear: both;
  }



  .notificaValidoB {
    color: #ffffff;
    background-color: #ff00198e;
    border: 1px solid #af2432;
    border-radius: 8px;
    padding: 7px;
    font-size: 12pt;
    margin:4px auto;
  }
  
  .asterisco {
    color: #dc3545;
  }
  
  
  
    .cols-1 {
      flex: 0 0 auto;
      width: 3.5%;
    }
    .cols-11 {
      flex: 0 0 auto;
      width: 88.66666667%;
    }
  
    canvas {
      display: none;
    }
  
  
  
    input,
    select,
    textarea {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        border-radius:5px;
        border: 1px solid #dbdbdb !important;
      padding: 2px;
    }
  
  .all{
      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-top: 2em;
  }
 
  
  
  
  
  
  
  
  
  
  
  
  
    .container {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
    }
  
    .avatar img {
      border-radius: 1%;
      width: 100%;
    }
    .avatar {
      position: relative;
      width: 150px;
      height: 150px;
      border: 0;
      margin-left: auto;
      right: 15%;
      border-radius: 1%;
      background: #f7f7f7;
      overflow: hidden;
    }
    .avatar:hover .avatar-head {
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
    }
    .avatar-center {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 5px;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .avatar-head {
      position: relative;
      width: 74px;
      height: 96px;
      border-radius: 80px;
  
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s cubic-bezier(0.2, 0.7, 0.2, 1.7);
      transition: 0.3s cubic-bezier(0.2, 0.7, 0.2, 1.7);
    }
    .avatar-hair {
      position: absolute;
      top: -10px;
      left: -1px;
      right: -1px;
      height: 36px;
      background: #44382c;
      border-radius: 80px 80px 0 0;
      box-shadow: inset 25px 2px 0 #44382c;
      box-shadow: inset 25px 2px 0 #44382c;
    }
    .avatar-hair::before,
    .avatar-hair::after {
      content: "";
      position: absolute;
      bottom: -21px;
      width: 7px;
      height: 22px;
    }
    .avatar-hair::before {
      left: 0;
      border-radius: 0 0 5px 0;
      background: #242424;
    }
    .avatar-hair::after {
      right: 0;
      border-radius: 0 0 0 5px;
      background: #242424;
    }
    .avatar-ear {
      position: absolute;
      top: 49%;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
    .avatar-ear.left {
      left: -8px;
      background: #7b4320;
    }
    .avatar-ear.right {
      right: -8px;
      background: #5d2f15;
    }
    .avatar-eyes {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }
    .avatar-eye {
      position: absolute;
      top: -3px;
      width: 8px;
      height: 8px;
      background-color: rgb(219, 219, 219);
      border-radius: 50%;
      overflow: hidden;
      -webkit-animation: anim_eye 10s infinite ease-in-out;
      animation: anim_eye 10s infinite ease-in-out;
    }
    .avatar-eye .avatar-eyerol {
      position: relative;
      margin: 1px auto;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      -webkit-animation: anim_eye 10s infinite ease-in-out;
      animation: anim_eye 10s infinite ease-in-out;
    }
    .avatar-eyerol .avatar-eye-ritinha {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 4.5px;
      height: 4.5px;
      background: #222222;
      border-radius: 50%;
      -webkit-animation: anim_eye 10s infinite ease-in-out;
      animation: anim_eye 10s infinite ease-in-out;
    }
    @-webkit-keyframes anim_eye {
      0%,
      3%,
      6%,
      48%,
      51%,
      53%,
      100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }
      5%,
      50%,
      52% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
      }
    }
    @keyframes anim_eye {
      0%,
      3%,
      6%,
      48%,
      51%,
      53%,
      100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }
      5%,
      50%,
      52% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
      }
    }
    .avatar-eye.left {
      left: 16px;
    }
    .avatar-eye.right {
      right: 16px;
    }
    .avatar-nose {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 11px;
      margin-left: -2px;
      border-radius: 3px;
      border-bottom:1px solid #422a1e;
    }
    .avatar-eyebrow {
      position: absolute;
      top: 40%;
      left: 20%;
      right: 20%;
      height: 2px;
      background: #554a44;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }
    .avatar-beard {
      position: absolute;
      bottom: 9px;
      left: 50%;
      width: 14px;
      height: 2px;
      margin-left: -6px;
      background: #4d2711;
      border-radius: 3px;
    }
    .avatar-mouth {
      position: absolute;
      background: #f7f7f7;
      bottom: 17%;
      left: 33%;
      right: 33%;
      height: 12px;
      border-radius: 5px 5px 15px 15px;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  