<div class="container">
  <div>
    <div class="form-inline col-md-12" style="left: -15px;">
      <select class="form-control mr-sm-1" (change)="filtrarPagina('perPage', $event)">
        <option *ngFor="let item of [5, 10, 20, 50]" [value]="item">
          {{ item }}
        </option>
      </select>
      <input class="form-control mr-sm-1" type="text" [ngModel]="filtro.search"
        (ngModelChange)="filtrarPagina('search', $event)" placeholder="Pesquisa ..." />
      <button (click)="this.recarregarPagina()" id="btpe1" class="refr btn-op btn-outline-success my-2 my-sm-0" type="submit">
        <i style="font-size: 14px; margin-right: 5px;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        <b>Pesquisar</b>
      </button>
    </div>

    <div style="left: -15px;" class="col-md-12">
      <table class="table table-border table-striped custom-table datatable mb-0">
        <thead class="top-table">
          <tr>
            <th>Nome</th>
            <th>Apelido</th>
            <th>Genero</th>
            <th>NIP</th>
            <th>Patente</th>
            <th>Orgão</th>
            <th class="text-right">Operação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let item of this.funcionarios
                | paginate
                  : {
                      itemsPerPage: this.pagination.per_page,
                      currentPage: this.pagination.current_page,
                      totalItems: this.pagination.total
                    };
              index as i
            ">
            <td>{{ item.nome_completo }}</td>
            <td>{{ item.apelido}}</td>
            <td>{{ item.genero }}</td>
            <td>{{ item.nip}}</td>
            <td>{{ item.patente_nome }}</td>
            <td>{{ item.orgao.nome }}</td>
            <td class="text-right">
              <div class="dropdown dropdown-action">
                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                    class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" (click)="selectedFuncionario(item)">
                    <i class="fa fa-eye m-r-5"></i>
                    Adicionar
                  </a>

                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            Mostrando de {{ this.pagination.current_page }} á
            {{ this.pagination.per_page }} de
            {{ this.pagination.total }} Registo
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <pagination-controls id="funcionarioEspecial" (pageChange)="this.filtrarPagina('page', $event)"
                [directionLinks]="true" [autoHide]="true" previousLabel="Anterior" nextLabel="Próximo" [maxSize]="4"
                [responsive]="true"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="col-sm-6 pull pull-left" style="color: black; padding: 5px 5px 5px 5px">
        Dados do Acusado
      </div>
    </div>
    <aside *ngIf="this.Funcionario.id; else verFuncionario">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <aside class="mb-1">
              <b>Nome</b>: {{ this.Funcionario.nome_completo }} <br />
              <input hidden style="width: 100%; height: 30px; display: none;" type="text" id="nome_funcionario" class="form-control" value="{{ this.Funcionario.nome_completo }}"
                    formControlName="nome_funcionario">

                    <input hidden style="width: 100%; height: 30px; display: none;" type="text" id="apelido_funcionario" class="form-control" value="{{ this.Funcionario.apelido }}"
                    formControlName="apelido_funcionario">
            </aside>

            <aside class="mb-1">
              <b>NIP</b>: {{ this.Funcionario.nip }}<br />
              <input hidden style="width: 100%; height: 30px; display: none;" type="text" id="nip_funcionario" class="form-control" value="{{ this.Funcionario.nip }}"
              formControlName="nip_funcionario">
            </aside> 
          </div>
          <div class="col-md-8">
            <aside class="mb-1">
              <b>Patente</b>: {{ this.Funcionario.patente_nome
              }}<br />
              <input hidden style="width: 100%; height: 30px; display: none;" type="text" id="patente_nome_funcionario" class="form-control" value="{{ this.Funcionario.patente_nome }}"
              formControlName="patente_nome_funcionario">
            </aside>
            <aside class="mb-1">
              <b>Gênero</b>:
              {{
              this.Funcionario.genero == "M"
              ? "Masculino"
              : "Feminino"
              }}
               <input hidden style="width: 100%; height: 30px; display: none;" type="text" id="genero_funcionario" class="form-control" value="{{ this.Funcionario.genero }}"
               formControlName="genero_funcionario">
            </aside>
          </div>

          <div class="col-md-8">
            <aside class="mb-1">
              <b>Orgão</b>: {{ this.Funcionario.orgao?.nome}}
            </aside>
            <input hidden style="width: 100%; height: 30px; display: none;" type="text" id="orgao_funcionario" class="form-control" value="{{ this.Funcionario.orgao?.nome}}"
               formControlName="orgao_funcionario">
 
          </div>
        </div>   
      </div>
    </aside>
    <ng-template #verFuncionario>
      <div class="card-body text-center">
        <aside class="mb-1">Selecionado o Acusado</aside>
      </div>
    </ng-template>
  </div>
</div>
 