<section class="restricao-conteiner-content-nmg">
    <div>
        <i class="bi bi-exclamation-triangle text-warning icone-principal"></i>
        <p class="titulo">Conteúdo Restrito!</p>
        <p class="informacao">
            Sr.(a)<span> {{usuario_nome_completo}}, </span>
            Careces de permissões para acessar ao conteúdo desta Página.
        </p>
        <button type="button" class="btn" (click)="voltarParaPaginaAnterior()">
            <i class="bi bi-arrow-left-circle-fill"></i> 
            <span> Voltar </span>
        </button>
    </div>
</section>
