<div class="modal fade " id="entidadeIdentificadora" aria-labelledby="entidadeIdentificadora" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="entidadeIdentificadoraLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <form [formGroup]="Form" (ngSubmit)="onSubmit()">

          <div class="cols-11 ">
              <div class="d-flex justify-content-lg-start align-items-start align-items-lg-start">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active nav-btn-button"  aria-current="page"  data-bs-toggle="tab" data-bs-target="#dados-primarios">Origem</a>
                  </li>


                </ul>

              </div>
            <div class=" modal-body bg-light" >
              <div class="modal-header bg-primary text-white">
                <h4 class="modal-title"><b>Registro de Origem</b></h4>
                <a
                    type="button"
                    data-bs-dismiss="modal" aria-label="Close"
                  >
                  <i  class="bi bi-backspace-reverse-fill cursor-pointer rounded-lg "
                  style="font-size: 1.2em"></i>
                  </a>
            </div>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active p-2" id="dados-primarios" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

                              <div >
                                <div class="row">

                                  <div class="col-lg-12">

                                    <div class="form-group">
                                      <label><b>Destino do Detido</b></label>
                                      <input class="form-control"  formControlName="destino_detido_id">

                                  </div>

                                </div>
                                    <div class="col-lg-5">

                                      <div class="form-group">
                                        <label><b>Entidade a Ordem</b></label>
                                        <select class="form-control" formControlName="entidade_ordem">
                                          <option value="DIIP">DIIP</option>
                                          <option value="SIC">SIC</option>
                                        </select>
                                    </div>

                                  </div>
                                <div class="col-lg-5">

                                    <div class="form-group">
                                        <label><b>Data Detenção</b></label>
                                        <input type="date" class="form-control"  formControlName="data_detencao">
                                    </div>

                                  </div>

                                </div>
                                <fieldset>
                                  <legend>Motivo da Detenção</legend>
                                  <div class="row">
                                    <div class="form-group col-md-4">
                                      <label>
                                          <b>
                                              Família de crime
                                              <span class="text-red">*</span>
                                          </b>
                                      </label>
                                      <ng-select2
                                          class="custom-border ng-select-container"
                                          [options]="this.options"
                                          [data]="this.tipicidadeOcorrencias"
                                          formControlName="familia_crime_id"
                                          (valueChanged)="selecionarTipoOcorrencia($event)"
                                          [class.is-invalid]="sicgo_tipicidade_ocorrencia_idValidate"
                                      >
                                      </ng-select2>
                                  </div>
                                  <div class="form-group col-md-4">
                                      <label>
                                          <b>
                                              Tipo de Crime
                                              <span class="text-red">*</span>
                                          </b>
                                      </label>
                                      <ng-select2
                                          [options]="this.options"
                                          [data]="this.tipoOcorrencias"
                                          formControlName="tipo_crime_id"
                                          (valueChanged)="selecionarCategoriaOcorrencia($event)"
                                          [class.is-invalid]="sicgo_tipo_ocorrencia_idValidate"
                                      >


                                      </ng-select2>
                                  </div>


                                  <div class="form-group col-md-4">
                                      <label>
                                          <b>
                                              Tipicidade
                                              <span class="text-red">*</span>
                                          </b>
                                      </label>
                                      <ng-select2
                                          [options]="this.options"
                                          [data]="this.tipoCategorias"
                                          formControlName="tipicidade_crime_id"
                                          [class.is-invalid]="sicgo_tipo_categoria_idValidate"
                                      >
                                      </ng-select2>
                                  </div>
                                </div>
                                  <!-- Additional form controls -->
                                  </fieldset>



                                </div>

                               </div>

                          </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Fechar
                </button>
                <button type="submit" type="submit" [disabled]="isLoading" class="btn btn-primary">Salvar</button>
            </div>
            </div>
          </div>

        </form>
  </div>
</div>
</div>



