<!-- Breadcrumbs -->
<div>
    <div class="ml-4 pl-1 pt-2 pr-2 pb-2 mr-4 sigv-breadCrumb mt-4">
      <ul type="none" class="d-flex align-items-center m-0 pl-0">
        <li>
          <a [routerLink]="['/piips/sigvest/dashboard']">
            <i class="bi bi-house-door-fill"></i> <i class="bi bi-chevron-right"></i>
          </a>
        </li>
        <li>
          <a [routerLink]="['/piips/sigvest/planificacao']">
            Planificação <i class="bi bi-chevron-right"></i>
          </a>
        </li>
        <li>
          <a [routerLink]="['/piips/sigvest/planificacao/plano-de-necessidades']">
            Plano de Necessidades <i class="bi bi-chevron-right"></i>
          </a>
        </li>
        <li routerLinkActive="efeito-breadcrumb">
          <a [routerLink]="['/piips/sigvest/planificacao/plano-de-necessidades/registar']">
            <span>Registar</span>
          </a>
        </li>
      </ul>
    </div>
  
    <h3 class="ml-3 mt-3 pl-4 titulo">Registar Plano de Necessidades</h3>
    <p class="ml-3 pl-4"><i class="bi bi-exclamation-triangle-fill text-warning"></i> Os campos marcados com ( <i class="bi bi-exclamation-circle-fill icone-alerta"></i> ) são de carácter
      <strong>obrigatório</strong>.
    </p>
  
    <section class=" row container-fluid pl-5 pr-3  pt-2 pedido-container">
      <div class="col-12 p-0 m-0 shadow">
        <div class="m-0 pl-0 me-0 pt-4" style="border: 1px solid #ccc; border-radius: 4px;">
          <form id="form" class="row  container-fluid pr-4 pl-4 pm-3" (ngSubmit)="onSubmit()"
            [formGroup]="planificacaoForm" #formDir="ngForm" *ngIf="!this.flagProdutosForm">

            <div class="col-8 pr-0 mb-2">
                <label for="fornecedor" class="form-label">
                    Descricao: <i class="bi bi-exclamation-circle-fill icone-alerta" *ngIf="!this.planificacaoForm.get('descricao')?.value"></i>
                </label>
                <div class=" ">
                    <input type="text" class="alone pl-3 sombra" formControlName="descricao">
                </div>
                <div id="fornecedorHelp" class="form-text validation-error" *ngIf="planificacaoForm.get('descricao')?.hasError('required') && formDir.submitted">
                    <p>O nome é obrigatório</p>
                </div>
            </div>
  
            <!-- Upload doc-->
            <div class="col-4 pt-0 m-0 pr-0">
              <label for="oficio"
                class="btn btn-outline-secondary d-flex align-items-center justify-content-center arquivo sombra">
                <i class="bi bi-file-pdf-fill  mx-2 " style="font-size:1.3rem"></i>
                {{pdfFlag? 'Anexar Planificação (pdf)' : this.documentoSelecionado.name}}
              </label>
              <input formControlName="oficioPdf" type="file"
                style=" padding: 10px; width: 100%; color: #000; background-color: hsla(221, 90%, 16%, 10%); border-radius: 4px; margin-right:0; display: none;"
                class="mt-2 " id="oficio" aria-describedby="oficioHelp">
              <!--
                        <div id="oficioHelp" class="form-text validation-error mb-0" *ngIf="oficioDocumentoPdf.invalid && formDir.submitted">
                            <p *ngIf="oficioDocumentoPdf.errors?.['required']">O Arquivo pdf é obrigatório</p>
                        </div>
                        -->
            </div>
  
            <!-- Descriçaõ / observação-->
            <div class="col-12 mr-0 pr-0 mb-2">
              <label for="obs_abastecimento" style=" margin: 0; padding: 5px;">Observação</label>
              <textarea class="p-1 sombra" cols="15" rows="6"
                style="width: 100%; border: 1px solid #ccc; text-indent: 0px;" aria-describedby="descricaoObsHelp"
                formControlName="obs_planos" id="obs_abastecimento">
              </textarea>
            </div>
  
            <!-- botão submit da planificacao -->
            <div class="col-12 mb-3 p-0 d-flex justify-content-end">
              <button type="button" class="btn mb-0 mt-3 mr-3 btn-outline-danger"
                style="box-shadow: 0px 5px 8px rgba(0,0,0,0.323)"
                [routerLink]="['/piips/sigv/planificacao/b/colectivo/listar']">
                <i class="bi bi-trash-fill"></i>
                Descartar
              </button>
  
              <button type="button" class="btn mb-0 mt-3 mr-3"
                style="background-color: #f3f3f3; color: #041b4e; box-shadow: 0px 5px 8px rgba(0,0,0,0.323); font-weight: 400;"
                (click)="this.reiniciarFormulario()">
                <i class="bi bi-x-circle-fill"></i>
                Limpar Dados
              </button>
  
              <button type="submit" class="btn mb-0 mt-3"
                style="background-color: #041b4e; color: white; box-shadow: 0px 5px 8px rgba(0,0,0,0.323)"
                [disabled]="this.planificacaoForm.invalid">
                <i class="bi bi-plus-circle"></i>
                Adicionar Produtos
              </button>
            </div>
          </form>
  
          <ng-container *ngIf="this.flagProdutosForm">
            <div class="loading">
              <div>
                <img src="../../../../../../../assets/assets_sigv/img/img1/figprocess.gif" alt="" width="90">
              </div>
              <p class="loading-produto">
                Adicionando os meios, atenção não saia sem finalizar...
              </p>
            </div>
          </ng-container>
          <!-- Inserção do formulário de Produto -->
  
          <ng-container class="mt-5" *ngIf="this.flagProdutosForm">
            <h4 class="" style="padding-left: 30px;">Inserir Meios ao Plano de Necessidades:</h4>
            <hr>
            <sigvest-registar-meios [plano_id]="lastPlanoAdd"
              (limparEstadoProcessamento)="this.limparEstadoProcessamento()"
              (produtoDetalhe)="this.buscarDetalheProdutos($event)"
              > </sigvest-registar-meios> 
          </ng-container>
  
        </div>
      </div>
    </section>
  
    <ng-container *ngIf="flagLoading">
      <div class="overlay">
        <div class="spinner"></div>
        <p>Processando, por favor aguarde...</p>
      </div>
    </ng-container>
  
  <!-- <sigv-detalhe-produtos [descricaoProduto]="this.produto_detalhe"> </sigv-detalhe-produtos> -->
  