.justify-breadcrumbs { 
  width: 90%;
  margin: auto;
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex
;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.85rem 1rem;
  margin-top: 0.5rem;
  list-style: none;
  border-radius: 17px;
  background-color: hsl(0deg 0% 96.47%);
  border: 1px solid #d8d8d84b; 
  box-shadow: inset 0 -5px 10px -5px #e3e3e3;
}
 
.breadcrumbs-items+.breadcrumbs-items {
  padding-left: .5rem;
  color: #000;
}

.breadcrumbs-items+.breadcrumbs-items::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: "/"
}

.breadcrumbs-items+.breadcrumbs-items:hover::before {
  text-decoration: underline
}

.breadcrumbs-items+.breadcrumbs-items:hover::before {
  text-decoration: none
}

.breadcrumbs-items.active {
  color: #6c757d
}




.avatars {
  --bs-avatar-size: calc(
    0.75rem * 2 + var(--bs-border-width) * 2 + 0.875rem * 1.5
  );
  --bs-avatar-border-radius: 70rem;
  --bs-avatar-font-size: 0.875rem;
  --bs-avatar-bg: var(--bs-tertiary-bg);
  --bs-avatar-color: var(--bs-body-color);
  --bs-avatar-group-offset: calc(var(--bs-avatar-size) / -5);
  --bs-avatar-group-outline-width: calc(var(--bs-avatar-size) / 15);
  --bs-avatar-status-border-width: var(--bs-border-width);
  --bs-avatar-status-border-color: var(--bs-border-color);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--bs-avatar-size);
  min-width: var(--bs-avatar-size);
  height: var(--bs-avatar-size);
  border-radius: 18px!important;
  border: 1px solid #d8d8d84b; filter: url("#goo");  
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.275);  */
  background-color: hsl(0deg 0% 96.47%);
  font-size: var(--bs-avatar-font-size);
  text-transform: uppercase;
  color: var(--bs-avatar-color);
}
.avatars-status::before {
  content: "";
  position: absolute;
  inset: calc(var(--bs-avatar-size) / -8);
  border: calc(var(--bs-avatar-status-border-width) * 2) solid
    var(--bs-avatar-status-border-color);
  -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  border-radius: inherit;
  transition: all 0.3s ease-in-out;
  transition-property: transform;
}
.avatars-status-primary::before {
  --bs-avatar-status-border-color: var(--bs-primary);
}
.avatars-status-secondary::before {
  --bs-avatar-status-border-color: var(--bs-secondary);
}
.avatars-status-success::before {
  --bs-avatar-status-border-color: var(--bs-success);
}
.avatars-status-info::before {
  --bs-avatar-status-border-color: var(--bs-info);
}
.avatars-status-warning::before {
  --bs-avatar-status-border-color: var(--bs-warning);
}
.avatars-status-danger::before {
  --bs-avatar-status-border-color: var(--bs-danger);
}
.avatars-status-light::before {
  --bs-avatar-status-border-color: var(--bs-light);
}
.avatars-status-dark::before {
  --bs-avatar-status-border-color: var(--bs-dark);
}
.avatars-status:hover::before {
  transform: rotate(360deg);
}
.avatars-xl {
  --bs-avatar-size: 4rem;
  --bs-avatar-font-size: 1rem;
}
.avatars-lg {
  --bs-avatar-size: calc(1rem * 2 + var(--bs-border-width) * 2 + 1rem * 1.5);
  --bs-avatar-font-size: 1rem;
}
.avatars-sm {
  --bs-avatar-size: calc(
    0.5rem * 2 + var(--bs-border-width) * 2 + 0.75rem * 1.5
  );
  --bs-avatar-font-size: 0.75rem;
}
.avatars-xs {
  --bs-avatar-size: 1.5rem;
  --bs-avatar-font-size: 0.75rem;
}
.avatars-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: inherit;
}
.avatar-group {
  display: inline-flex;
}









