
<!-- avatar.component.html -->
<div class="avatarkv">
    <div class="avatarkv-center">
        <div class="avatarkv-head">
            <!-- Cabelo (cor dinâmica) -->
            <div class="avatarkv-hair"></div>
          
            <!-- Orelhas (cor da pele) -->
            <div class="avatarkv-ears">
              <div class="avatarkv-ear left"></div>
              <div class="avatarkv-ear right"></div>
            </div>
          
            <!-- Olhos (cor dinâmica) -->
            <div class="avatarkv-eyes">
              <div class="avatarkv-eye left">
                <div class="avatarkv-eyerol">
                    <div class="avatarkv-eye-eyerol-ritinha">
                      <div class="avatarkv-eye-ritinha"></div>
                    </div>
                  </div>
              </div>
              <div class="avatarkv-eye right">
                <div class="avatarkv-eyerol">
                  <div class="avatarkv-eye-eyerol-ritinha">
                    <div class="avatarkv-eye-ritinha"></div>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- Sobrancelha (fixa) -->
            <div class="avatarkv-eyebrow"></div>
          
            <!-- Barba (aparece apenas para gênero masculino) -->
            <div class="avatarkv-beard"></div>
          
            <!-- Boca (fixa) -->
            <div class="avatarkv-mouth"></div>
          
            <!-- Nariz (fixo) -->
            <div class="avatarkv-nose"></div>
          </div>
    </div>
  </div>