<app-header></app-header>
<div class="main-content">
   <!--  <div class="container-fluid px-4">
        <div class="row">
            <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
                <div class="row justify-content-center py-4" style="row-gap: 1.4rem;">
                    <app-card class="col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngFor="let item of projectos;"
                        [item]="item"></app-card>

                </div>
            </div>
        </div>
    </div>  -->

    <div class="fundo">
        <div class="grid-2" style="margin-bottom: 23px;">
            <div class="box-top" routerLink="">
                <div class="circ-top">
                    <div class="icone"><i class="bi bi-folder2-open text-white" style="font-size: 28px;"></i></div>
                </div>
                <div class="top-top-t">
                    <h3>SIGDOC</h3>
                    <p>Gestão Documental</p>
                </div>
            </div>
        </div> 
        <div class="grid-1">
            <div class="box" routerLink="">
                <div class="top">
                    <h3>SIGPQ</h3>
                    <p>Sistema Integrado de Gestão de Pessoal e Quadros</p>
                </div>
                <div class="circ">
                  <div class="icone"><i class="bi bi-person-fill-gear text-white" style="font-size: 28px;"></i></div>
                </div>
            </div>
            <div class="box">
                <div class="circ">
                    <div class="icone"><i class="bi bi-people text-white" style="font-size: 28px;"></i></div>
                </div>
                <div class="top">
                    <h3>SIGCom</h3>
                    <p>Sistema Integrado de Gestão de Comunicação</p>
                </div>
            </div>
        </div>
        <div class="grid-1">
            <div class="box">
                <div class="top">
                    <h3>SIGM</h3>
                    <p>Sistema Integrado de Gestão de Manutenção</p>
                </div>
                <div class="circ">
                  <div class="icone"><i class="bi bi-tools text-white" style="font-size: 28px;"></i></div>
                </div>
            </div>
            <div class="circulo">
                <div class="pp">
                    <div class="icone"></div>
                    <h3>SIGTTI</h3>
                    <p>Sistema Integrado de Gestão <br> de Telecomunicações e Tecnologia de Informação</p>
                    <button [routerLink]="['/piips/siglog/#']" class="link">Acessar</button>
                </div>
    
            </div>
            <div class="box">
                <div class="circ">
                  <div class="icone"><i class="bi bi-qr-code-scan text-white" style="font-size: 28px;"></i></div>
                </div>
                <div class="top">
                    <h3>SIGCod</h3>
                    <p style="margin-bottom: -20px;">Gestão Integrado de Gestão de Códigos</p>
                </div>
            </div>
        </div>
        <div class="grid-1">
            <div class="box">
                <div class="top">
                    <h3>PA</h3>
                    <p>Portal do Agente</p>
                </div>
                <div class="circ">
                  <div class="icone"><i class="bi bi-person-video3 text-white" style="font-size: 28px;"></i></div>
                </div>
            </div>
            <div class="box">
                <div class="circ">
                  <div class="icone"><i class="bi bi-clipboard-plus text-white" style="font-size: 28px;"></i></div>
                </div>
                <div class="top">
                    <h3>PIPNA</h3>
                    <p>Portal Interno da Polícia Nacional</p>
                </div>
            </div>
        </div>
    </div> 


</div>

<!-- <app-footer></app-footer> -->