<div class="content">
  <sigpq-header></sigpq-header>
  <div class="header-ficha mt-1">
      <div class="row" style="align-items: center;">
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 d-flex justify-content-start align-items-start">
              <div class="mais-info d-flex justify-content-center align-items">
                  <h4 class="text-white"><b>Listagem das Licenças</b></h4>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-end align-items-start">
              <a href="javascript:void(0)"  data-toggle="modal" data-target="#modalRegistarTipoLicencass" (click)="this.ngAfterViewInit()"
                  class="btn-piips btn-piips-secondary border m-0 py-2 px-4"><i class="fa fa-plus-circle" ></i>
                  Registar</a>
          </div>
      </div>
  </div>

  <div class="row p-2">
      <div class="col-xl-12 col-lg-12 col-md-col-12 col-sm-12 my-4">
          <form class="row" style="align-items: center;">
              <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12">
                  <select class="form-control" style="width: 100%!important; padding: .8rem auto;"
                      (change)="filtrarPagina('perPage',$event)">
                      <option *ngFor="let item of [5,10,20,50]" [value]="item">{{item}}</option>
                  </select>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <input class="form-control w-100" (input)="filtrarPagina('search',$event)" type="text" placeholder="Pesquisar ...">
                  <!-- <input class="form-control w-100" type="text"
                   (change)="filtrarPagina('search',$event)" placeholder="Pesquisa ..."> -->
              </div><!-- [(ngModel)]="this.filtro.search" -->
              <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">

                  <ng-select2 [options]="options" formControlName="regime_id" [data]="this.regimes"
                  (valueChanged)="filtrarPagina('regime',$event)">
                  </ng-select2>
              </div> -->
              <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 d-flex justify-content-end align-items-center">
                  <button (click)="this.recarregarPagina()" class="btn-piips btn-piips-secondary m-0" type="submit">
                      <i style="font-size: 14px;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                      <b>Recarregar</b>
                  </button>
              </div>
          </form>

      </div>


      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <table class="table table-border table-striped custom-table datatable mb-0">
              <thead>
                  <tr>
                      <th>ID</th>
                      <!-- <th>Regime</th> -->
                      <th>Nome</th>
                      <th>Sigla</th>
                      <th>Dias Máximos</th>
                      <th>Limite Anual</th>
                      <!-- <th>Exige Anexo</th> -->
                      <th>Estado</th>
                      <th>Data de Registo </th>
                      <!-- <th>Data de actualização</th> -->
                      <th class="text-center">Operação</th>
                  </tr>
              </thead>
              <tbody>
                  <tr
                      *ngFor="let item of this.licencas | paginate: { itemsPerPage: this.pagination.per_page, currentPage: this.pagination.current_page,totalItems: this.pagination.total,id:'idCursos' }; index as i">
                      <td>{{i+1}}</td>
                      <!-- <td>{{item.tipo?(item.tipo | uppercase):'Sem Regime'}}</td> -->
                      <td>{{item.nome}}</td>
                      <td>{{item.sigla}}</td>
                      <td>{{item.dias_maximos}}</td>

                      <td>{{ item.limite_anual}}</td>
                      <!-- <td>
                        <ng-container *ngIf="item.exige_anexo; else elseTemplate">
                          <span class="custom-badge status-green">Sim</span>
                      </ng-container>
                      <ng-template #elseTemplate>
                          <span class="custom-badge status-red">Não</span>
                      </ng-template>
                      </td> -->
                      <td>
                        <ng-container *ngIf="item.activo; else elseTemplate">
                            <span class="custom-badge status-green">Activo</span>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <span class="custom-badge status-red">Inactivo</span>
                        </ng-template>
                    </td>

                      <td>{{item.createdAt}}</td>
                      <!-- <td>{{item.updatedAt}}</td> -->
                      <td class="text-center">
                          <div class="dropdown dropdown-action">
                              <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                  aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a (click)="setCargo(item)" class="dropdown-item" href="javascript::void(0)"
                                      data-toggle="modal" data-target="#modalRegistarTipoLicencass">
                                      <i class="fa fa-pencil m-r-5"></i>
                                      Editar
                                  </a>

                                  <ng-container *ngIf="verificarLicenca(item.nome)">
                                    <a class="dropdown-item" (click)="setCargo(item)" href="javascript::void(0)" data-toggle="modal"
                                      data-target="#modalEliminarLicença"><i class="fa fa-trash-o m-r-5"></i> Apagar</a>

                                  <!-- a class="dropdown-item" style="cursor: pointer;" (click)="toggleActive(item.activo,item)"
                                      ><i class="fa fa-trash-o m-r-5"></i> {{item.activo?'Desativar':'Activar'}}</a> -->
                                  </ng-container>

                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

      <div class="col-md-12">
          <div class="row">
              <div class="col-sm-6">
                  Mostrando de {{ this.pagination.current_page }} á
                  {{ this.pagination.per_page }} de {{ this.pagination.total }} Registo
              </div>
              <div class="col-sm-6">
                  <div class="float-right">
                      <pagination-controls id="idCursos" (pageChange)="this.filtrarPagina('page', $event)"
                          [directionLinks]="true" [autoHide]="true" previousLabel="Anterior" nextLabel="Próximo"
                          [maxSize]="4" [responsive]="true"></pagination-controls>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<sigpq-funcao-registar-ou-editar-modal [cargo]="this.cargo"
  (eventRegistarOuEditModel)="this.setIdAndRecarregar()" #editarOrEliminar></sigpq-funcao-registar-ou-editar-modal>

<sigpq-delete [cargo]="this.cargo" (eventConfirmar)="eliminar(this.cargo.id)"></sigpq-delete>

