.liquid-container {
    filter: url(#goo);
  }
 
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .the-page {
    width: 100%;
  }
  .page__content {
    width: 100%;
    height: auto;
    border: 1px solid #00000004;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: inset 0 -5px 10px -5px #ffffff;
    filter: url("#goo");
  }
  .page__segment {
    width: 100%;
    height: auto;
  }
  .page__frame {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0 6px;
  }
  
  .tab__content {
    /* width: 100%;
    height: auto;
    border: 1px solid #e9e9e900;
    border-radius: 0 10px 18px 18px;
    background-color: #ffffff;
    box-shadow: inset 0 -5px 10px -5px #ffffff;
    filter: url("#goo"); */
  }
  .t--head {
    font: normal normal 400 32px/40px "Roboto", sans-serif;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.87);
  }
  .t--copy {
    font: normal normal 400 16px/24px "Roboto", sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 0.54);
    padding: 40px;
    -moz-columns: 2;
    columns: 2;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
  .t--tab {
    font: normal normal 500 15px/40px "Roboto", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    color: inherit;
  }
  .page-tab-header {
    width: 100%;
    position: relative; 
  }
  .page-tab-header > .header-set {
    margin: 32px 0;
  }
  .page-tab-header > .header-set > .title,
  .page-tab-header > .header-set > .subtitle {
    margin: 0 0 16px 0;
  }
  .page-tab-header > .header-set > .title {
    display: block;
  }
  .page-tab-header > .navigation {
    display: block;
    position: relative;
    width: 100%;
    font-size: 0;
  }
  .page-tab-header > .navigation:hover .navigation-menu {
    height: auto;
  }
  .page-tab-header > .navigation .navigation-toggle {
    display: block;
    width: 100%;
    padding: 0 8px;
    border-top: 1px solid #eeeeee;
  }
  .page-tab-header > .navigation .navigation-menu {
    height: 0;
    overflow: hidden;
    position: relative;
    top: 100%;
    left: 0;
    z-index: 0;
    width: 100%; 
   
  }
  .page-tab-header > .navigation .nav-item {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    overflow: hidden;
    width: 50%;
    color: rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid #eeeeee;
  }
  .page-tab-header > .navigation .nav-item:nth-of-type(2n) {
    border-left: 1px solid #eeeeee;
  }
  .page-tab-header > .navigation .nav-item:nth-last-child(-n + 2) {
    border-bottom-width: 0;
  }
  .page-tab-header > .navigation .nav-item.active {
    color: #051f95;
  }
  .page-tab-header > .navigation .nav-item.disabled {
    pointer-events: none;
    color: gray;
  }
  
  .page-tab-header > .navigation .nav-tab {
    display: block;
    padding: 0 8px;
    text-align: left;
  }
  @media only screen and (min-width: 768px) {
    .page-tab-header > .navigation .navigation-toggle {
      display: none;
    }
    .page-tab-header > .navigation .navigation-menu {
      overflow: visible;
      position: relative;
      top: 0;
      z-index: 1;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      height: auto;
    }
    .page-tab-header > .navigation .nav-item {
      width: auto;
      max-width: 100%;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: #eeeeee;
      background-color: #f8f8f8;
      box-shadow: inset 0 -5px 10px -5px #b8b8b8;
      border-radius: 15px;
      margin-left: 15px;
    }
    .page-tab-header > .navigation .nav-item:nth-of-type(2n) {
      border-left: 0;
    }
    .page-tab-header > .navigation .nav-item:nth-of-type(1) {
      border-left: 1px solid #eeeeee;
      border-radius: 15px;
    }
    .page-tab-header > .navigation .nav-item:nth-of-type(3) {
      border-radius: 15px;
    }
    .page-tab-header > .navigation .nav-item::after {
      display: block;
      position: relative;
      z-index: 1;
      top: 0;
      right: 0;
      width: 8px;
      height: 100%;
      content: "";
      background-color: #d8d8d8;
      box-shadow: inset 0 -5px 10px -5px #b8b8b8;
      opacity: 0.75;
      pointer-events: none;
      overflow: hidden;
    }
  
    .page-tab-header > .navigation .nav-item.disabled {
      width: auto;
      max-width: 100%;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: #eeeeee;
      background-color: #f8f8f8;
      box-shadow: inset 0 -5px 10px -5px #b8b8b8;
      pointer-events: none;
      color: gray;
    }
    .page-tab-header > .navigation .nav-item:first-of-type.disabled {
      border-left-width: 1px;
      border-left-color: #d8d8d8;
    }
    .page-tab-header > .navigation .nav-item.disabled:hover {
      pointer-events: none;
      color: gray;
    }
    .page-tab-header > .navigation .nav-item.disabled::after {
      display: none;
    }
    .page-tab-header > .navigation .nav-item.disabled + .nav-item {
      box-shadow: inset 10px 0px 20px -5px #b8b8b8;
    }
    .page-tab-header > .navigation .nav-item.active {
      background-color: #021c55;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: #eeeeee #eeeeee #eeeeee #eeeeee;
      box-shadow: none;
      top: 1px;
      width: auto;
      max-width: 100%;
      color: #ffffff;
      box-shadow: inset 0 -5px 10px -5px #00011e;
    }
    .page-tab-header > .navigation .nav-item:first-of-type.active {
      border-left-width: 1px;
      border-left-color: #eeeeee;
    }
    .page-tab-header > .navigation .nav-item:hover {
      color: rgba(0, 0, 0, 0.87);
    }
    .page-tab-header > .navigation .nav-item.active:hover {
      color: #0099dd;
    }
    .page-tab-header > .navigation .nav-item.active::after {
      display: none;
    }
    .page-tab-header > .navigation .nav-item.active + .nav-item {
      /* box-shadow:  10px 0px 20px -5px #b8b8b8; */
    }
    .page-tab-header > .navigation .nav-tab {
      text-align: center;
    }
  }
  @media only screen and (min-width: 1024px) {
    .page-tab-header > .navigation .nav-item {
      width: auto;
      min-width: 8%;
    }
  }
  
  .notificaValidoB {
    color: #ffffff;
    background-color: #ff00198e;
    border: 1px solid #af2432;
    border-radius: 8px;
    padding: 7px;
    font-size: 12pt;
    margin: 4px auto;
  }
  
  .asterisco {
    color: #dc3545;
  }
  
  .buttons {
    margin-bottom: 20px;
  }
  
  button {
    margin: 2px;
  }
  
  .captured-images {
    border: 1px dashed #bdbbbb;
    display: block;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    background-color: #e8e8e8;
  }
  
  .image-container {
    border: 2px dashed #ddd;
    width: 120px;
    height: 145px;
    padding: 1px;
  }
  
  .image-container h3 {
    font-size: 10pt;
  }
  
  .image-container img {
    border: 2px dashed #bdbbbb;
    max-width: 100%;
    height: auto;
  }
  
  .cols-1 {
    flex: 0 0 auto;
    width: 3.5%;
  }
  .cols-11 {
    flex: 0 0 auto;
    width: 88.66666667%;
  }
  
  canvas {
    display: none;
  }
  
  input,
  select,
  textarea {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
         */
    border-radius: 13px!important; 
    border: 1px solid #e0e0e0 !important;
    padding: 10px !important;
    height: 45px !important;
    background-color: #ffffff !important;
    box-shadow: inset 0 -5px 10px -5px #f8f8f8 !important;
  }
   
  
  /* No arquivo CSS global ou no estilo do componente */
  .select2-container--default .select2-selection--single {
    /* Seus estilos personalizados aqui */
    border: 1px solid #e0e0e0 !important;
    padding: 5px !important; 
    height: 45px !important;
    background-color: #ffffff !important;
    box-shadow: inset 0 -5px 10px -5px #f8f8f8 !important;
    border-radius: 13px !important;
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
    border: 1px solid #e0e0e0 !important;
  }
  
  .select2-results__option[aria-selected] {
    padding-left: 20px;
    border: 1px solid #e0e0e0 !important;
  }
  /* No arquivo do componente, por exemplo, seu-componente.component.css */
  :host ::ng-deep .select2-container--default .select2-selection--single {
    border: 1px solid #e0e0e0 !important;
    padding: 5px !important;
    height: 45px !important;
    background-color: #ffffff !important;
    box-shadow: inset 0 -5px 10px -5px #f8f8f8 !important;
    border-radius: 13px !important;
    /* Adicione mais estilos conforme necessário */
  }
  
  .all {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 2em;
  }
  
  .styled {
    width: 250px;
    height: 2em;
    background-color: rgb(198, 198, 198);
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #fileupload {
    display: none;
  }
  .bg-light {
    --bs-bg-opacity: 0;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 11px !important;
    border-bottom-left-radius: 11px !important;
    border-bottom-right-radius: 11px !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 10px;
  }
  
  .bg-light-fotos {
    --bs-bg-opacity: 0;
    border-radius: 1px !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 2px;
    border: 2px solid #dbdbdb;
    height: 380px;
    margin-bottom: 7px;
  }
  
  .avatarkv img {
    border-radius: 1%;
    width: 100%;
  }
  
  
  
  
  
  
  
  
  
  
  .avatarkv-hair::before,
  .avatarkv-hair::after {
    background: inherit; /* Herda a cor do elemento pai */
  }
  
  /* Estilos dinâmicos para gênero */
  .avatarkv-head[gender="feminino"] .avatarkv-hair {
    height: 46px;
    border-radius: 80px;
  }
  
  .avatarkv-head[gender="feminino"] .avatarkv-beard {
    display: none;
  }
  /* Estilos femininos */
  .avatarkv-head[gender="feminino"] {
    .avatarkv-hair {
      height: 46px;
      border-radius: 80px;
      top: -15px;
    }
  
    .avatarkv-beard {
      display: none;
    }
  }
  
  /* Estilos masculinos */
  .avatarkv-head[gender="masculino"] {
    .avatarkv-hair {
      height: 36px;
      border-radius: 80px 80px 0 0;
    }
  }
  
  
  .avatarkv {
    position: relative;
    width: 100%;
    height: 190px;
    border: 0;
    margin: auto;
    right: 15%;
    border-radius: 1%;
    overflow: hidden;
  }
  .avatarkv:hover .avatarkv-head {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  .avatarkv-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 5px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .avatarkv-head {
    position: relative;
    width: 74px;
    height: 98px;
    border-radius: 80px;
    background: #7c4222;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: 0.3s cubic-bezier(0.2, 0.7, 0.2, 1.7);
    transition: 0.3s cubic-bezier(0.2, 0.7, 0.2, 1.7);
  }
  .avatarkv-hair {
    position: absolute;
    top: -10px;
    left: -1px;
    right: -1px;
    height: 36px;
    background: #242424;
    border-radius: 80px 80px 0 0;
    box-shadow: inset 25px 2px 0 #242424;
    box-shadow: inset 25px 2px 0 #242424;
  }
  .avatarkv-hair::before,
  .avatarkv-hair::after {
    content: "";
    position: absolute;
    bottom: -21px;
    width: 7px;
    height: 22px;
    background: #242424;
  }
  .avatarkv-hair::before {
    left: 0;
    border-radius: 0 0 5px 0;
    background: #242424;
  }
  .avatarkv-hair::after {
    right: 0;
    border-radius: 0 0 0 5px;
    background: #242424;
  }
  .avatarkv-ear {
    position: absolute;
    top: 49%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .avatarkv-ear.left {
    left: -8px;
    background: #7c4222;
  }
  .avatarkv-ear.right {
    right: -8px;
    background: #7c4222;
  }
  .avatarkv-eyes {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .avatarkv-eye {
    position: absolute;
    top: -3px;
    width: 8px;
    height: 8px;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    overflow: hidden;
    -webkit-animation: anim_eye 10s infinite ease-in-out;
    animation: anim_eye 10s infinite ease-in-out;
  }
  .avatarkv-eye .avatarkv-eyerol {
    position: relative;
    margin: 1px auto;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-animation: anim_eye 10s infinite ease-in-out;
    animation: anim_eye 10s infinite ease-in-out;
  }
  .avatarkv-eyerol .avatarkv-eye-eyerol-ritinha {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 4.5px;
    height: 4.5px;
    background: #644040;
    border-radius: 50%;
    -webkit-animation: anim_eye 10s infinite ease-in-out;
    animation: anim_eye 10s infinite ease-in-out;
  }
  .avatarkv-eyerol .avatarkv-eye-eyerol-ritinha .avatarkv-eye-ritinha {
    position: absolute;
    margin-top: 1.3px;
    margin-left: 1.2px;
    width: 1.7px;
    height: 1.7px;
    background: #000000;
    border-radius: 50%;
    animation: anim_eye 10s infiniteease-in-out;
  }
  @-webkit-keyframes anim_eye {
    0%,
    3%,
    6%,
    48%,
    51%,
    53%,
    100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    5%,
    50%,
    52% {
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }
  @keyframes anim_eye {
    0%,
    3%,
    6%,
    48%,
    51%,
    53%,
    100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    5%,
    50%,
    52% {
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }
  .avatarkv-eye.left {
    left: 16px;
  }
  .avatarkv-eye.right {
    right: 16px;
  }
  .avatarkv-nose {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 11px;
    margin-left: -2px;
    border-radius: 3px;
    border-bottom: 1px solid #422a1e;
  }
  .avatarkv-eyebrow {
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
    height: 2px;
    background: #2222229c;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .avatarkv-beard {
    position: absolute;
    bottom: 9px;
    left: 50%;
    width: 14px;
    height: 2px;
    margin-left: -6px;
    background: #4d2711;
    border-radius: 3px;
  }
  .avatarkv-mouth {
    position: absolute;
    background: #f7f7f7;
    bottom: 17%;
    left: 33%;
    right: 33%;
    height: -1px;
    border-radius: 5px 5px 15px 15px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  


















  p {
    margin: 0;
  }
  
  .person-card {
    max-width: 86%;
    height: 543px;
    padding: 10px;
    border: 1px solid #00000000;
    background: #efefef;
    border-radius: 12px;
    transition: all 0.3s ease;
  }
  .person-card--warning {
    border: 8px solid #950000;
  }
  .person-card--warning .person-card__chapter {
    color: #950000;
  }
  .person-card__chapter, .person-card__name, .person-card__email, .person-card__description {
    padding: 10px 0;
    float: left;
    font-size: 20px;
  }
  .person-card__name, .person-card__email {
    width: 180px;
  }
  .person-card__chapter {
    width: 70px;
    font-weight: 600;
  }
  .person-card__chapter--description {
    clear: both;
    float: left;
    width: auto;
  }
  .person-card__image {
    height: 200px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .person-card__image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  .person-card__description {
    display: inline-block;
    padding-left: 8px;
    width: 250px;
  }


  .rating {
    color: #ddd;
    font-size: 1.5rem;
    line-height: 1;
  }
  
  .rating .filled {
    color: #ffc107;
  }
  
  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Dynamic sections for different informant types */
  .person-card[data-type="Anônimo"] {
    border-top: 4px solid #6c757d;
  }
  
  .person-card[data-type="Cooptado"] {
    border-top: 4px solid #dc3545;
  }
  
  .person-card[data-type="Arrependido"] {
    border-top: 4px solid #fd7e14;
  }
  
  .person-card[data-type="Técnico"] {
    border-top: 4px solid #20c997;
  }

  /* Add these new styles for contact icons */
.person-card__email, .person-card__phone {
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.2s;
}

.person-card__email:hover, .person-card__phone:hover {
  color: #0b5ed7;
  text-decoration: underline;
}

.bi {
  font-size: 1.1rem;
}


/* Estilos para o upload de foto */
.img-thumbnail {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 0.25rem;
  background-color: #fff;
}

.object-fit-cover {
  object-fit: cover;
}

/* Estilo para o botão de seleção de arquivo personalizado */
.btn-outline-secondary {
  transition: all 0.2s;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: white;
}

/* Estilo para mensagens de erro (opcional) */
.upload-error {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}