<div class="novoProcesso">
  <h1 class="title">Novo Processo</h1>

  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="profile-tabs">
          <div class="row">
            <ul class="nav nav-tabs nav-tabs-bottom col-sm-8">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="#about-cont"
                  data-toggle="tab"
                  ><b><i class="bi bi-archive">Dados</i></b></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#bottom-tab2" data-toggle="tab"
                  ><b><i class="bi bi-building-fill-exclamation">Planeamento</i></b></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#bottom-tab2" data-toggle="tab"
                  ><b><i class="bi bi-globe-europe-africa">Auto Médiação</i></b></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#bottom-tab2" data-toggle="tab"
                  ><b><i class="bi bi-person-workspace">Recursos Humanos</i></b></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#bottom-tab2" data-toggle="tab"
                  ><b><i class="bi bi-hammer">Equipamentos</i></b></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#bottom-tab2" data-toggle="tab"
                  ><b><i class="bi bi-person-plus-fill">Terceiros</i></b></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#bottom-tab2" data-toggle="tab"
                  ><b><i class="bi bi-bookmark-check">Anexos</i></b></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#bottom-tab2" data-toggle="tab"
                  ><b><i class="bi bi-three-dots-vertical">Mais</i></b></a
                >
              </li>
            </ul>
          </div>



          <div class="tab-content">
            <div class="tab-pane show active" id="about-cont">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <div class="col-md-12">
                      <table class="table table-border table-striped custom-table mb-2">

                        <div class="row">
                          <div class="card" style="width: 50%">
                            <div class="form-group col-md-12">
                              <label>
                                <b>
                                  Descrição
                                  <span class="text-required"> *</span>
                                </b>
                              </label>
                              <input class="form-control" type="text" />
                      
                              <label>
                                <b>
                                  Morada
                                  <span class="text-required"> *</span>
                                </b>
                              </label>
                              <input class="form-control" type="text" />
                      
                              <label>
                                <b>
                                  Orgão
                                  <span class="text-required"> *</span>
                                </b>
                              </label>
                              <input class="form-control" type="text" />
                            </div>
                          </div>
                      
                          <div class="form-group col-md-6">
                            <label>
                              <b>
                                Classificação
                                <span class="text-required"> *</span>
                              </b>
                            </label>
                            <input type="text" class="form-control" />
                            <label>
                              <b>
                                Responsável*
                                <span class="text-required"> *</span>
                              </b>
                            </label>
                            <input type="text" class="form-control" />
                            <label>
                              <b>
                                Estada
                                <span class="text-required"> *</span>
                              </b>
                            </label>
                            <input type="text" class="form-control" />
                      
                            <hr />
                          </div>
                      
                          <div class="card" style="width: 50%">
                            <h3 class="title">Quadro de Resumo de Custo</h3>
                            <hr />
                      
                            <div class="form-group col-md-12">
                              <label>
                                <b>
                                  Custo total <span style="color: orange">(indicativo)</span>
                                  <span class="text-required"> *</span>
                                </b>
                              </label>
                              <input class="form-control" type="text" />
                      
                              <label>
                                <b>
                                  Custo de execução <span>(Previsto)</span>
                                  <span class="text-required"> *</span>
                                </b>
                              </label>
                              <input class="form-control" type="text" />
                      
                              <label>
                                <b>
                                  Custo de execução <span style="color: green">(Realizado)</span>
                                  <span class="text-required"> *</span>
                                </b>
                              </label>
                              <input class="form-control" type="text" />
                      
                              <div style="display: flex">
                                <div class="form-group col-md-6">
                                  <label>
                                    <b>
                                      Desvio de custo de execução
                                      <span style="color: brown">(Previsto)</span>
                                      <span class="text-required"> *</span>
                                    </b>
                                  </label>
                                  <input class="form-control" type="text" />
                                </div>
                                <div class="form-group col-md-6">
                                  <label>
                                    <b>
                                      Desvio de custo de execução
                                      <span style="color: orange">(Indicativo)</span>
                                      <span class="text-required"> *</span>
                                    </b>
                                  </label>
                                  <input class="form-control" type="text" />
                                </div>
                              </div>
                            </div>
                          </div>












































                          
                      
                          <div class="form-group col-md-6">
                            <h1 class="title">Quadro de Resumo de Tempo de Recursos Humanos</h1>
                            <hr />
                      
                            <div style="display: flex">
                              <div class="form-group col-md-6">
                                <label>
                                  <b>
                                    Tempo de execução <span style="color: orange">(Indicativo)</span>
                                    <span class="text-required"> *</span>
                                  </b>
                                </label>
                                <input class="form-control" type="text" />
                              </div>
                              <div class="form-group col-md-6">
                                <label>
                                  <b>
                                    Tempo de execução <span style="color: green">(Realizado)</span>
                                    <span class="text-required"> *</span>
                                  </b>
                                </label>
                                <input class="form-control" type="text" />
                              </div>
                            </div>
                      
                            <div style="display: flex">
                              <div class="form-group col-md-6">
                                <label>
                                  <b>
                                    Tempo de execução <span>(Previsto)</span>
                                    <span class="text-required"> *</span>
                                  </b>
                                </label>
                                <input class="form-control" type="text" />
                              </div>
                              <div class="form-group col-md-6">
                                <label>
                                  <b>
                                    Tempo de execução <span style="color: brown">(Realizado)</span>
                                    <span class="text-required"> *</span>
                                  </b>
                                </label>
                                <input class="form-control" type="text" />
                              </div>
                            </div>
                            <hr />
                      
                            <div class="btn">
                              <button class="cancelar">Cancelar</button>
                              &nbsp;
                              <button class="registar">Quardar</button>
                            </div>
                          </div>
                        </div>

                        
                  
                        
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="bottom-tab2">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0">

                      <app-planeamento>
                        
                      </app-planeamento>
                  
                   
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>

      
          
          
        
        </div>
      </div>
    </div>
  </div>

  
</div>
