<div class="row">
  <div class="col-xl-12 col-md-12 col-lg-12 col-sm-12">
    <form class="form-inline">
      <select class="form-control mr-sm-1" (change)="filtrarPagina('perPage',$event)">
        <option *ngFor="let item of [5,10,20,50]" [value]="item">{{item}}</option>
      </select>
      <input class="form-control mr-sm-1" type="text" [ngModel]="this.filtro.search"
        (ngModelChange)="filtrarPagina('search',$event)" placeholder="Pesquisa ...">
      <button (click)="this.recarregarPagina()" class="btn-piips btn-piips-secondary m-0 py-2" >
        <i style="font-size: 14px;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        <b>Recarregar</b>
      </button>
    </form>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="table-responsive">
      <table class="table table-border table-striped custom-table datatable mb-0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Quantidade</th>
            <th>Tamanho</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Data Registado</th>
            <th>Data Actualização</th>
            <!-- <th class="text-right">Operação</th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of this.meios | paginate: { id: 'provimentoId', itemsPerPage: this.pagination.per_page, currentPage: this.pagination.current_page,totalItems: this.pagination.total }; index as i">
            <td>{{i+1}}</td>
            <td>{{item.quantidade}}</td>
            <td>{{item.tamanho}}</td>
            <td>{{item.tipo_meio_nome}}</td>
            <td>
              <span *ngIf="item.activo" class="custom-badge status-green">Em uso</span>
              <span *ngIf="!item.activo" class="custom-badge status-orange">Sem uso</span>
            </td>
            <td>{{item.created_at}}</td>
            <td>{{item.updated_at}}</td>
            <!-- <td class="text-right">
                      <div class="dropdown dropdown-action">
                          <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                  class="fa fa-ellipsis-v"></i></a>
                          <div class="dropdown-menu">
                              <a *ngIf="!item.activo" href="#" class="dropdown-item" routerLink="/"
                                  [routerLink]="['/piips/sigpg/provimento/promocao/historico/', item.id]"
                                  href="javascript:void(0)">
                                  <i class="fa fa-eye m-r-5"></i>
                                  Activar
                              </a>
                              <a class="dropdown-item" href="#" (click)="this.construcao()"><i
                                      class="fa fa-pencil m-r-5"></i>
                                  Editar
                              </a>
                              <a class="dropdown-item" href="#" (click)="this.construcao()" data-toggle="modal"
                                  data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Apagar</a>
                          </div>
                      </div>
                  </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        Mostrando de {{ this.pagination.current_page }} á
        {{ this.pagination.per_page }} de {{ this.pagination.total }} Registo
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="float-right">
          <pagination-controls id="provimentoId" (pageChange)="this.filtrarPagina('page', $event)"
            [directionLinks]="true" [autoHide]="true" previousLabel="Anterior" nextLabel="Próximo" [maxSize]="4"
            [responsive]="true"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
