:host {
  display: block;
}

/* .card {
  width: 794px; 
  margin: 0 auto; 
  border: 1px solid #ccc; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

tinymce-editor {
  width: 100% !important;  
}*/

