
<div style="height: 16px; margin-top: 23px; opacity: 0%;"></div>
<div class="col-md-12"  style="cursor:pointer;">
    <div id="cor_dashboard" class="card-header" (click)="togglenivelAcademico()">
        <h4 style="color: white; cursor:pointer;" class="card-title d-inline-block"><b>
         MAPA DE REGISTO DE NÍVEL ACADÉMICO E QUALIFICAÇÕES DO EFECTIVO/ PNA, REFERENTE AO ANO {{ano}}
        </b></h4>
    </div>
    <div class="table-responsive" *ngIf="nivelAcademico">
        <table class="table  table-striped  datatable mb-0">
            <thead class="sutotal">
                     <tr>
                     <th rowspan="3"  ></th>
                     <th rowspan="3" class="inverter" >COMISSÁRIO</th>
                     <th rowspan="3" class="inverter" >SUBCOMISSÁRIO</th>
                     <th rowspan="3" class="inverter" >SUPERINTENDENTE-CHEFE</th>
                     <th rowspan="3" class="inverter" >SUPERINTENDENTE</th>
                     <th rowspan="3" class="inverter" >INTENDENTE</th>
                     <th rowspan="3" class="inverter" >INSPECTOR-CHEFE</th>
                     <th rowspan="3" class="inverter" >INSPECTOR</th>
                     <th rowspan="3" class="inverter" >SUBINSPECTOR</th>
                     <th rowspan="3" class="inverter" >1º SUBCHEFE</th>
                     <th rowspan="3" class="inverter" >2º SUBCHEFE</th>
                     <th rowspan="3" class="inverter" >3º SUBCHEFE</th>
                     <th rowspan="3" class="inverter" >AGENTE DE 1º CLASSE</th>
                     <th rowspan="3" class="inverter" >AGENTE DE 2º CLASSE</th>
                     <th rowspan="3" class="inverter" >AGENTE DE 3º CLASSE</th>
                     <th rowspan="3" class="inverter" >TRABALHADOR CIVIL</th>
                     <th rowspan="3" class="inverter" >SUBTOTAL</th>
                     <th rowspan="3" >TOTAL</th>

                     </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
    </div>
</div>
