<div class="col-sm-8 pull-left">
  <aside class="mb-1">
    <b>Nome completo :</b>
    {{this.arguido?.nome_completo}}<br>
  </aside>
  <aside class="mb-1">
    <b>Apelido :</b>
    {{this.arguido?.apelido || "Sem apelido"}}<br>
  </aside>
  <aside class="mb-1">
    <b>Nip :</b>
    {{this.arguido?.nip || "Sem nip"}}<br>
  </aside>
  <aside class="mb-1">
    <b>Número de agente :</b>
    {{this.arguido?.numero_agente || "Sem número de agente"}}<br>
  </aside>
  <aside class="mb-1">
    <b>Nascimento :</b>
    {{this.arguido?.data_nascimento}}<br>
  </aside>
  <aside class="mb-1">
    <b>Nome do Pai :</b>
    {{this.arguido?.nome_pai}}<br>
  </aside>
  <aside class="mb-1">
    <b>Nome Mãe :</b>
    {{this.arguido?.nome_mae}}<br>
  </aside>
</div>
