<main class="row-12" id="main">

    <div class="modal fade " id="delete-modal " style="border-radius: unset; ">
        <div class="modal-dialog modal-dialog-centered modal-dialog-ms ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <div class="modal-title w-100 d-flex justify-content-between align-items-center ">
                        Eliminação de Calibre
                        <a data-dismiss="modal " class="bi bi-x-lg text-danger " style="cursor: pointer; "></a>
                    </div>
                </div>
                <div class="modal-body text-center " style="font-size:16px; color: #041b43; ">
                    <span>Confirmas a eliminação ?</span>
                    <div class="btn-groups my-2 ">
                        <a class="btn btn-link " style="text-decoration: none; color: #041b43; " (click)="this.delete() ">Sim</a>
                        <div class="btn btn-link " data-dismiss="modal " style="text-decoration: none; color: #041b43; ">Não
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="w-100 " style="height: 60px;width: 100vh ">
        <br>
        <h2 class="header-text ">
            Listagem de MultiNips </h2>
        <br>
        <div class="row-12">
            <nav class="navbar navbar-light bg-transparent">
                <form class="form-inline">
                    <select class="form-control mr-sm-1" (valueChanged)="filtrarPagina('perPage',$event)">
                        <option *ngFor="let item of [10,20,50,100]" [value]="item">{{item}}</option>
                    </select>
                    <input class="form-control mr-sm-1" type="search" placeholder="Pesquisa ..." name="search" [(ngModel)]="filtro.search" (ngModelChange)="filtrarPagina('search',$event)" />

                    <button id="btpe1" class="btn btn-outline-success my-2 my-sm-0" (click)="recarregarPagina()"><i
                            style="font-size: 14px;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i><b>
                            Recarregar</b>
                    </button>
                </form>
                <button class="btn btn-lg btn-primary  my-2 my-sm-0" (click)="atribuirNipParaAgentes();">
                    Adicionar Nips
                </button>
            </nav>
        </div>
        <table class="table table-striped shadow table-responsive-lg text-center align-items-center w-100">
            <thead class="col-12 " style="width: 100%; ">
                <tr class="w-100 ">
                    <th>ID</th>
                    <th>Box</th>
                    <th>Nome completo</th>
                    <th>Numero de Nip</th>
                    <th>Estado</th>
                    <th>Data de criaçao</th>
                    <th>Opçoes</th>
                </tr>
            </thead>
            <tbody class="col-lg-12 col-xl-12 col-sm-12" *ngFor="let i of items | paginate: { itemsPerPage: this.pagination.per_page, currentPage: this.pagination.current_page,totalItems: this.pagination.total}; index as e ">
                <tr>
                    <td> # </td>
                    <td> <input type="checkbox" style="height:20px;width:20px;" (change)="getSelecionado(i)">
                        <td> {{i.nome}} </td>
                        <td>{{i.num_nip}} </td>
                        <td>
                            <a class="btn btn-white text-light btn-lg border-transparent boder-0x" [class]="i.estado == 1?'btn-outline-success text-dark':'btn-danger text-dark'">
                            {{i.estado==1?'activo':'desactivo'}} </a>
                        </td>

                        <td>{{i.createdAt}} </td>
                        <td class="text-center">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">

                                    <a class="dropdown-item d-none" data-toggle="modal" data-target="#actualizar"><i
                                        class="fa fa-pencil m-r-5"></i>
                                    Editar</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-modal"><i
                                        class="fa fa-trash-o m-r-5"></i> Eliminar</a>


                                    <a class="dropdown-item" data-toggle="modal" data-target="#registar">
                                        <i class="bi bi-box-arrow-in-up"></i> Atribuir Nip</a>
                                </div>
                            </div>
                        </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    Mostrando de {{ this.pagination.current_page }} á {{ this.pagination.per_page }} de {{ this.pagination.total }} Registo
                </div>
                <div class="col-sm-6">
                    <div class="float-right">
                        <pagination-controls (pageChange)="this.filtrarPagina('page', $event)" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal" id="registar">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Cadatrasmento de Nip</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="card-header row bg-primary text-light align-center w-100" style="margin-left: 19.5px;">


                            Registar Nips
                        </div>

                        <div>
                            <form [formGroup]="formNip">

                                <div class="form-group w-75 border-0 border-transparent ml-3 ">
                                    <label for="Agente " style="margin-left:20px; ">Direcção/Comando</label> <br>
                                    <ng-select2 [options]="options " (valueChanged)="selecionarOrgaoOuComandoProvincial($event) " [data]="this.direcoes ">
                                    </ng-select2>
                                </div>

                                <div class="form-group w-75 border-0 border-transparent ml-3 ">
                                    <label for="Agente " style="margin-left:20px; ">Tipo de Origem</label> <br>
                                    <ng-select2 [options]="options " formControlName="orgao_id " (valueChanged)="selecionarAgente($event) " [data]="this.direcao ">
                                    </ng-select2>
                                </div>

                                <div class="form-group w-75 border-0 border-transparent ml-3 ">
                                    <label for="Agente " style="margin-left:20px; ">Agente</label> <br>
                                    <ng-select2 [options]="options " formControlName="pessoa_id " (valueChanged)="evento($event) " [data]="this.orgao ">
                                    </ng-select2>
                                </div>



                            </form>
                        </div>

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="reset" class="btn btn-primary w-50" data-dismiss="modal">Ok</button>
                </div>

            </div>
        </div>
    </div>
</main>