<!----------------COMPOSIÇÃO ETÁRIA-->


<div style="height: 16px; margin-top: 23px; opacity: 0%;"></div>
<div class="col-md-12">
   <div id="cor_dashboard" class="card-header" style="cursor: pointer;" (click)="togglecomposicaoEtaria()">
       <h4 style="color: white;" class="card-title d-inline-block"><b>
         COMPOSIÇÃO ETÁRIA
       </b></h4>
   </div>
   <div class="table-responsive">
       <table class="table  table-striped  datatable mb-0" *ngIf="composicaoEtaria">
           <thead class="sutotal">
                   <tr>
                     <th>18-25</th>
                     <th>26-30</th>
                     <th>31-35</th>
                     <th>36-40</th>
                     <th>41-50</th>
                     <th>51-55</th>
                     <th>56-60</th>
                     <th>+60</th>
                   </tr>

           </thead>
           <tbody>

                 <tr>
                   <td style="text-align: center;">{{composicaosEtaria.dezoitoevintecinco[0].percentagem}}</td>
                   <td style="text-align: center;">{{composicaosEtaria.vinteCeizetrinta[0].percentagem}}</td>
                   <td style="text-align: center;">{{composicaosEtaria.trintaumetrintaecinco[0].percentagem}}</td>
                   <td style="text-align: center;">{{composicaosEtaria.trintaeseisquarenta[0].percentagem}}</td>
                   <td style="text-align: center;">{{composicaosEtaria.quarentaeumcinquenta[0].percentagem}}</td>
                   <td style="text-align: center;">{{composicaosEtaria.cinquentaeumcinquentacinco[0].percentagem}}</td>
                   <td style="text-align: center;">{{composicaosEtaria.Cinquentaeseissessenta[0].percentagem}}</td>
                   <td style="text-align: center;">{{composicaosEtaria.maisdesessenta[0].percentagem}}</td>
                 </tr>

                 <tr>
                  <td style="text-align: center;">{{composicaosEtaria.dezoitoevintecinco[0].total}}</td>
                  <td style="text-align: center;">{{composicaosEtaria.vinteCeizetrinta[0].total}}</td>
                  <td style="text-align: center;">{{composicaosEtaria.trintaumetrintaecinco[0].total}}</td>
                  <td style="text-align: center;">{{composicaosEtaria.trintaeseisquarenta[0].total}}</td>
                  <td style="text-align: center;">{{composicaosEtaria.quarentaeumcinquenta[0].total}}</td>
                  <td style="text-align: center;">{{composicaosEtaria.cinquentaeumcinquentacinco[0].total}}</td>
                  <td style="text-align: center;">{{composicaosEtaria.Cinquentaeseissessenta[0].total}}</td>
                  <td style="text-align: center;">{{composicaosEtaria.maisdesessenta[0].total}}</td>
                 </tr>

           </tbody>
       </table>
   </div>
</div>
