<div>
    <div class="ml-4 pl-1 pt-2 pr-2 pb-2 mr-4 sigv-breadCrumb mt-4">
        <ul type="none" class="d-flex align-items-center m-0 pl-0">
            <li>
                <a [routerLink]="['/piips/sigvest/dashboard']">
                    <i class="bi bi-house-door-fill"></i> <i class="bi bi-chevron-right"></i>
                </a>
            </li>
            <li [routerLinkActive]="['efeito-breadcrumb']">
                <a [routerLink]="['/piips/sigvest/gestao-de-pedidos']">
                    <span>Gestão de Pedidos</span>
                </a>
            </li>
        </ul>
    </div>


    <h3 class="ml-3 pl-3 mb-4 mt-3 titulo">
        <i class="fa fa-sign-language ii"></i>

        <span>
            Gestão de Pedidos
            <div>Dados estatísticos sobre a logística</div>
        </span>
    </h3>

    <section>
        <div class="container-fluid">
            <div class="row px-3 opcoes-container">
                <div class="col-12">
                    <a [routerLink]="['/piips/sigvest/dashboard']"
                        class="d-flex justify-content-between align-items-center">
                        <span class="d-flex align-items-center">
                            <i class="bi bi-plus-circle-fill iii"></i>
                            <span>
                                Registar
                                <aside>registe todos os pedidos feitos na logística dos Víveres.</aside>
                            </span>
                        </span>

                        <span><i class="bi bi-chevron-right"></i></span>
                    </a>
                </div>

                <div class="col-12" [routerLink]="['/piips/sigvest/dashboard']">
                    <a [routerLink]="['/piips/sigvest/dashboard']"
                        class="d-flex justify-content-between align-items-center">
                        <span class="d-flex align-items-center">
                            <i class="bi bi-list-ul iii"></i>
                            <span>
                                Listar
                                <aside>Listar todos pedidos e produtos relacionados...</aside>
                            </span>
                        </span>

                        <span><i class="bi bi-chevron-right"></i></span>
                    </a>
                </div>

                <div class="col-12" [routerLink]="['/piips/sigvest/dashboard']">
                    <a [routerLink]="['/piips/sigvest/dashboard']"
                        class="d-flex justify-content-between align-items-center">
                        <span class="d-flex align-items-center">
                            <i class="bi bi-list-ul iii"></i>
                            <span>
                                Meus Pedidos - Recebidos
                                <aside>Listar todos pedidos e produtos relacionados...</aside>
                            </span>
                        </span>

                        <span><i class="bi bi-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>