label {
    font-size: 16px;
    font-weight: 500;
    font-style: bold;
}

input:focus {
    border: solid 5px rgb(65, 215, 65);
}

input,
button {
    margin-left: 20px;
    min-width: 400px;
    height: 50px;
    border-radius: 5px;
}

.show_nip {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 25px;
    font-family: arial;
    font-style: bold;
    text-align: center;
}

select,
input,
button {
    margin-left: 20px;
    min-width: 400px;
    height: 50px;
    border-radius: 5px;
}

.bt_layout {
    background-image: url(../../../../../../assets/sigcod/fundo.png);
    background-repeat: no-repeat;
    background-size: 99.5%;
    background-color: transparent;
    height: 100px;
    color: white;
    margin-left: 0%;
    border: none;
    margin-top: 30px;
    ;
}

@media(max-width:768px) {
    .section_main {
        display: grid;
        justify-content: space-between;
        height: auto;
    }
}