<div class="the-page main_" id="main_">
    <header class="page__frame">
      <div class="page-tab-header">
        <div class="header-set">
          <div class="row d-flex">
            <div class="col-md-auto">
              <!-- Avatar -->
              <div class="avatars avatars-xl text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" class="duo-icon duo-icon-clipboard" data-duoicon="clipboard">
                  <path fill-rule="evenodd" d="m4.736 1.968-.892 3.269-.014.058C2.113 5.568 1 6.006 1 6.5 1 7.328 4.134 8 8 8s7-.672 7-1.5c0-.494-1.113-.932-2.83-1.205l-.014-.058-.892-3.27c-.146-.533-.698-.849-1.239-.734C9.411 1.363 8.62 1.5 8 1.5s-1.411-.136-2.025-.267c-.541-.115-1.093.2-1.239.735m.015 3.867a.25.25 0 0 1 .274-.224c.9.092 1.91.143 2.975.143a30 30 0 0 0 2.975-.143.25.25 0 0 1 .05.498c-.918.093-1.944.145-3.025.145s-2.107-.052-3.025-.145a.25.25 0 0 1-.224-.274M3.5 10h2a.5.5 0 0 1 .5.5v1a1.5 1.5 0 0 1-3 0v-1a.5.5 0 0 1 .5-.5m-1.5.5q.001-.264.085-.5H2a.5.5 0 0 1 0-1h3.5a1.5 1.5 0 0 1 1.488 1.312 3.5 3.5 0 0 1 2.024 0A1.5 1.5 0 0 1 10.5 9H14a.5.5 0 0 1 0 1h-.085q.084.236.085.5v1a2.5 2.5 0 0 1-5 0v-.14l-.21-.07a2.5 2.5 0 0 0-1.58 0l-.21.07v.14a2.5 2.5 0 0 1-5 0zm8.5-.5h2a.5.5 0 0 1 .5.5v1a1.5 1.5 0 0 1-3 0v-1a.5.5 0 0 1 .5-.5"/>
                </svg>
              </div>
            </div>
            <div class="col col-lg-5 infor-top-o">
              <!-- Heading -->
              <h1 class="fs-4 mb-0">DIIP</h1>
              <!-- Breadcrumb -->
              <span class="text-body-secondary">Direcção De Informações Investigação Policial.</span>
            </div>
          </div>
        </div>
        <nav class="navigation" id="navigationMenu">
          <ul class="navigation-menu" #navigationMenu>
            <li class="nav-item active"><a class="nav-tab t--tab p-3" aria-current="page" routerLinkActive="active"  [routerLink]="['/piips/sicgo/diip/secretaria']" title="Beta">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <rect width="24" height="24" fill="none" />
                <path fill="currentColor" fill-rule="evenodd" d="M10 4h4c3.771 0 5.657 0 6.828 1.172S22 8.229 22 12s0 5.657-1.172 6.828S17.771 20 14 20h-4c-3.771 0-5.657 0-6.828-1.172S2 15.771 2 12s0-5.657 1.172-6.828S6.229 4 10 4m3.25 5a.75.75 0 0 1 .75-.75h5a.75.75 0 0 1 0 1.5h-5a.75.75 0 0 1-.75-.75m1 3a.75.75 0 0 1 .75-.75h4a.75.75 0 0 1 0 1.5h-4a.75.75 0 0 1-.75-.75m1 3a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 0 1.5h-3a.75.75 0 0 1-.75-.75M11 9a2 2 0 1 1-4 0a2 2 0 0 1 4 0m-2 8c4 0 4-.895 4-2s-1.79-2-4-2s-4 .895-4 2s0 2 4 2" clip-rule="evenodd" />
              </svg>
              Secretaria</a></li>
              <li class="nav-item"><a class="nav-tab t--tab" aria-current="page" routerLinkActive="active" [routerLink]="['/piips/sicgo/diip/ministerio']" title="Ministério">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                <rect width="24" height="24" fill="none" />
                <path fill="none" stroke="#1e1e1e" stroke-linecap="round" stroke-width="1.5" d="M4 7h3m13 0h-9m9 10h-3M4 17h9m-9-5h16" />
              </svg>
              Ministério</a></li>
              <li class="nav-item"><a class="nav-tab t--tab" aria-current="page" routerLinkActive="active"  [routerLink]="['/piips/sicgo/diip/opcs']" title="Beta">
              
             OPCs</a></li>
            
             
            <li class="nav-item">
              <a class="nav-tab t--tab" aria-current="page" routerLinkActive="active"  [routerLink]="['/piips/sicgo/diip/chefia']" title="chefia">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path fill="none" stroke="#1e1e1e" stroke-linecap="round" stroke-width="1.5" d="M4 7h3m13 0h-9m9 10h-3M4 17h9m-9-5h16"/>
                </svg>
                Chefias
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-tab t--tab" routerLinkActive="active" aria-current="page" [routerLink]="['/piips/sicgo/diip/departamento']">
                <i class="bi bi-people-fill"></i>
                Departamento
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-tab t--tab" routerLinkActive="active" aria-current="page" [routerLink]="['/piips/sicgo/diip/auditoria']">
                Auditoria
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-tab t--tab" routerLinkActive="active" aria-current="page" [routerLink]="['/piips/sicgo/diip/decisao']">
                <i class="bi bi-bank2"></i> Tribunal
              </a>
            </li>
             
          </ul>
        </nav>
      </div>
    </header>
    <main class="page__frame">
      <div class="tab__content">
        <section class="tab__main">
          <router-outlet #outlet="outlet"></router-outlet>
        </section>
      </div>
    </main>
  </div>
  
  <!-- https://css-tricks.com/gooey-effect/ -->
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
        <feBlend in="SourceGraphic" in2="goo"></feBlend>
      </filter>
    </defs>
  </svg>