<app-header></app-header>
<div class="main-content base">
   <!--  <div class="container-fluid px-4">
        <div class="row">
            <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
                <div class="row justify-content-center py-4" style="row-gap: 1.4rem;">
                    <app-card class="col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngFor="let item of projectos;"
                        [item]="item"></app-card>

                </div>
            </div>
        </div>
    </div>  -->

    <div class="fundo">
        <div class="grid-1">
            <div class="box" (click)="redirecionarPara(porPnaRoute)">
                <div class="top">
                    <h3>PORPNA</h3>
                    <p>Portal de Recrutamento da Polícia Nacional</p>
                </div>
                <div class="circ" [ngStyle]="{'background-image': useGradient}">
                    <div class="icone"><i class="bi bi-person-bounding-box text-white" style="font-size: 28px;"></i></div>
                </div>
            </div>
            <div class="box">
                <div class="circ" [ngStyle]="{'background-image': useGradient}" [routerLink]="[mgpsRoute]">
                    <div class="icone"><i class="bi bi-clipboard-plus text-white" style="font-size: 28px;"></i></div>
                </div>
                <div class="top" [routerLink]="[mgpsRoute]">
                    <h3>MGPS</h3>
                    <p>Protecção Social</p>
                </div>
            </div>
        </div>
        <div class="grid-1">
            <div class="box" (click)="redirecionarPara(sigefRoute)">
                <a class="top" target="_blank">
                    <h3>SIGEF</h3>
                    <p>Sistema Integrado de Gestão Formativa</p>
                </a>
                <div class="circ" [ngStyle]="{'background-image': useGradient}">
                  <div class="icone"><i class="bi bi-book-half text-white" style="font-size: 28px;"></i></div>
                </div>
            </div>
            <div class="circulo" [routerLink]="['/piips/sigpg/dashboard']">
                <div class="pp">
                    <div class="icone"></div>
                    <h3>
                        <img class="imgp" [src]="logoH" style="width: 180px; height: auto;" alt="RH+360º">
                    </h3>
                    <p>Gestão de Pessoal</p>
                    <button class="link" [ngStyle]="{'background-image': useGradient}">Acessar</button>
                </div>

            </div>
            <div class="box">
                <div class="circ" [ngStyle]="{'background-image': useGradient}" [routerLink]="[sigdocRoute]"  >
                  <div class="icone"><i class="bi bi-folder2-open text-white" style="font-size: 28px;"></i></div>
                </div>
                <div class="top" [routerLink]="[sigdocRoute]">
                    <h3>SIGDOC</h3>
                    <p style="margin-bottom: -20px;">Gestão Documental</p>
                </div>
            </div>
        </div>
        <div class="grid-1">
            <div class="box ">
                <div class="top" [routerLink]="[paRoute]" style="cursor: pointer;">
                    <h3>PA</h3>
                    <p>Portal do Agente</p>
                    <!-- <button [routerLink]="['/piips/sigpg/pa']" class="link">Acessar</button> -->
                </div>
                <div class="circ" [ngStyle]="{'background-image': useGradient}" [routerLink]="[paRoute]">
                  <div class="icone"><i class="bi bi-person-video3 text-white" style="font-size: 28px;"></i></div>
                </div>
            </div>
            <div class="box" (click)="redirecionarPara(posRoute)">
                <div class="circ" [ngStyle]="{'background-image': useGradient}">
                  <div class="icone"><i class="bi bi-journal-medical text-white" style="font-size: 28px;"></i></div>
                </div>
                <a class="top" (click)="redirecionarPara(posRoute)" target="_blank">
                    <h3>POS</h3>
                    <p>Ordem de Serviços</p>
                </a>
            </div>
        </div>
    </div>


</div>

<!-- <app-footer></app-footer> -->
