<div class="modal fade" id="registar-editar-tratamento-mobilidade" aria-labelledby="modalPortalRegistarAcidente"
    aria-hidden="true">

    <div *ngIf="this.mobilidade" class="modal-dialog" role="document" style="overflow-y: hidden;"
        [style.min-width]="'25%'">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="piips-text-color text-uppercase">
                    <i class="fa fa-plus-circle"></i>
                    Verficação da GUIA Nº.
                    {{ this.mobilidade?.numero_guia }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="reiniciarFormulario()" id="close-modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="content">
                <form [formGroup]="this.simpleForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group col-12 p-0">
                                    <label class="piips-text-color">
                                        <b>
                                            Observação
                                            <span class="text-danger">*</span>
                                        </b>
                                    </label>
                                    <textarea class="form-control" rows="7" formControlName="nota"
                                        type="text"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-items-center justify-content-end p-0">
                            <button class="btn-piips btn-piips-red m-0 px-2 py-1" (click)="this.reiniciarFormulario()">
                                <span class="fa fa-refresh"></span>
                                Limpar
                            </button>
                            <button type="submit" (click)="onSubmit()" [disabled]="!this.simpleForm.valid || this.carregando"
                                class="btn btn-piips btn-piips-primary m-0 px-2 py-1" type="submit">
                                <ng-container *ngIf="this.carregando; else naoCarregando">
                                    <i class="spinner-border spinner-border-sm m-1"></i>
                                    Carregando...
                                </ng-container>
                                <ng-template #naoCarregando>
                                    <i class="fa fa-plus-circle"></i>
                                    Enviar
                                </ng-template>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>