<sigpj-alterar-password></sigpj-alterar-password>


<main id="main_" class="main_">

    <div class="pagetitle my-3">
      <h1><i class="bi bi-person-square"></i><span class="mx-2">Meu Perfíl</span></h1>
    </div>

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <div style="position:relative">
                  <img src="assets/img/user.jpg" alt="Profile" class="rounded-circle my-2"  style="width: 150px; height: 120px;"/>
                  <div style="width: 20px; height: 20px; border-radius: 50%; background-color: lightgreen; border: 3px solid white; position: absolute; top: 15px; right: 10px;">
                  </div>
                </div>
              <h5 class="my-1" >{{this.funcionario?.nome_completo}}</h5>
              <h6 class="text-muted">{{this.funcionario?.genero=='M'?'Masculino':'Femenino'}}</h6>
              
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body p-0">
             
              <ul class="nav nav-tabs nav-tabs-bordered">


              </ul>
              <div class="tab-content">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <div class="card" style="background-color: unset!important;box-shadow: unset;">
                    <div class="card-body" style="background-color:unset;">

                      <h5 class="card-title">Sobre</h5>
                      <p class="small fst-italic" *ngIf="this.funcionario!=null">{{this.funcionario?.descricao}}</p>
                    
                      <h5 class="card-title">Detalhes do perfíl</h5>
                      
                      <div class="row">
                        <div class="col-lg-4 col-md-4 label ">Nome completo</div>
                        <div class="col-lg-8 col-md-8" >{{this.funcionario?.nome_completo}}</div>
                      </div>
                      <div class="row" >
                        <div class="col-lg-4 col-md-4 label ">Apelido</div>
                        <div class="col-lg-8 col-md-8" *ngIf="this.funcionario!=null">{{this.funcionario?.apelido}}</div>
                      </div> 
                      
                     <div class="row" >
                        <div class="col-lg-4 col-md-4 label ">Nome do Pai</div>
                        <div class="col-lg-8 col-md-8" *ngIf="this.funcionario!=null">{{this.funcionario?.nome_pai}}</div>
                      </div> 

                      <div class="row" >
                        <div class="col-lg-4 col-md-4 label ">Nome do Pai</div>
                        <div class="col-lg-8 col-md-8" *ngIf="this.funcionario!=null">{{this.funcionario?.nome_mae}}</div>
                      </div> 
                
                  
                  <!-- <div class="row">
                    <div class="col-lg-4 col-md-4 label ">Contacto</div>
                    <div class="col-lg-8 col-md-8">+244  9XX-XXX-XXX</div>
                  </div> -->
                  
                  <div class="row">
                    <div class="col-lg-4 col-md-4 label ">E-mail Institucional</div>
                    <div class="col-lg-8 col-md-8">{{this.funcionario?.email}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-4 label text-red">Palavra Passe</div>
                    <div class="btn btn-primary col-lg-4 col-md-4" 
                    data-toggle="modal"
                    data-target="#modalAterarPassword"> Alterar</div>
                  </div>
                  
                </div>
                </div>
              </div>
              
                <!-- <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <app-edit-funcionario?></app-edit-funcionario?>
                  
                </div> -->
                
                <!-- <div class="tab-pane fade pt-3" id="profile-change-password">
                  <app-edit-pass></app-edit-pass>
                </div> -->

              </div>

            </div>
          </div>

        </div>
      </div>

    </section>

  </main>