.danger-sigae{
    width: 200px;
    height:40px;
    
    
    }
    
    /*cor do botao de registar do sigae*/
    
    .primary-sigae{
    width: 200px;
    height:40px;
    background-color: #041b4e;
    
    }