<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 my-2">
    <form class="row">
      <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12">
        <select class="form-control mr-sm-1" (change)="filtrarPagina('perPage', $event)">
          <option *ngFor="let item of [5, 10, 20, 50]" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
        <input class="form-control mr-sm-1" type="text" [ngModel]="filtro.search" name="search"
          (ngModelChange)="filtrarPagina('search', $event)" placeholder="Pesquisa ..." />
      </div>
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 d-flex align-items-center justify-content-end">
        <button (click)="this.recarregarPagina()" class="btn-piips btn-piips-secondary m-0 py-2" type="submit">
          <i style="font-size: 14px" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
          Recarregar
        </button>
      </div>
    </form>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="table-responsive">
      <table class="table table-border table-striped custom-table datatable mb-0 text-center">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Descricao</th>
            <th>Estado</th>
            <th>Data da solicitação</th>
            <th>Data do tratamento</th>
            <th>Operação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
            let item of this.tratamentos
              | paginate
                : {
                    id: 'solicitacaoId',
                    itemsPerPage: this.pagination.per_page,
                    currentPage: this.pagination.current_page,
                    totalItems: this.pagination.total
                  };
            index as i
          ">
            <td>{{ i + 1 }}</td>
            <td>Tratamento da Solicitação de {{ item.evento ?? '' }}</td>

          
            <td class="badge w-100 p-2 text-light" [style.margin]="'.4rem auto'"
              [style.backgroundColor]="item?.cor" style="border-radius: unset">
              {{ item.estado }}
            </td>
            <td>{{ item.created_at_ }}</td>
            <td>{{ item.created_at }}</td>
            <td class="text-right">
              <div class="dropdown dropdown-action py-0">
                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                    class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" data-toggle="modal" (click)="setTratamento(item)" [style.cursor]="'pointer'"
                    ariaCurrentWhenActive="page" data-target="#view-tratamento">
                    <i class="fa fa-eye m-r-5"></i>
                    Visualizar</a>
                  <a (click)="this.setIdToDelete(item.id, item.e)" data-toggle="modal" data-target="#deleteTratamento"
                    class="dropdown-item" data-toggle="modal" [style.cursor]="'pointer'" ariaCurrentWhenActive="page">
                    <i class="fa fa-trash m-r-5"></i>
                    Eliminar</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        Mostrando de {{ this.pagination.current_page }} á
        {{ this.pagination.per_page }} de {{ this.pagination.total }} Registo
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="float-right">
          <pagination-controls id="provimentoId" (pageChange)="this.filtrarPagina('page', $event)"
            [directionLinks]="true" [autoHide]="true" previousLabel="Anterior" nextLabel="Próximo" [maxSize]="4"
            [responsive]="true"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<app-pa-tratamento-solicitacao [funcionario]="this.getFuncionario" [tratamento]="this.tratamento"
  [pessoaId]="this.getPessoaId">
</app-pa-tratamento-solicitacao>