<div class="row section_main" class="row-12">

    <br>
    <div class="d-flex w-100 justify-content-center shadow" style="margin-top: 20px;">

        <div class="d-grid w-50" style="height:100%;margin-left:20px;">
            <div class="w-100" style="color:var(--primary-color);height:100px;text-align:center;padding-top: 30px;">
                <h4 style="font-size: 30px;font-style:bold;font-weight: 600;text-align:left;margin-left:20px;">Gerador
                    de codigo Guia
                </h4>
            </div>
            <br>
            <form class="row d-grid w-100 h-25" [formGroup]="formGuia">
                <div class="form-group w-75 border-0 border-transparent ml-3">
                    <label for="Agente" style="margin-left:20px;">Direcção/Comando</label> <br>
                    <ng-select2 [options]="options" (valueChanged)="selecionarOrgaoOuComandoProvincial($event)"
                        [data]="this.direcoes">
                    </ng-select2>
                </div>

                <div class="form-group w-75 border-0 border-transparent ml-3">
                    <label for="Agente" style="margin-left:20px;">Tipo de Destino</label> <br>
                    <ng-select2 [options]="options" (valueChanged)="setInicial($event)" [data]="this.direcao">
                    </ng-select2>
                </div>

                <div class="form-group w-75 border-0 border-transparent ml-3">
                    <label for="Agente" style="margin-left:20px;">Direcção/Comando</label> <br>
                    <ng-select2 [options]="options" (valueChanged)="selecionarOrgaoOuComandoProvincial1($event)"
                        [data]="this.direcoes">
                    </ng-select2>
                </div>

                <div class="form-group w-75 border-0 border-transparent ml-3">
                    <label for="Agente" style="margin-left:20px;">Tipo de Origem</label> <br>
                    <ng-select2 [options]="options" formControlName="orgao_id"
                         (valueChanged)="selecionarAgente($event)" style="width:210px" [data]="this.direcao2">
                    </ng-select2>
                </div>


                <div class="form-group w-75 border-0 border-transparent ml-3">
                    <label for="Agente" style="margin-left:20px;">Agente</label> <br>

                    <ng-select2 [options]="options" formControlName="pessoa_id" (valueChanged)="evento($event)"
                        [data]="this.orgao">
                    </ng-select2>
                </div>
                <br>
            </form>
        </div>
        <div class="d-grid w-75 justify-content-center row-12"
            style="display:grid;justify-content:center;height:200px;margin-top:12%;">

            <input type="text" readonly [value]="valor==null?'N/P':valor" class="show_nip">
            <button class="bt_layout" (click)="start()">
                &nbsp;
                Gerar Guia</button>
        </div>
    </div>
</div>