

.card {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.card-img-top {
  max-width: 100px;
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 10px;
}
.card-title  {
  font-size: 15px;
  font-weight: bold;
  margin: 5px ;
}
.card-subtitle  {
  margin-left:  5px;
}

.voting-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.voting-card-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.form-group label {
  font-weight: bold;
}
