<div class="modal fade" id="delete-modal" style="border-radius: unset;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-ms">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title w-100 d-flex justify-content-between align-items-center">
                    Eliminação de Calibre
                    <a data-dismiss="modal" class="bi bi-x-lg text-danger" style="cursor: pointer;"></a>
                </div>
            </div>
            <div class="modal-body text-center" style="font-size:16px; color: #041b43;">
                <span>Confirmas a eliminação ?</span>
                <div class="btn-groups my-2">
                    <a class="btn btn-link" style="text-decoration: none; color: #041b43;" (click)="this.delete_(this.id)">Sim</a>
                    <div class="btn btn-link" data-dismiss="modal" style="text-decoration: none; color:  #041b43;">Não
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="row">
        <div class="col-sm-7">
            <h4 style="color: #002d59;" class="page-title"><b>Listagem de Armas em Lotes</b></h4>
            <h4 style="font-size: 14px;">Sistema de Gerenciamento - <b>Módulo de Armas</b></h4>
        </div>
        <div class="col-sm-5 text-right m-b-20">


        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-light bg-light" style="display: flex; align-items: center;height: 100%;">
            <form class="form-inline">
                <select class="form-control mr-sm-1" (change)="filtrarPagina('perPage',$event)">
                    <option *ngFor="let item of [10,20,50,100]" [value]="item">{{item}}</option>
                </select>
                <input class="form-control mr-sm-1" style="margin-top: 2px;" type="search" placeholder="Pesquisa ..." name="search" [(ngModel)]="filtro.search" (ngModelChange)="filtrarPagina('search',$event)" />

                <button id="btpe1" class="btn btn-outline-success my-2 my-sm-0" (click)="recarregarPagina()"><i
                        style="font-size: 14px;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i><b>
                        Recarregar</b>
                </button>

            </form>
        </nav>

        <div class="col-md-12">
            <table class="table table-border table-striped custom-table datatable mb-0 w-100">
                <thead class="col-12">
                    <tr style="text-align:center;width:100%;">
                
                        <th>ID</th>
                        <th>Série</th>
                        <th>Marca</th>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                        <th>Calibre</th>
                        <th>Nº do Lote</th>
                        <th>Estado</th>
                        <th>País de Origem</th>
                        <th>Descrição</th>
                        <th>Ano de Fábrico</th>
                        <th class="text-center">Operação</th>
                    </tr>
                </thead>
                <tbody>
                 
                        <tr style="text-align: center;width:100%;" *ngFor="let item of armas | paginate: { itemsPerPage: this.pagination.per_page, currentPage: this.pagination.current_page,totalItems: this.pagination.total }; index as i">



                        <td>{{i+1}}</td>
                        <td>{{item.serie}}</td>
                        <td>{{item.marca}}</td>
                        <td>{{item.tipo}}</td>
                        <td>{{item.quantidade}}</td>
                        <td>{{item.calibre_arma}}</td>
                        <td>{{item.lote}}</td>
                        <td>
                            <a
                                [class]='item.estado=="AT"?"btn btn-lg btn-success text-white":"btn btn-lg btn-danger text-white" '>{{item.estado}}</a>
                        </td>
                        <td>{{item.pais}}</td>
                        <td>{{item.descricao}}</td>
                        <td>{{item.ano_fabrico}}</td>
                        <td class="text-center">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- <a class="dropdown-item" href="profile.html"><i class="fa fa-eye m-r-5"></i>
                                        Visualizar</a> -->
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#actualizar" (click)="setAct(item)"  *ngIf="this.is==0 || this.is==1"><i class="fa fa-pencil m-r-5"></i>
                                        Editar</a>
                           
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#atribuir" (click)="setId(item.id)"  *ngIf="this.is==0 || this.is==1"> <i class="bi bi-box-arrow-in-down"></i> Atribuir</a>



                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    Mostrando de {{ this.pagination.current_page }} á {{ this.pagination.per_page }} de {{ this.pagination.total }} Registo
                </div>
                <div class="col-sm-6">
                    <div class="float-right">
                        <pagination-controls (pageChange)="this.filtrarPagina('page', $event)" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cadastrar-lote" aria-labelledby="classes" aria-hidden="true">
    <div class="modal-dialog" role="document" style="overflow-y: hidden; min-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    <i class="fa fa-gun "></i> Registro de Lotes de Armas
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="this.resetForm()">&times;</span>
                </button>
            </div>

            <div class="content">
                <form [formGroup]="this.formulario" (ngSubmit)="fazerAtPORdir()">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Nº de série
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <input formControlName="serie" type="text" class="form-control">
                            </div>



                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Entidade:
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <ng-select2 [options]="options" formControlName="entidade_id" [data]="this.entidades">
                                </ng-select2>
                            </div>

                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Nº do Lote:
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <input formControlName="lote" type="text" class="form-control">
                            </div>



                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Marca da arma
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>

                                <ng-select2 [options]="options" formControlName="marca_id" [data]="this.marcas">
                                </ng-select2>
                            </div>



                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Tipo de armas
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <ng-select2 [options]="options" formControlName="tipo_id" [data]="this.tipos">
                                </ng-select2>
                            </div>


                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Calibre da arma
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <ng-select2 [options]="options" formControlName="calibre_id" [data]="this.calibres">

                                </ng-select2>
                            </div>


                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Quantidade:
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <input formControlName="quantidade" type="number" class="form-control">
                            </div>



                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        País de origem
                                   
                                    </b>
                                </label>
                                <ng-select2 [options]="options" formControlName="pais_id" [data]="this.pais">

                                </ng-select2>
                            </div>

                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Ano de Fabrico
                                       
                                    </b>
                                </label>
                                <input formControlName="ano_fabrico" type="date" class="form-control" onfocus="(this.type='date')">


                            </div>
                            <div class="form-group col-12" style="height: 60px;">
                                <label>
                                    <b>
                                        Descrição da acção
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <textarea formControlName="descricao" type="text" class="form-control" style="height: 60px;"></textarea>
                            </div>


                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-square  danger-sigae" type="reset" (click)="this.resetForm()">
                            <span class="fa fa-refresh"></span> Limpar
                        </button>
                        <button class="btn btn-square text-light primary-sigae" type="submit" id="btns" [disabled]="formulario.invalid">
                     Registar
                        </button>



                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="actualizar" aria-labelledby="classes" aria-hidden="true">
    <div class="modal-dialog" role="document" style="overflow-y: hidden; min-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    <i class="fa fa-gun "></i> Editar Lotes de Armas
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="this.resetForm()">&times;</span>
                </button>
            </div>

            <div class="content">
                <form [formGroup]="this.formulario">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Número de série
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <input formControlName="serie" type="text" class="form-control">
                            </div>



                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Numero de PL:
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <input formControlName="lote" type="text" class="form-control">
                            </div>



                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Marca da arma
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>

                                <ng-select2 [options]="options" formControlName="marca_id" [data]="this.marcas">
                                </ng-select2>
                            </div>



                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Tipo de armas
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <ng-select2 [options]="options" formControlName="tipo_id" [data]="this.tipos">
                                </ng-select2>
                            </div>


                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Calibre da arma
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <ng-select2 [options]="options" formControlName="calibre_id" [data]="this.calibres">

                                </ng-select2>
                            </div>


                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Quantidade:
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <input formControlName="quantidade" type="number" class="form-control">
                            </div>



                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        País de origem
                                   
                                    </b>
                                </label>
                                <ng-select2 [options]="options" formControlName="pais_id" [data]="this.pais">

                                </ng-select2>
                            </div>

                            <div class="form-group col-md-4">
                                <label>
                                    <b>
                                        Ano de Fabrico
                                       
                                    </b>
                                </label>
                                <input formControlName="ano_fabrico" type="date" class="form-control" onfocus="(this.type='date')">


                            </div>
                            <div class="form-group col-4" style="height: 60px;">
                                <label>
                                    <b>
                                        Descrição da acção
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <input formControlName="descricao" type="text" class="form-control">
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-square danger-sigae" type="reset" (click)="this.resetForm()">
                            <span class="fa fa-refresh"></span> Limpar
                        </button>

                        <button class="btn btn-dark btn-square primary-sigae" type="submit" (click)="this.editar()">
                            <span class="fa fa-refresh"></span> Registar
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="atribuir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Distribui de Armas em Lotes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <form class="forma d-grid justify-content-center w-100 " [formGroup]="atDir" (submit)="passar()">
                        <div class="form-group col" id="inp_at">

                            <div class="col">
                                <label><b>Tipo Orgão</b><span class="text-danger"> *</span></label>
                                <ng-select2 [options]="options" [data]="this.orgaoOuComandoProvincial" (valueChanged)="selecionarOrgaoOuComandoProvincial($event)" autofocus>
                                </ng-select2>
                            </div>

                            <div class="col">
                                <label><b>Orgão</b><span class="text-danger"> *</span></label>
                                <ng-select2 [options]="options" formControlName="orgao_id" [data]="this.direcaoOuOrgao" (valueChanged)="this.selecionarAgente($event)">
                                </ng-select2>
                            </div>


                            <div class="form-group col" id="inp_at">
                                <label>
                                    <b>
                                        Nº do Lote:
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <input type="text" formControlName="lote" class="w-100" style="border-radius:0px;height:40px;" focus>
                            </div>

                            <div class="form-group col" id="inp_at">
                                <label>
                                    <b>
                              Quantidade:
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <input type="text" formControlName="quantidade" class="w-100" style="border-radius:0px;height:40px;" focus>
                            </div>

                            <div class="form-group col" id="inp_at">
                                <label>
                                    <b>
                                        Situação:
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label><br>
                                <input type="text" formControlName="situacao" class="w-100" style="border-radius:0px;height:40px;" focus>
                            </div>
                            <div class="form-group col" id="inp_at">
                                <label>
                                    <b>
                                        Descrição da Acção:
                                        <span class="text-danger"> *</span>
                                    </b>
                                </label>
                                <input type="text" formControlName="descricao" class="w-100" style="border-radius:0px;height:40px;" focus>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit " class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" (click)="passar()" [disabled]="atDir.invalid">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>